.mobile
{
  width:100%;   
}

.mobile .topBar
{
  position: relative;
  height: 40px;
  width: 100%;
  background: url("/documents/545498") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.mobile .topBar .logoDiv
{
  position: absolute;
  left: 5px;
  right: 80px;
  height: 100%;
  border-style: none;  
}
/*
.mobile .topBar .logoDiv .logoLink
{
  display: block;
  height: 100%;
  width: 100%;
  background: url("/templates/mobile2/images/logo.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
*/
.mobile .topBar .showProfileLinkBg
{
  position: absolute;
  width: 40px;
  right: 40px;
  height: 100%;
  background-color: transparent;
}

.mobile .topBar .showProfileLinkBg.selected
{
  background-color: #DCDCDC;
}

.mobile .topBar .showProfileLink
{
  height: 100%;  
  background: url("/templates/mobile2/images/profile_login.png") no-repeat scroll center center rgba(0, 0, 0, 0);  
}

.mobile .topBar .showProfileLink.logged
{
  background: url("/templates/mobile2/images/profile_logout.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.mobile .topBar .showSearchLink
{
  position: absolute;
  width: 40px;
  right: 0px;
  background: url("/templates/mobile2/images/showsearch.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  height: 100%;
}

.mobile .topBar .showSearchLink.selected
{
  background-color: #DCDCDC;
}

.mobile .profileDiv
{
  width:100%;
  background-color: #DCDCDC;  
  max-height: 120px;  
  overflow: hidden;
}

.mobile .profileDiv .loginArea,
.mobile .profileDiv .logoutArea
{
  height: 100%;
  min-width: 200px;
  max-width: 400px;  
}

.mobile .profileDiv .loginArea
{
  min-height: 100px;
}

.mobile .profileDiv .logoutArea
{
  min-height: 70px;  
}

.mobile .profileDiv .loginUserDiv,
.mobile .profileDiv .loginPasswordDiv 
{
  width: 28%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
  height: 60px;
}

.mobile .profileDiv .loginUserDiv .labelDiv,
.mobile .profileDiv .loginPasswordDiv .labelDiv
{
  display: block;
  text-align: left;
  font-size:12px;
  height: 30px;
  line-height: 30px;
}

.mobile .profileDiv .loginUserDiv .inputTextDiv,
.mobile .profileDiv .loginPasswordDiv .inputTextDiv
{
  display: block;
  text-align: left;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
}

.mobile .profileDiv .loginUserDiv .inputTextDiv input,
.mobile .profileDiv .loginPasswordDiv .inputTextDiv input
{
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

.mobile .profileDiv .loginButtonDiv
{
  width: 28%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;  
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  font-size: 12px;
}

.mobile .profileDiv .loginButtonDiv
{
  background-color: #777777;
}

.mobile .profileDiv .loginButtonDiv.password
{
  background-color: #AC1354;  
}

.mobile .profileDiv .loginButtonDiv .loginButton
{
  display: block;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
}

.mobile .profileDiv .errorMessageDiv
{
  width: 100%;
  height: 30px;  
  margin-left: 2.5%;
  font-size: 12px;
  line-height: 30px;
  color: #AC1354;
  font-weight: bold;
}

.mobile .profileDiv .welcomeMessageDiv 
{
  width: 100%;
  height: 30px;  
  margin-left: 2.5%;
  font-size: 12px;
  line-height: 30px;
  color: #AC1354;
  font-weight: bold;
  overflow: hidden;
}

.mobile .profileDiv .logoutButtonDiv,
.mobile .profileDiv .intranetButtonDiv
{
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;  
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  font-size: 12px;
}

.mobile .profileDiv .logoutButtonDiv
{
  background-color: #AC1354;
}

.mobile .profileDiv .intranetButtonDiv
{
  background-color: blue;  
}

.mobile .profileDiv .logoutButtonDiv .logoutButton,
.mobile .profileDiv .intranetButtonDiv .intranetButton
{
  display: block;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
}

.mobile .searchDiv
{
  width:100%;
  background-color: #DCDCDC;
  height: 40px;
  text-align: center;
  position: relative;
}

.mobile .searchDiv > div
{
  height: 100%;
  left: 2%;
  right: 40px;
  position: absolute;
}

.mobile .searchDiv .searchText
{
  border: 0;
  padding : 0;
  height: 26px;    
  width: 100%;
  margin-top: 7px;
}

.mobile .searchDiv .searchButton
{
  border: 0;
  padding: 0;  
  font-size: 11px;
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;    
  background: url("/templates/mobile2/images/search.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.mobile .mainMenuDiv
{
  width:100%;
  background-color: rgb(200,125,148);
}

.mobile .menu
{
  
}

.mobile .menu ul
{
  padding: 0;
  margin: 0;
}

.mobile .menu ul li
{
  list-style: none;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
}

@media (min-width: 550px)
{ 
  .mobile .menu ul li
  {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (min-width: 825px)
{ 
  .mobile .menu ul li
  {
    width: 32%;
    margin-left: 0.66%;
    margin-right: 0.66%;
  }
}

.mobile .menu ul li:first-child
{
  margin-top: 10px;
}

.mobile .menu ul li:last-child
{

}

.mobile .menu ul li .menuItemDiv
{    
  height: 100%;  
  position: relative;
  background-color: #777777;
  overflow: hidden;
}

.mobile .menu ul li .menuItemDiv.selected
{
  background-color: rgb(172,15,84);  
}

.mobile .menu ul li .menuItemDiv.selected .title
{  
  color: white;
}

.mobile .menu ul li .menuItemDiv .iconDiv
{  
  width: 40px;
  height: 100%;
  position: absolute;
  left: 10px;
}

.mobile .menu ul li .menuItemDiv .iconDiv img
{  
  height: 100%;
  width: 100%;  
}

.mobile .menu ul li .menuItemDiv .iconDiv + .textDiv 
{    
  left: 60px;  
}

.mobile .menu ul li .menuItemDiv .textDiv
{    
  height: 100%;
}

.mobile .menu ul li .menuItemDiv .textDiv a
{
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
}

.mobile .menu ul li .menuItemDiv .textDiv .title
{
  line-height: 40px;
  margin-left: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden; 
  margin-bottom: 0px !important;
  width: 100%;
  height: 100%;
  display: block;
}

.mobile .menu ul li .menuItemDiv .textDiv .description
{   
  height: 20px;
  font-size: 10px;    
  overflow: hidden;
  display: block;
}

.mobile .titleBar
{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  border: 0;
  min-height: 40px;
  background-color: #AC1354;
}

.mobile .titleBar .titleDiv
{    
  height: 100%;
  line-height: 40px;  
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.mobile .titleBar .titleDiv #showSiblingsMenuLink
{
  
}

.mobile .titleBar .titleDiv #showSiblingsMenuLink .showSiblingsIcon
{
  width: 24px;
  height: 24px;
  background: url("/templates/mobile2/images/menu.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  background-size: 24px;
  position: relative;
  top: 4px;
  display: inline-block;
}
/*
.mobile .titleBar .titleDiv #showSiblingsMenuLink .showSiblingsIcon2
{
  width: 16px;
  height: 16px;
  background: url("/templates/mobile2/images/show_siblings_down.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  background-size: 16px;
  position: absolute;
  left: 40%;
  right: 40%;
  margin-left: auto;
  margin-right: auto;  
  margin-top: -8px;
}

.mobile .titleBar.open .titleDiv #showSiblingsMenuLink .showSiblingsIcon2
{
  background: url("/templates/mobile2/images/show_siblings_up.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  background-size: 16px;
}
*/
.mobile .titleBar .moveUpDiv,
.mobile .titleBar .showChildrenMenuDiv
{
  position: absolute;  
  top: 0;
  width: 40px;
  height: 100%;
}

.mobile .titleBar .moveUpDiv
{
  left: 0;
}

.mobile .titleBar .showChildrenMenuDiv
{
  right: 0;
}

.mobile .titleBar .showChildrenMenuDiv.open
{

}

.mobile .titleBar .titleMenuLink
{
  width: 100%;     
  height: 40px; 
}

.mobile .titleBar .titleMenuLink a
{
  display: block;
  height: 100%;
  width: 100%;
}

.mobile .titleBar .titleMenuLink#moveUpMenuLink
{
  background: url("/templates/mobile2/images/up.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  background-size: 20px;
}

.mobile .titleBar .showChildrenMenuDiv .titleMenuLink#showChildrenMenuLink
{  
  background: url("/templates/mobile2/images/unfold.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  background-size: 20px;
}

.mobile .titleBar .showChildrenMenuDiv.open .titleMenuLink#showChildrenMenuLink
{  
  background: url("/templates/mobile2/images/fold.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  background-size: 20px;
}

.mobile .titleBar.open
{
  border-bottom: 0px;  
}

.mobile .titleMenuDiv
{  
  margin-left: 10px;
  margin-right: 10px;  
}

.mobile .titleMenuDiv .widgetContainerLayer
{  
  margin-top: 0px;
  padding-top: 10px;
}

.mobile .bodyDiv
{
  margin-left: 10px;
  margin-right: 10px;
}

.mobile .separator
{
  width: 100%;
  height: 10px;
  background: url("/documents/545498") repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;  
}

.mobile .bottomBar
{
  height: 40px;
  text-align: center;
  line-height: 40px; 
  position: relative;
  margin-left: 10px;
  margin-right: 10px;  
}

.mobile .bottomBar .navModeDiv
{
  position: absolute;
  left: 5%;
  width: 40%;
  height: 100%;
}

.mobile .bottomBar .navModeDiv .desktopLink
{
  text-decoration: none;
  color: rgb(172,15,84);
  font-size: 12px;
  font-weight: bold;
}

.mobile .bottomBar .langDiv
{
  position: absolute;
  right: 5%;
  width: 40%;
  height: 100%;
}

.mobile .bottomBar .langDiv .langLink
{
  width: 20px;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  height: 100%;  
  text-decoration: none;
  color: rgb(172,15,84);
  font-size: 12px;
  font-weight: bold;
}

.mobile .bottomBar .snMenuDiv
{
  position: absolute;
  width: 60%;
  left: 20%;
  height: 40px;
  top: 95px;
}

.mobile .bottomBar .snMenuDiv ul
{
  width: 100%;  
  margin: 0;
  padding: 0;
  height: 100%;  
}

.mobile .bottomBar .snMenuDiv ul li
{
  list-style-type: none;  
  width: 16.6%;
  text-align: center;
  display: inline-block;
}

.mobile .bottomBar .snMenuDiv ul li a
{
  text-decoration: none;
  font-size: 11px;
  color: black;
  display: block;
  height: 100%;
  width: 100%;  
}

.mobile .bottomBar .headerMenuDiv
{
  position:absolute;
  height: 46px;  
  left: 0px;
  right: 0px;
  top: 40px;  
}

.mobile .bottomBar .headerMenuDiv ul
{
  margin: 0;
  padding: 0;
  margin-left:auto;
  margin-right:auto;  
  height: 100%;
  width: 100%;
  display:inline-block;
}

.mobile .bottomBar .headerMenuDiv ul li
{
  list-style-type:none;
  float: left;
  text-align: center;
  width: 19.5%;
  height: 100%;
  border-left: 1px solid #A0A0A0;
}

.mobile .bottomBar .headerMenuDiv ul li a
{
  text-decoration:none;
  color:black;
  font-size:11px;
  display: block;
  height: 100%;
  width: 100%;
}

.mobile .bottomBar .headerMenuDiv ul li:first-child
{
  border:none;
}

.mobile .bottomBar .headerMenuDiv ul li a:hover
{
  opacity: 0.5;
}

.mobile .bottomBar .headerMenuDiv ul li span
{
  margin-top: 5px;
  height: 10px;
  line-height: 10px;
}

/* Widget containers */

.mobile .widgetContainerLayer
{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  /* width: 100%; */
}

.mobile .layoutGroup
{
  display: block;
}

.mobile .widget_container
{
  text-align: center;
  width: 100%;
  display: inline-block;
}

.mobile .widget_container ul.widgetList
{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.mobile .widget_container .columnTitle
{
  position: absolute;
  width: 1px;
  height: 1px;
  left: -10000px;
  top: auto;
  overflow: hidden;
  display: block;
  visibility: visible;
}

.mobile .widget_container .widgetGroup
{  
  width: 100%;
  display: inline-block;
}

.mobile .widget_container .widgetGroup .title
{
  font-weight: bold;
  margin-bottom: 5px;
}

.mobile .widget_container .widget
{
  margin-bottom: 20px;
}

.mobile .widget_container .headerBrowser
{
  
}

.mobile .widget_container .headerBrowser img
{
  max-width: 100%;
}

.mobile .widget_container .footerBrowser
{
  
}

.mobile .widget_container .footerBrowser img
{
  max-width: 100%;
}

.mobile .widget_container#interior_container .interior_widget_col_0_33, 
.mobile .widget_container#interior_container .interior_widget_col_1_33, 
.mobile .widget_container#interior_container .interior_widget_col_2_33
{
  width: 100%;
  max-width: 312px;
  margin-left: 0;
  margin-right: 0;  
}

.mobile .widget_container .interior_widget_col_0_33 
{  
  width: 30%;  
  float: left;
  margin-left: 2.5%;
  vertical-align: top;
}

.mobile .widget_container .interior_widget_col_1_33
{
  width: 30%;
  float: left;
  margin-left: 2.5%;
  vertical-align: top;
}

.mobile .widget_container .interior_widget_col_2_33
{  
  width: 30%;    
  float: left;
  margin-left: 2.5%;
  vertical-align: top;
}

.mobile .widget_container .interior_widget_col_0_50 
{  
  width: 46.25%;
  margin-left: 2.5%;
  float: left;
  vertical-align: top;
}

.mobile .widget_container .interior_widget_col_1_50
{  
  width: 46.25%;
  margin-left: 2.5%;
  float: left;
  vertical-align: top;
}

.mobile .widget_container .interior_widget_col_0_100 
{  
  width: 95%;
  margin-left: 2.5%;
  float: left;  
  vertical-align: top;
}

/* Search nodes */

.mobile .objectSearch
{
  padding: 0;
}

/* News */

.mobile .objectSearch .resultList .rootNew .topPanel .dateCol,
.mobile .objectSearch .resultList .sectionNew .topPanel .dateCol,
.mobile .objectSearch .resultList .rootNew .topPanel .hlineCol,
.mobile .objectSearch .resultList .sectionNew .topPanel .hlineCol
{
  display: block;
  width: 100%;
}

.mobile .objectSearch .resultList .rootNew .topPanel .dateCol .newDate,
.mobile .objectSearch .resultList .sectionNew .topPanel .dateCol .newDate
{
  padding-left: 0px;
}

.mobile .objectSearch .resultList .rootNew .bottomPanel .imgColL,
.mobile .objectSearch .resultList .sectionNew .bottomPanel .imgColL
{
  display: block;
  width: auto;
}

.mobile .objectSearch .resultList .rootNew .bottomPanel .summaryCol,
.mobile .objectSearch .resultList .sectionNew .bottomPanel .summaryCol
{
  display: block;
  width: 100%;
}

.mobile .objectSearch .resultList .rootNew .bottomPanel .summaryCol,
.mobile .objectSearch .resultList .sectionNew .bottomPanel .summaryCol
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.mobile .objectSearch .resultList .rootNew .bottomPanel .summary p,
.mobile .objectSearch .resultList .sectionNew .bottomPanel .summary p
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.mobile .objectSearch .resultList .row1 > td,
.mobile .objectSearch .resultList .row2 > td
{
  padding-left: 0;
  padding-right: 0;
}

/* Widget container pagination */

.mobile .widgetContainerPaginator
{
  height: 18px;
  margin-top: 6px;
}

.mobile .widgetContainerPaginator > a
{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-right: 6px;
  float: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;  
}

.mobile .widgetContainerPaginator .pagePrev,
.mobile .widgetContainerPaginator .pageNext
{
  display: none;    
}

.mobile .widget_container .widgetContainerWindow
{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.mobile .widget_container .widgetContainerPages
{
  position: relative;  
}

.mobile .widget_container .widgetContainerPages.pageChange
{  
  -webkit-transition: left 0.2s; /* Safari */
  transition: left 0.2s;  
}

.mobile .widget_container .widgetContainerPage
{  
  display: inline-block;
  vertical-align: top;
}

/* Element invisible */

h1.element-invisible,
h2.element-invisible,
h3.element-invisible,
h4.element-invisible,
h5.element-invisible,
h6.element-invisible,
label.element-invisible
{
  position: absolute;
  width: 1px;
  height: 1px;
  left: -10000px;
  top: auto;
  overflow: hidden;
  display: block;
  visibility: visible;
}

/* NOUS BANNER WIDGETS */

.widget.type_banner .widget_header
{
  height: 0px;
}

.widget.type_banner .widget_content
{
  padding-left: 0;
  padding-right: 0;  
}

.widget .bannerDiv
{
  min-height: 60px;  
}

.widget .bannerDiv .dragArea
{
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.widget .bannerDiv .widget_close
{
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.widget .bannerLink
{
  min-height: 60px;  
}

.widget .bannerLink img
{
  width: 100%;  
}
