<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <string>gdmatrix.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.santfeliu.matrix.client.MatrixClient</string>
    <key>CFBundleDisplayName</key>
    <string>gdmatrix-client</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>gdmatrix-client</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>GDMatrix</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>matrix</string>
        </array>
      </dict>
    </array>
    <key>JVMRuntime</key>
    <string>JRE</string>
    <key>JVMRuntimePath</key>
    <string></string>
    <key>JVMMainClassName</key>
    <string>org.santfeliu.matrix.client.MatrixClient</string>
    <key>JVMClassPaths</key>
    <array>
      <string>*.jar</string>
    </array>
    <key>JVMVersion</key>
    <string>1.6+</string>
    <key>JVMOptions</key>
    <array>
      <string>-Dapple.laf.useScreenMenuBar=true</string>
      <string>-Xdock:name=gdmatrix-client</string>
    </array>
    <key>JVMArguments</key>
    <array/>
    <key>LauncherWorkingDirectory</key>
    <string>$APP_ROOT</string>
  </dict>
</plist>
