.main
{
  width:100%;
  background-color: White;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif; 
}

.main .header
{
  border-style:none;
  text-align:left;
  font-weight:normal;
}

.main .header .column1
{
  width:48%;
  padding-left:4px;
}

.main .header .column2
{
  width:28%;
  text-align:right;
}

.main .header .column3
{
  width:24%;
}

.main .header .row1
{
  vertical-align:middle;  
  height:28px;
}

.main .header .footer
{
  padding-left:4px;
  padding-right:4px;  
  height:28px;
  
  border-top-style:dashed;
  border-color:#C0C0C0;
  border-width:1px;
}

.main .mainRow
{
}

.main .menuCol
{
  width:150px;
  text-align:left;
  background-image:url("../images/vmenu_back.gif");
  vertical-align:top;
}

.main .contCol
{
  width:630px;
  text-align:left;
  vertical-align:top;
  padding-left:10px;
}

.main .contTable
{
}

.main .contTable .hmenuRow
{
  background-image:url("../images/top_back.gif");
  height:40px;
   vertical-align:middle;
}

.main .contTable .contRow
{
  vertical-align:top;
  background-color:white;
  
}

.navPathRow
{
  text-align:left;
  vertical-align:middle;
  background-color:#E00000;
  height:25px;
  padding-left:6px;
}

.main .header .footer .fcol1
{
  width:85%;
  text-align:left;
  height:40px;
}

.main .header .footer .fcol2
{
  width:15%;
  text-align:right;
  height:40px;
}

.navPath
{
  color:white;
  vertical-align:middle;
  font-weight:normal;
}

.navPath A
{
  color:white;
  text-decoration:none;
}

.navPath A:hover
{
  color: #C0C0C0;
  text-decoration:none;
}

.vmenu
{
  width:100%;
  padding:0px;
  margin:0px;
 
}

.vmenu_selected A
{
  display: block;
  width:144px; /* 150px - padding-left */
  text-align:left;
  background-image:url("../images/button_back.gif");  
  text-decoration: none;
  font-weight:normal;
  color:white;
  border-style:solid;
  border-color:#F0F0F0;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  
  padding-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size:11px;
}

.vmenu_unselected A
{
  display: block;
  color:#606060;
  width:144px; /* 150px - padding-left */
  text-align:left;
  text-decoration: none;
  border-style:solid;
  border-color:#D0D0D0;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;

  padding-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size:11px;
}

.vmenu_unselected A:hover
{
  color:Black;
  display: block;
  color:Black;
  background-color:#D8D8D8;
}

.hmenu
{
  vertical-align:middle;
  border-style:none;
  font-size:11px;
  margin:4px;
}

.hmenu_selected
{
  vertical-align:middle;
  text-align:center;
  border-style:solid;
  border-color:#606060;  
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;

  padding-left: 5px;
  padding-right: 5px;
  font-weight:bold;
}

.hmenu_unselected
{
  vertical-align:middle;
  text-align:center;
  border-style:solid;
  border-color:#606060;  
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
  
  padding-left: 5px;
  padding-right: 5px;
}

.hmenu_selected A
{
  color:Black;
  text-decoration:none;
}

.hmenu_unselected A
{
  color:Gray;
  text-decoration:none;  
}

.hmenu_unselected A:hover
{
  color:Black;
  text-decoration:none;  
}

.langSel
{
  font-size:10px;
  color:black;
  font-weight:normal;
  text-align:left;
  vertical-align:middle;
  background-color:white;
  border-style:solid;
  border-color:#E0E0E0;
  border-width:1px;
  margin:0px;
  padding:0px;
}

.dateText
{
  font-size:11px;
  color:Black;
  font-weight:normal;
  text-align:right;
  vertical-align:middle;
}

.loginText
{
  font-size:11px;
  color:Black;
  font-weight:normal;
  vertical-align:middle;
}

.displayNameText
{
  font-size:11px;
  color:gray;
  font-weight:normal;
  vertical-align:middle;
}

.main .content .ccol1
{
  vertical-align:top;  
}

.main .content .ccol2
{
  vertical-align:top;
  width:170px;
}

.main .rightMenuPanel
{
  width:100%;
  background:#eeeeee;
  border-style:dashed;
  border-color:#990000;
  border-width:1px;
}

.main .rightMenuPanel .title
{
  font-weight:bold;
}

.rmenu TR TD
{
  border-color: #eeeeee;
  border-style:dashed;
  border-width: 0px 0px 1px 0px;
  vertical-align:middle;
}

.rmenu_item A
{
  display:block;
  text-decoration:none;
  vertical-align:middle;
  color:black;
  padding:6px;
}

.rmenu_item A:hover
{
  background-color:white;
  color:gray;
}

.rmenu_item A .icon
{
  text-decoration:none;
  margin-right:2px;
  vertical-align:middle;
}


/*************** login styles ******************/

.displayNameText
{
  font-size:14px;
  color:gray;
  font-weight:normal;
  text-align:right;
  vertical-align:middle;
}

.loginCommand
{
  font-size:11px;
  color: #D06060;
  font-weight:normal;  
  text-decoration: none;
  text-align:right;
  margin-left:2px;
  margin-right:2px;
}

A.loginCommand:hover
{
  color: #FF0000;
}

/**************** COMMON STYLES *****************/
input
{
  font-family:Arial, Helvetica, sans-serif, Verdana;
  font-size:11px;
}

select
{
  font-family:Arial, Helvetica, sans-serif, Verdana;
  font-size:12px;
}

textarea
{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:11px;
}

.button
{
  font-size:14px;
  background-color:white;
  border-style:solid;  
  border-width:1px;
  border-color:gray;
}

.buttonLink
{
  color: Green; 
  text-decoration: none;
}

.selectLink 
{
  color: Green; 
  text-decoration: none;
}

.selectLink:hover
{
  color: Green; 
  text-decoration:underline;
}

.infoMessage
{
  color: green; 
  font-weight: bold;  
}

.warnMessage
{
  color: #FF9900;  
  font-weight: bold;    
}

.errorMessage
{
  color: red;
  font-weight: bold;
}

.fatalMessage
{
  color: red;  
  font-weight: bold;  
}


.filterPanel
{
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #EEEEEE;
  text-align: left;
  width: 100%;
}

.filterPanel .fp_header
{
  text-align: center;
}

.filterPanel .fp_column1
{
  width: 80%;
}

.filterSubPanel
{
  width:100%;
}

.filterSubPanel .fsp_column1
{
  width: 30%;
}

.filterSubPanel .fsp_column2
{
  width: 70%;
}

.resultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}
.resultList TD
{
  padding: 2px;
}
.resultList .row1
{
  color:black;
  background-color: #EEEEEE;
}
.resultList .row2
{
  color:black;
  background-color: white;
}
.resultList .selectLink
{
  text-align: right;
}

/********************* NEWS ********************/
.newsListPage
{
}

/* News - Filter Panel */
.newsListPage .filterPanel
{
}

.newsListPage .filterPanel .header
{
}

.newsListPage .filterPanel .fp_column1
{
}

.newsListPage .filterPanel .fp_column2
{
}

.newsListPage .filterSubPanel .fsp_column1
{
  width: 15%;
}

.newsListPage .filterSubPanel .fsp_column2
{
}

/* News - Header Document */
.newsListPage .headerDocument
{
}

/* News - Footer Document */
.newsListPage .footerDocument
{
}

/* News - Result List */
.newsListPage .resultList
{
}

.newsListPage .resultList .body
{
}

.newsListPage .resultList .body .section
{
  font-size: 10px;
  text-align: right;
}

.newsListPage .resultList .body .documents
{
}

.newsListPage .resultList .body .documents .header
{
}

.newsListPage .resultList .body .headline
{

}

.newsListPage .resultList .body .headline .column1 A
{
  color: Black;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
}

.newsListPage .resultList .body .headline A:hover
{
  text-decoration: underline;
}

.newsListPage .resultList .body .headline .column2
{
  text-align: right;
}

.newsListPage .resultList .body .headline .column2 A
{
  color: Black;
  text-decoration: none;
}

.newsListPage .resultList .body .content
{
}

.newsListPage .resultList .body .content .column1
{
  width: 15%;
  text-align: left;
}
.newsListPage .resultList .body .content .column2
{
  width: 85%;
  vertical-align: top;
  text-align: left;
}


/* News - Pàgina noticia ampliada */
.newsSelectPage
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.newsSelectPage .header
{
  text-align: right;
  font-size: 10px;
}

.newsSelectPage .headline
{
  background-color: rgb(247,247,247);
  font-size: 18px;
}

.newsSelectPage .body
{
}

.newsSelectPage .footer
{
  text-align: center; 
}

.newsSelectPage .documents
{
  
}



/******************** AGENDA *******************/
/* Agenda - Header Document */
.newsListPage .headerDocument
{
}

/* Agenda - Footer Document */
.newsListPage .footerDocument
{
}

/* Agenda - Result List */
.agendaListPage .resultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.agendaListPage .resultList TD
{
  padding: 2px;
}

.agendaListPage .resultList .row1
{
  background-color: #EEEEEE;
}

.agendaListPage .resultList .row2
{
  background-color: white;
}

.agendaListPage .resultList .eventHeader .column1
{
  width: 5%;
}
.agendaListPage .resultList .eventHeader .column2
{
  width: 20%;
}
.agendaListPage .resultList .eventHeader .column3
{
  width: 5%;
}
.agendaListPage .resultList .eventHeader .column4
{
  width: 15%;
}
.agendaListPage .resultList .eventHeader .column5
{
  width: 55%;
  text-align: right;
}
.agendaListPage .resultList .eventName
{
  font-weight: bold;
}
.agendaListPage .resultList .eventName A
{
  text-decoration: none;
  color: Black;
}
.agendaListPage .resultList .eventName A:hover
{
  text-decoration: underline;
}

/* Agenda - Pantalla esdeveniment */
.agendaEventPage
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.agendaEventPage .eventType
{
  text-align: right;
  font-size: 8px; 
  padding-right: 5px;  
}

.agendaEventPage .eventTitle
{
  font-size: 14px;
  font-weight: bold;
}

.agendaEventPage .description
{
  font-size: 14px;
}

.agendaEventPage .timetable .column1
{
  width:5%;
  vertical-align: top;
}

.agendaEventPage .timetable .column2
{
  width:95%;
}


/************** DOCUMENTS **************/
.documentsListPage .filterPanel
{
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #EEEEEE;
  text-align: left;
  width: 100%;
}
.documentsListPage .filterPanel .fp_header
{
  text-align: center;
}
.documentsListPage .filterPanel .fp_column1
{
  width: 80%;
}
.documentsListPage .filterSubPanel
{
  width:100%;
}
.documentsListPage .filterSubPanel .fsp_column1
{
  width: 30%;
}
.documentsListPage.filterSubPanel .fsp_column2
{
  width: 70%;
}

.documentsListPage .column1
{
}
.documentsListPage .column2
{
}
.documentsListPage .column3
{
}
.documentsListPage .column4
{
}
.documentsListPage .column5
{
}

.documentsTreePage .documentTree table tr td
{
  padding-bottom:8px;
}

.documentsTreePage .documentTree .nodeFolder
{
  font-style: italic;
}

.forumResultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
  
}

.forumResultList TD
{
  padding: 2px;
}

.forumResultList .row1
{
  background-color: #EEEEEE;
}

.forumResultList .row2
{
  background-color: white;
}

.forumResultList .mainCell
{
  font-weight: bold;
}

.forumResultList .selectLink
{
  text-align: right;
}

.forumResultList .column1
{
  width:30%;
}
.forumResultList .column2
{
  width:65%;
}

.forumResultList .column3
{
  width:5%;
}

.dataScroller
{
  text-align: center;
  font-weight: normal;
}
.dataScroller A
{
  text-decoration: none;
  color: Green;
}

.dataScrollerPaginatorActiveColumn
{
  font-weight: bold;
  font-size: larger;
}

.form
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}
.form .column1
{
  background-color: #EEEEEE;    
  vertical-align: top;
  padding: 4px;
}
.form .mainCell
{
  font-weight: bold;
}
.form .footer
{
  text-align: center;
}

.inputCalendar
{
  width: 35%;
}

.forumName
{
  color: Black;
  font-size: 15px;
  font-family: Verdana,Arial;
}

.questionTitle
{
  color: Green;
  font-size: 15px;
  font-family: Verdana,Arial;
}

.forumsList 
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;  
}
.forumsList .column1
{
  vertical-align: top;
  width:75%;
}

.forumsList .column2
{
  vertical-align: top;
  text-align: center;
  width:25%;
}

.forumsList .row1
{
  background-color: #FFF8E0;
}

.forumsList .row2
{
  background-color: #FFFFFF;
}

.questionsList
{ 
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsList .column1 
{
  width:80%;
  vertical-align:top;
}

.questionsList .column2 
{
  text-align: center;
  width:10%;    
}
.questionsList .column3 
{
  text-align: center;
  width:10%;    
}

.questionsList .row1
{
  background-color: #EEEEEE;
}

.questionsList .row2
{
  background-color: white;
}

.questionsAndAnswersList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsAndAnswersList .column1 
{
  width:100%;
  vertical-align:top;
}

.questionsAndAnswersList .row1
{
  background-color: #D8D8D8;
}

.questionsAndAnswersList .row2
{
  background-color: #EEEEEE;
}

.questionsAndAnswersList .rowQuestion
{
  width:100%;
}

.questionsAndAnswersList .rowAnswer
{
  width:100%;
  font-style: italic;
}

.answersList
{  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.answersList .column1 
{
  vertical-align: top;
  width:25%; 
}

.answersList .column2 
{
  vertical-align: top;
  width:75%;    
}

.answersList .row1
{
  background-color: #EEEEEE;
}

.answersList .row2
{
  background-color: white;
}

.questionPage .mainCell
{
  font-weight: bold;
}

.newQuestionPage 
{
    
}

.newQuestionPage .column1
{
  vertical-align: top;     
}

.newQuestionPage .column2
{
  width:500px;        
}

.selectMenuLink
{
  display:block;
  width:100%;
  text-decoration:none;
}

A.selectMenuLink:hover
{
  display:block;
  background-color:white;
  width:100%;
  text-decoration:none;
}


/*********** workflow **********/

.workflowInstance
{
  border-style:solid;
  border-width:1px;
  border-color:#C0C0C0;
  background-color:#FFF0F0;  
}

.workflowInstance .header
{
  background-color:#FFD0C0;
  height:32px;  
}

.workflowInstance .header .instanceNumber
{
  color:black;
  font-size: 13px;
  font-style:italic;
}

.workflowInstance .header .stateDesc
{
  color:black;
  font-size: 14px;
}

.workflowInstance .header .col1
{
  width:86%;
  text-align:left;
}

.workflowInstance .header .col2
{
  width:14%;
  text-align:right;
}

.workflowInstance .header .footer
{
  padding:1px;
}

.workflowInstance .footer
{
  background-color:#FFD0D0;
  height:32px;
}

.workflowInstance .footer .col1
{
  width:50%;
  text-align:left;
}

.workflowInstance .footer .col2
{
  width:50%;
  text-align:right;
}

.normalVar
{ 
  color:black;
}

.formVar
{
  color:#008000;
  font-weight:bold; 
}

.errorVar
{
  color:red;
  font-weight:bold; 
}

.accessVar
{
  color:#606060;
  font-weight:bold;
}

.workflowErrorDialog
{
  border-style:dashed;
  border-color:#FF8080;
  border-width:1px;
  background-color:#FFFFEE;
}

.workflowErrorDialog .header
{
  text-align:left;
  font-weight:bold;
}

.workflowErrorDialog .footer
{
  text-align:center;
}

.workflowErrorDialog .col1
{
  width:40px;
  text-align:center;
}

.workflowErrorDialog .col2
{
}

.workflowForms
{
  border-style:solid;
  border-width:1px;
  border-color:red;
}

.instanceListTable
{
  background-color:#FFF0F0;  
  border-style:solid;
  border-width:1px;
  border-color:gray;  
}

.instanceListTable .header
{
  background-color:#FFD0C0;
}

.instanceListTable .col1
{
  width:8%;
}

.instanceListTable .col2
{
  width:4%;
  border-left: 1px solid #FFD0C0;
  text-align:center;
}

.instanceListTable .col3
{
  width:48%;
  border-left: 1px solid #FFD0C0;
}

.instanceListTable .col4
{
  width:40%;
  text-align:right;
}

.instanceListTable .row1
{
  background-color:White;
  height:32px;
}

.instanceListTable .row1:hover
{
  background-color:#FFFFD0;
}

.instanceListTable .row2
{
  height:32px;
}

.instanceListTable .row2:hover
{
  background-color:#FFFFD0;
}

.instanceListTable .footer
{
  border-style:none;
  border-top-style:solid;
  border-color:gray;
  border-width:1px;
}

.instanceListTable .legend .fcol1
{
  width:40%;
  text-align:left;
}

.instanceListTable .legend .fcol2
{
  width:60%;
  text-align:right;
}

.instanceUserState
{
  color:black;
}

.instanceInternalState
{
  color:gray;
  font-size:11px;
}

.workflowMessage
{
  font-weight:bold;
}

.workflowCommandLink
{
  vertical-align:middle;
  display:-moz-inline-box;
  display:inline-block;
  text-decoration:none;
  color:Black;
  padding:2px 6px 2px 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  background:url("/common/workflow/images/button.gif");
  border-color:black;
  border-style:solid;
  border-width:1px;
}

A.workflowCommandLink:hover
{
  background:url("/common/workflow/images/button_hover.gif");
}

li.procedureListItem
{
  list-style-type: none;
  list-style-position: outside;
  vertical-align: middle;
  display: block;  
  margin:2px;
}

.procedureGroupText
{
  color:Red;
  font-size:14px;
}

.procedureText
{
  color:#404040;
  font-size:13px;
  margin-right:2px;
}

A.procedureButton
{
  color:#FF8080;
  font-size: 11px;
  font-weight:bold;
  text-decoration:none;
}

A.procedureButton:hover
{
  background-color:#FFFF20;
}

A.consultButton
{
  color:#B0B0B0;
  font-size: 11px;
  text-decoration:none;
}

A.consultButton:hover
{
  background-color:#FFFF20;
}

.sectionHeader
{
  display:block;
  padding:2px;
  font-weight: normal;
  background-color:#FFD0D0;  
}

.uploadFilesList
{
  background-color:white;
  border-style:solid;
  border-color:gray;
  border-width:1px;
}

.uploadFilesList .header
{
  background-color:white;
  border-style:none;
  height:24px;
}

.uploadFilesList .row1
{
  background-color:#FAFAFA;
  height:24px;
}

.uploadFilesList .row2
{
  background-color:white;
  height:24px;
}

.uploadFilesList .col1
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
}

.uploadFilesList .col2
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
}

.uploadFilesList .col3
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:0px;
}

.uploadFilesList .documentLink
{
  text-decoration:none;
  color:black;
}

.uploadFilesList A.documentLink:hover
{
  color:#802020;
}

A.docPrintButton
{
  font-size:20px;
  color:black;
  display:inline-block; 
  text-decoration:none;
  background-color:#DDD0D0;
  border-style:groove;
  padding:6px;
  text-align:center;
}

A.docPrintButton:hover
{
  background-color:#EEE0E0;
}

.workflowPrintFooter
{
  text-align:center;
}

/***** web map *****/

.webMapLeaf
{
  color:gray;
  text-decoration:none;  
}

A.webMapLeaf:hover
{
  color:red;
}

.webMapGroup
{
  color:Black;
  text-decoration:none;
}

A.webMapGroup:hover
{
  color:red;
}

.webMapMenuItem
{
  list-style-type:none;
}

/******* print *******/
.printButton
{
  text-align:right;
}

.printButton A
{
  text-decoration:none;
  color:Black;
  display:inline-block;
  padding:1px 3px 1px 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  background:#F0F0F0;
  border-color:gray;
  border-style:solid;
  border-width:1px;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif; 
}

.printButton A:hover
{
  background:#FEFEFE;
  border-color:black;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif; 
}

.docContentCol1
{
  width: 70%;
}

.docContentCol2
{
  width: 30%;
}

.docContentCol2 IMG
{
  width: 120px;
}

