/* security */
body.loginPage
{
  padding:8px;
  background-color: #F0F0F0;
}

.ui-linkbutton a
{
  text-decoration: none;
  outline: none;
}

/* UserInRole */

.futureUserInRole
{
  color: #0000FF;
}

.oldUserInRole
{
  color: #AAAAAA;
}

.existingUserInRole
{
}

/* register form */
.register .column1
{
  float:left;
  width: 30%;
  padding: 2px;
}

.register .column2
{
  width: 70%;
  padding: 2px;
}

/* Element invisible */

h1.element-invisible,
h2.element-invisible,
h3.element-invisible,
h4.element-invisible,
h5.element-invisible,
h6.element-invisible
{
  position: absolute;
  width: 1px;
  height: 1px;
  left: -10000px;
  top: auto;
  overflow: hidden;
  display: block;
  visibility: visible;
}

/* Roles tree */

.rolesTreeSearch .filterPanel .column1
{ 
}

.rolesTreeSearch .filterPanel .column2
{ 
}

.rolesTreeSearch .filterPanel .column3
{
}

.rolesTreeSearch .filterPanel .inputBox
{
  width: 200px;  
}

.rolesTreeSearch .filterPanel .searchButton
{
  margin: 0;
  height: 20px;
}

.rolesTreeSearch .treeButtons
{
  margin-top: 10px;
}

.rolesTreeSearch .rolesTree
{
  margin-top: 10px;
}

.rolesTreeSearch .rolesTree .roleLink
{
  text-decoration: none;
  color: black;
}

.rolesTreeSearch .rolesTree .roleLink.cycle
{
  color: red;
}

.rolesTreeSearch .rolesTree .roleLink.found
{
  background-color: yellow;
}

.rolesTreeSearch .ui-tree 
{
  width: 100%;  
}
/*
.rolesTreeSearch .ui-tree .ui-tree-toggler
{
  width: 16px;
  height: 16px;  
}

.rolesTreeSearch .ui-tree .ui-tree-toggler.ui-icon-triangle-1-e
{
  background-image: url('/common/security/images/expand.png');
}

.rolesTreeSearch .ui-tree .ui-tree-toggler.ui-icon-triangle-1-s
{
  background-image: url('/common/security/images/collapse.png');
}
*/
.rolesTreeSearch .ui-tree .ui-treenode-leaf-icon 
{
  vertical-align: middle;
}

.rolesTreeSearch .ui-tree .ui-treenode-label 
{
  height: 20px;
  line-height: 20px;
}

.rolesTreeSearch .ui-widget
{
  font-family: inherit;
  font-size: inherit;
}