/* grx */

.mapBrowser .filterPanel
{
}

.mapBrowser .filterPanel > tbody > tr > td.col1
{
  text-align: left;
}

.mapBrowser .filterPanel > tbody > tr > td.col2
{
  text-align: right;
}

.addressList .addressEntry
{
  display:block;
}

.addressList .addressEntry:hover
{
  background:yellow;
}