/* maplibre-default.css */

.maplibregl-map
{
  background-color: var(--surface-200);
}

.maplibre_panel_container
{
  background-color: var(--surface-ground);
  position:absolute;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
  z-index: 2;
  overflow-y:hidden;
}

.maplibre_handler
{
  position:absolute;
  z-index: 2;
  overflow: hidden;
}

.maplibre_handler div
{
  position: absolute;
  background-color: var(--surface-300);
  border-radius: 2px;
}

.maplibre_handler.right
{
  cursor: ew-resize;
}

.maplibre_handler.right div
{
  right: 1px;
  width: 4px;
  top: calc(50% - 30px);
  height: 60px;
}

.maplibre_handler.left
{
  cursor: ew-resize;
}

.maplibre_handler.left div
{
  left: 1px;
  width: 4px;
  top: calc(50% - 30px);
  height: 60px;
}

.maplibre_handler.top
{
  cursor: ns-resize;
}

.maplibre_handler.top div
{
  top: 1px;
  height: 4px;
  left: calc(50% - 30px);
  width: 60px;
}

.maplibre_handler.bottom
{
  cursor: ns-resize;
}

.maplibre_handler.bottom div
{
  bottom: 1px;
  height: 4px;
  left: calc(50% - 30px);
  width: 60px;
}

/* Buttons */

.maplibregl-ctrl.maplibregl-ctrl-group
{
  background-color: var(--surface-50);
  color: var(--text-color);
}

.maplibregl-ctrl.maplibregl-ctrl-group > button > span
{
  color: var(--text-color);
}

.maplibregl-ctrl.maplibregl-ctrl-group.active
{
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.maplibregl-ctrl.maplibregl-ctrl-group.active > button > span
{
  color: var(--primary-color-text);  
}

.maplibregl-ctrl-icon
{
  background-color: var(--text-color);
}

@keyframes flash 
{
  0% { background: yellow; }
  50% { background: white; }
  100% { background: yellow; }
}

.maplibregl-ctrl.maplibregl-ctrl-group.flash
{
  background: yellow;
  animation: flash 1s infinite;
  color: black;
}

.maplibregl-ctrl.maplibregl-ctrl-group.flash.error
{
  color: red;
  font-weight: bold;
}

/* Panels */

.maplibre_panel_container .scroller
{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  overflow: auto;
  padding: 4px;
}

.maplibre_panel_container .scroller .panel
{
  width: 100%;
  padding: 4px;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.maplibre_panel_container .scroller .panel > .header
{
  font-weight: bold;
}

.maplibre_panel_container .scroller .panel > .header a
{
  color: var(--text-color);
  text-decoration: none;
}

.maplibre_panel_container .scroller .panel .panel_button
{
  width:16px;
  height:16px;
  background: transparent;
  border: none;
  color: var(--text-color);
}

.maplibre_panel_container .scroller .panel .body
{
  color: var(--text-color);
  background: var(--surface-ground);  
}

/* FindFetureControl */

.maplibre_panel_container .scroller .panel .finder_selector
{
  list-style: none;
  padding-left: 0;
}

.maplibre_panel_container .scroller .panel .finder_selector li
{
  display: flex;
  align-items: start;
  padding-bottom: 4px;
}

.maplibre_panel_container .scroller .panel .finder_selector li a
{
  text-decoration: none;
  color: var(--text-color);
}

.maplibre_panel_container .scroller .panel .finder_selector li.selected a
{
  font-weight: bold;
}

.maplibre_panel_container .scroller .panel .finder_selector li i
{
  padding-top: 4px;
  visibility: hidden;
}

.maplibre_panel_container .scroller .panel .finder_selector li.selected i
{
  visibility:visible;
}

.maplibre_panel_container .scroller .panel .finder_results
{
  list-style-type: none;
  padding-left: 0;
  width:100%;
}

.maplibre_panel_container .scroller .panel .finder_results li
{
  display: flex;
  align-items: start;
  margin-bottom: 0.25rem;
}

.maplibre_panel_container .scroller .panel .finder_results li i,
.maplibre_panel_container .scroller .panel .finder_results li img
{
  padding-top: 4px;
}

.maplibre_panel_container .scroller .panel .finder_results li a
{
  text-wrap: wrap;
  overflow-wrap: anywhere;
  text-decoration: none;
  color: var(--text-color);
}

.maplibre_panel_container .scroller .panel .finder_results li a:hover
{
  color: var(--primary-color);  
}

.maplibre_panel_container .scroller .panel ul.error
{
  list-style-type: none;
  padding-left: 0;
}

.maplibre_panel_container .scroller .panel ul.error li
{
  color: red;
}

/* LegendControl */

.maplibre_panel_container .scroller .panel ul.legend
{
  padding-left: 4px;
  list-style: none;
}

.maplibre_panel_container .scroller .panel ul.legend ul
{
  list-style: none;
  padding-left: 16px;
  overflow: hidden;
}

.maplibre_panel_container .scroller .panel ul.legend li > div
{
  display: flex;
  align-items: start;
  padding-top: 3px;
  padding-bottom: 3px;  
}

.maplibre_panel_container .scroller .panel ul.legend li > div > button
{
  border: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 0;
  margin-right: 8px;
  margin-top: 3px;
  cursor: pointer;
}

.maplibre_panel_container .scroller .panel ul.legend li > div > button > span
{
  transition: transform 0.2s linear;
}

.maplibre_panel_container .scroller .panel ul.legend > li > div
{
  font-weight: bold;
}

.maplibre_panel_container .scroller .panel ul.legend a
{
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: start;
}

.maplibre_panel_container .scroller .panel ul.legend a > i
{
  padding-top: 4px;
  padding-right: 4px;  
}

.maplibre_panel_container .scroller .panel ul.legend a.hidden_layer > i
{
  color: var(--surface-400);
}

.maplibre_panel_container .scroller .panel ul.legend a.hidden_layer > span
{
  color: var(--surface-600);
}

.maplibre_panel_container .scroller .panel ul.legend li > div .graphic
{
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-top: 2px;
  margin-right: 4px;
  flex-shrink: 0;
}

.maplibre_panel_container .scroller .panel ul.legend li > div .graphic.circle
{
  border-radius: 50%;
}

/* Measure controls */

.maplibre_panel_container .button_bar button
{
  font-family: var(--font-family);
  font-size: 13px;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 2px;
}

.maplibregl-map .export_link
{
  text-decoration: none;
  background-color: var(--surface-100);
  color: var(--text-color);
  border-color: var(--surface-400);
  border-width: 1px;
  border-style: solid;
  margin: 3px;
  padding:2px 4px 2px 4px;
  border-radius: var(--border-radius);
  display:inline-block;
}

/* ExportAreaControl */

.maplibregl-map .export_link:hover
{
  border-color: var(--surface-500);  
  background-color: var(--surface-300);
}

/* GetFeatureInfoControl */

.maplibregl-map .custom_form input,
.maplibregl-map .custom_form textarea,
.maplibregl-map .custom_form select
{
  font-family: var(--font-family);
  font-size: 12px;
  padding: 0.3rem 0.3rem !important;
  color: var(--text-color);
  background-color: var(--surface-ground);
  outline: 0 none;
  border-color: var(--surface-border);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s,opacity .2s;
}

.maplibregl-map .custom_form select
{
  padding: 0 !important;  
}

.maplibregl-map .custom_form input[type=submit]
{
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.maplibregl-map .custom_form input:hover,
.maplibregl-map .custom_form textarea:hover,
.maplibregl-map .custom_form select:hover
{
  border-color: var(--primary-color);
}

.maplibregl-map .custom_form input:focus,
.maplibregl-map .custom_form textarea:focus,
.maplibregl-map .custom_form select:focus
{
  border-color: var(--primary-color);
  box-shadow: var(--focus-ring);
}
