/* maplibre-default.css */

div.maplibre_layout
{
  display: flex;
  flex-direction: row;    
}

div.maplibre_panel_container
{
  position:relative;
  transition: width 0.2s linear;
  width: 0;
}

div.maplibre_panel_container.expanded
{
  width: 260px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

div.maplibre_panel_container .scroller
{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  overflow: auto;
}

div.maplibre_panel_container .scroller .panel
{
  width: 100%;
  padding: 4px;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  margin-bottom: 10px;
}

div.maplibre_panel_container .scroller .panel > .header
{
  font-weight: bold; 
}

div.maplibre_panel_container .scroller .panel .panel_button
{
  width:16px;
  height:16px;
  background: transparent;
  border: none;
  color: var(--text-color);
}

div.maplibre_panel_container .scroller .panel .body
{
  color: var(--text-color);
  background: var(--surface-ground);  
}

div.maplibregl-ctrl.active
{
  background-color: yellow;
}

/* Legend */

div.maplibre_panel_container .scroller .panel ul.legend
{
  padding-left: 4px;
  list-style: none;
}

div.maplibre_panel_container .scroller .panel ul.legend li
{
  position: relative;
}

div.maplibre_panel_container .scroller .panel ul.legend ul
{
  list-style: none;
  padding-left: 16px;
  overflow: hidden;
  transition: max-height 0.3s linear;
}

div.maplibre_panel_container .scroller .panel ul.legend li > div
{
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;  
}

div.maplibre_panel_container .scroller .panel ul.legend li > div > button
{
  border: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
}

div.maplibre_panel_container .scroller .panel ul.legend li > div > button > span
{
  transition: transform 0.3s linear;
}

div.maplibre_panel_container .scroller .panel ul.legend > li > div
{
  font-weight: bold;
}

div.maplibre_panel_container .scroller .panel ul.legend a
{
  text-decoration: none;
  color: var(--text-color);
}

div.maplibre_panel_container .scroller .panel ul.legend .hidden_layer
{
  color: #888888;
}

div.maplibre_panel_container .scroller .panel ul.legend li > div .graphic
{
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
}

div.maplibre_panel_container .scroller .panel ul.legend li > div .graphic.circle
{
  border-radius: 50%;
}

div.maplibre_panel_container .scroller .panel ul.feature_info
{
  list-style-type: none;  
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}

div.maplibre_panel_container .scroller .panel ul.feature_info ul
{
  padding-left: 20px;  
}

div.maplibre_panel_container .scroller .panel ul.feature_info > li
{
  padding-bottom: 4px;  
}

div.maplibre_panel_container .scroller .panel ul.feature_info > li > div
{
  padding-top: 4px; 
  padding-bottom: 4px; 
  font-weight: bold;
}

div.maplibre_panel_container .scroller .panel ul.feature_info li
{
  list-style-type: disc;  
  padding-left: 0px;
}

@media only screen and (max-width: 700px) 
{
  div.maplibre_layout
  {
    flex-direction: column;
  }

  div.maplibre_panel_container
  {
    transition: height 0.2s linear;
  }

  div.maplibre_panel_container
  {
    height: 0;    
  }
  
  div.maplibre_panel_container.expanded
  {
    width: 100%;
    height: 200px;
  }  
}

div.maplibre_panel_container .button_bar button
{
  font-family: var(--font-family);
  font-size: 13px;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 2px;
}

.export_link
{
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  margin: 3px;
  padding:2px 4px 2px 4px;
  border-radius: var(--border-radius);
  display:inline-block;
}

