/* maplibre-default.css */

div.maplibre_panel_container
{
  background-color: var(--surface-ground);
  position:absolute;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
  z-index: 2;
  overflow-y:hidden;
}

div.maplibre_handler
{
  position:absolute;
  z-index: 2;
  overflow: hidden;
}

div.maplibre_handler div
{
  position: absolute;
  background-color: var(--surface-300);
  border-radius: 2px;
}

div.maplibre_handler.right
{
  cursor: ew-resize;
}

div.maplibre_handler.right div
{
  right: 1px;
  width: 4px;
  top: calc(50% - 30px);
  height: 60px;
}

div.maplibre_handler.left
{
  cursor: ew-resize;
}

div.maplibre_handler.left div
{
  left: 1px;
  width: 4px;
  top: calc(50% - 30px);
  height: 60px;
}

div.maplibre_handler.top
{
  cursor: ns-resize;
}

div.maplibre_handler.top div
{
  top: 1px;
  height: 4px;
  left: calc(50% - 30px);
  width: 60px;
}

div.maplibre_handler.bottom
{
  cursor: ns-resize;
}

div.maplibre_handler.bottom div
{
  bottom: 1px;
  height: 4px;
  left: calc(50% - 30px);
  width: 60px;
}

div.maplibre_panel_container .scroller
{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  overflow: auto;
  padding: 4px;
}

div.maplibre_panel_container .scroller .panel
{
  width: 100%;
  padding: 4px;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

div.maplibre_panel_container .scroller .panel > .header
{
  font-weight: bold;
}

div.maplibre_panel_container .scroller .panel > .header a
{
  color: var(--text-color);
  text-decoration: none;
}

div.maplibre_panel_container .scroller .panel .panel_button
{
  width:16px;
  height:16px;
  background: transparent;
  border: none;
  color: var(--text-color);
}

div.maplibre_panel_container .scroller .panel .body
{
  color: var(--text-color);
  background: var(--surface-ground);  
}

div.maplibregl-ctrl.active
{
  background-color: yellow;
}

div.maplibre_panel_container .scroller .panel .finder_results
{
  list-style-type: none;
  padding-left: 0;
  width:100%;
}

div.maplibre_panel_container .scroller .panel .finder_results li
{
  display: flex;
  align-items: start;
  margin-bottom: 0.25rem;
}

div.maplibre_panel_container .scroller .panel .finder_results li i,
div.maplibre_panel_container .scroller .panel .finder_results li img
{
  padding-top: 4px;
}

div.maplibre_panel_container .scroller .panel .finder_results li a
{
  text-wrap: wrap;
  overflow-wrap: anywhere;
  text-decoration: none;
}

div.maplibre_panel_container .scroller .panel ul.error
{
  list-style-type: none;
  padding-left: 0;
}

div.maplibre_panel_container .scroller .panel ul.error li
{
  color: red;
}

/* Legend */

div.maplibre_panel_container .scroller .panel ul.legend
{
  padding-left: 4px;
  list-style: none;
}

div.maplibre_panel_container .scroller .panel ul.legend ul
{
  list-style: none;
  padding-left: 16px;
  overflow: hidden;
  transition: max-height 0.3s linear;
}

div.maplibre_panel_container .scroller .panel ul.legend li > div
{
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;  
}

div.maplibre_panel_container .scroller .panel ul.legend li > div > button
{
  border: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
}

div.maplibre_panel_container .scroller .panel ul.legend li > div > button > span
{
  transition: transform 0.3s linear;
}

div.maplibre_panel_container .scroller .panel ul.legend > li > div
{
  font-weight: bold;
}

div.maplibre_panel_container .scroller .panel ul.legend a
{
  text-decoration: none;
  color: var(--text-color);
  white-space: nowrap; 
}

div.maplibre_panel_container .scroller .panel ul.legend .hidden_layer
{
  color: #888888;
}

div.maplibre_panel_container .scroller .panel ul.legend li > div .graphic
{
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
  flex-shrink: 0;
}

div.maplibre_panel_container .scroller .panel ul.legend li > div .graphic.circle
{
  border-radius: 50%;
}

div.maplibre_panel_container .scroller .panel ul.feature_info
{
  list-style-type: none;  
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}

div.maplibre_panel_container .scroller .panel ul.feature_info ul
{
  padding-left: 20px;  
}

div.maplibre_panel_container .scroller .panel ul.feature_info > li
{
  padding-bottom: 4px;  
}

div.maplibre_panel_container .scroller .panel ul.feature_info > li > div
{
  padding-top: 4px; 
  padding-bottom: 4px; 
  font-weight: bold;
}

div.maplibre_panel_container .scroller .panel ul.feature_info li
{
  list-style-type: disc;  
  padding-left: 0px;
}

div.maplibre_panel_container .button_bar button
{
  font-family: var(--font-family);
  font-size: 13px;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 2px;
}

.export_link
{
  text-decoration: none;
  background-color: var(--surface-200);
  color: var(--text-color);
  border-color: var(--surface-400);
  border-width: 1px;
  border-style: solid;
  margin: 3px;
  padding:2px 4px 2px 4px;
  border-radius: var(--border-radius);
  display:inline-block;
}

.export_link:hover
{
  border-color: var(--surface-500);  
  background-color: var(--surface-300);
}


.maplibregl-ctrl.maplibregl-ctrl-group > button > span
{
  color: #202020;
}

