/***** AGENDA MODULE CSS *****/

:root 
{
  --schedule-item-default-backgroundcolor: #F8F8F8;
  --schedule-item-default-color: #333;
  --schedule-item-default-border: 1px solid #DDD;  
}

/*** event_list_grouped.xhtml ***/

.eventList
{
}

.eventList .ui-dataview-header
{
  display: none;
}

.eventList .dayHeader
{
  font-weight: bold;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 4px;
}

.eventList .eventRow
{
  display: flex;
  flex-direction: row;
}

.eventList .eventRow
{
  padding: 0.25rem;
}

.eventList .eventRow.current,
.fc .current,
.fc-daygrid-dot-event.current .fc-event-title
{
  font-weight: bold;
}

.eventList .eventRow > div
{
  flex-grow: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.eventList .eventRow .eventHours > *,
.eventList .eventRow .eventDescription > *
{
  display: inline;
}

.eventList .eventRow .eventHours
{
  min-width: 90px;
  padding:3px;
  padding-right: 8px;
  text-align: right;
}

.eventList .eventRow .eventDescription
{
  flex-grow: 1;
  border-radius: var(--border-radius);
  padding: 4px;
  border: 1px solid var(--surface-200);
}

.eventList .eventRow:hover .eventDescription
{
  border-color: var(--surface-400);
}

.eventList .eventRow .eventActions
{
  min-width: 60px;
  text-align: right;
}

.eventList li.ui-dataview-row
{
  border: 0 !important;
}

.eventList .eventActions .publicIcon,
.eventList .eventActions .onlyAtt
{  
  cursor: default;
  padding: 0.5rem;
}

.eventList .eventActions .publicIcon
{
  font-size: 15px;
}

/*** event_persons.xhtml ***/

.eventPersonsTable .standardBlink
{
  --blink-bg-color: var(--surface-300);  
}

/*** event_recurrences.xhtml and event_copy_*.xhtml ***/

.eventRecurrences.dialog
{
  width: 90% !important;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.eventRecurrences .flex
{
  display: flex;
  flex-wrap: wrap;
}

.eventRecurrences .field-radiobutton
{
  flex-wrap: wrap;
}

.eventRecurrences .collapsiblePanel
{
  background-color: #eeeeee;
  padding:5px;
}

.eventRecurrences .collapsiblePanel .title
{
  width:100%;
  font-weight:bold;
}

.eventRecurrences .actionBar
{
  width:100%;
  text-align:right;
  margin-top: 5px;
}

.eventRecurrences .actionBar button
{
  margin-left: 8px;
}

.eventRecurrences .actionBar.settings
{
}

.eventRecurrences .actionsContainer
{
  text-align:left;
  padding:4px;
  width:100%;
}

.eventRecurrences .selected
{
  color: gray;
}

.eventRecurrences .inputDate input
{
  max-width: 100px;
}

.eventRecurrences .inputDateLong input
{
  max-width: 120px;
}

.eventRecurrences .containerTitle
{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.eventRecurrences .ui-selectoneradio label
{
  margin-left: 0;
  margin-right: 0;
}

.eventRecurrences .ui-radiobutton
{
  margin-right: 8px;
}

.eventRecurrences .ui-chkbox
{
  margin-right: 4px;
}

.eventRecurrences .eventSelected .ui-chkbox
{
  margin-right: 0;
}

.eventRecurrences .inputBox
{
  margin: 0px 8px 0px 8px;
  width: 40px;
  text-align:center
}

.eventRecurrences .inputBoxLong
{
  margin: 0px 8px 0px 8px;
  width: 60px;
  text-align:center
}

.eventRecurrences .inputSelect,
.eventRecurrences .inputDate
{
  margin: 0px 8px 0px 8px;
}

.eventRecurrences .eventCopySettings
{
}

.eventRecurrences .eventCopyPreview
{
  margin-top: 10px;
}

.eventRecurrences .centerElems
{
  text-align: center;
}

.eventRecurrencesTable tr
{
  cursor: auto !important;
}

.eventRecurrencesTable .eventId
{
}

.eventRecurrencesTable .eventSummary
{
  font-size: 12px;
}

.eventRecurrencesTable .eventActions
{
}

.eventRecurrencesTable .actionBar
{
  text-align: right;
}

.eventRecurrencesDeletePanel .field-radiobutton
{
  min-height: 30px;  
}

.eventRecurrences .eventCopyTabView
{
}

.eventRecurrences .eventCopyTabView .ui-tabs-panel
{
  padding: 0 !important;
}

.eventRecurrences .patternContainer
{
  width:100%;
  text-align:left;
  padding:4px
}

.eventRecurrences .rangeContainer
{
  text-align:left;
  padding:4px
}

.eventRecurrences .rangeContainer .leftBlock,
.eventRecurrences .rangeContainer .rightBlock
{
  margin-top: 8px;
}

.eventRecurrences .rangeContainer .subTitle
{
  margin-top: 4px;
  margin-bottom: 12px;
}

.eventRecurrences .rangeContainer .hourPatternRow
{
  margin-bottom: 4px;
}

.eventRecurrences .checkAttendantsAvailabilityPanel
{
  margin-top: 10px;
}

.eventCopyPreviewTable .ui-inputtext
{
  width: 100%;
}

.eventCopyPreviewTable .tooltip
{
}

.eventCopyPreviewTable .tooltip .ui-tooltip-text
{
  padding: 0;
}

.eventCopyPreviewTable .tooltip ul
{
  margin: 0;
  padding: 0;
}

.eventCopyPreviewTable .attNotAvailable
{
  color: orange;
  font-size: 14px;
  font-weight: normal;
}

.eventCopyPreviewTable .roomAvailable
{
  color: green;
  font-size: 14px;
  font-weight: bold;
}

.eventCopyPreviewTable .roomNotAvailable
{
  color: red;
  font-size: 14px;
  font-weight: bold;
}

/***** event_schedule.xhtml *****/

body .fc .fc-header-toolbar
{
  container-type: inline-size;
}

body .fc .fc-header-toolbar
{
  display: block;
  text-align: center;
}

@container (min-width: 650px) 
{
  body .fc .fc-header-toolbar > div
  {
    display: inline-block;
  }
  body .fc .fc-header-toolbar > div:nth-child(1)
  {
    float: left;
  }
  body .fc .fc-header-toolbar > div:nth-child(2)
  {
    line-height: 29px;
  }  
  body .fc .fc-header-toolbar > div:nth-child(3)
  {
    float: right;
  }  
}

@container (max-width: 649px) 
{ 
  body .fc .fc-header-toolbar > div
  {
    display: block;
    margin-bottom: 6px;
  }
}

body .fc .fc-toolbar-title 
{
  font-size: 1.2em;
}

body .fc .fc-view-harness
{
  min-height: 60vh;
}

body .fc .fc-event /*, body .fc .fc-event .fc-event-main*/
{
  background: var(--schedule-item-default-backgroundcolor);
  color: var(--schedule-item-default-color);
  border: var(--schedule-item-default-border);
}

body .fc .fc-event .fc-event-main
{
  background: none;
  color: var(--schedule-item-default-color);  
}

body .fc .fc-event.fc-timegrid-event
{
  background: var(--schedule-item-default-backgroundcolor);
}

.fc-daygrid-event-dot
{
  display: none;
}

.fc-event-time
{
  margin-left: 3px;
}

.fc-daygrid-dot-event .fc-event-title
{
  font-weight: normal;
}

.ui-tooltip:not([role])
{
  background: #fff;
}

body .fc th > .fc-scrollgrid-sync-inner
{
  padding: 0.5rem;
}
