/***** CASES MODULE CSS *****/

.customProperties
{
  width: 100%;
}

.customProperties .ui-dataview-header
{
  display: none;
}

.customProperties li:last-child
{
  border-bottom: 0 !important;
}
 
.customProperties .row
{  
}

.customProperties .cell
{
  font-size: 10px;
  padding: 0.5rem;
  word-break: break-word;
}

.customProperties .cell.propName
{
  width: 10%;
  min-width: 100px;
}

.customProperties .cell.propValue
{
  width: 90%;
}
