/* common.css */

body .ui-commandlink.ui-state-loading.ui-state-disabled *
{
  display: inline-block;
}

body,
body .frame
{
  background-color: var(--surface-0);
}

.frame
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.frame > div
{
  height: 100%;
}

/* general styles */

body .ui-widget 
{
  font-family: var(--font-family);
  font-size: 1rem;
}

body .ui-inputfield,
body .ui-selectonemenu .ui-selectonemenu-label
{
  background-color: var(--surface-ground);
}

body .ui-selectonemenu .ui-selectonemenu-trigger 
{
  background-color: var(--surface-ground);
}

/* component styles */

body .ui-autocomplete-token
{
  white-space: normal;
  margin: 1px !important;
}

body .ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-input-token input
{
  font-family: var(--font-family);
}

body .ui-autocomplete.class_reference .ui-autocomplete-multiple-container.ui-inputfield
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-autocomplete-row > td,
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-selectonemenu-row > td
{
  padding: 0.5rem;
}

.ui-autocomplete-panel .ui-autocomplete-table .ui-autocomplete-group td
{
  border-width: 0px 1px 1px 1px;
  border-bottom-color: black;
  border-left-color: rgba(0,0,0,0.08);
  border-right-color: rgba(0,0,0,0.08);  
}

.ui-autocomplete-panel .ui-autocomplete-table .ui-autocomplete-group td:empty
{
  display:none;
}

body .ui-paginator .ui-paginator-current
{
  display: block;
}

.cursor_move
{
  cursor: move;
}

.tipInputText
{  
  position: relative;
}

.tipInputText .tipInput
{
}

.tipInputText button.tipIcon
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tipInputText .tipDialog
{
  word-break: break-word;
}

.tipInputText .tipDialog .tipHeader
{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.tipInputText .tipDialog .tipContent
{
}

.tipInputText .tipDialog .tipContent ul
{
  padding-left: 20px;
}

.tipInputText .tipDialog .tipContent ul li
{
  margin-top: 4px;
}

.rowsFilter .ui-selectonemenu span.ui-selectonemenu-label
{
  white-space: normal;
}

/* Form descriptions */

.formDescription > div
{
  border: 1px solid #ced4da;
  margin-top: 10px;
  margin-bottom: 10px;  
  padding: 4px;  
}

.formDescription .header
{
  font-weight: bold;  
}

.formDescription .row
{
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
}

.formDescription .row .label
{
  width: 100px;  
}

.formDescription .row .value
{
  word-break: break-word;   
}
 
/* Material icons - avoid default 24px size */
body .material-icons,
body .mi
{
  font-size: inherit;
}

/* gdm:quill text editors */

.ui-texteditor
{
  width: 100%;
}

.ui-texteditor .ql-container 
{
  min-height: 150px;  
}

/* ui-inputgroup components */
body .ui-inputgroup div:last-child,
body .ui-inputgroup span:last-child
{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px
}

body div.field
{
  border: inherit;
  background: inherit;
  margin: 0;
  margin-bottom: 1rem;
}

/* Scrollbars */
div, ul
{
  scrollbar-width: thin;
  scrollbar-color: var(--surface-300) transparent;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb
{
  background: var(--surface-200);
  border-radius: 0;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a .ui-menuitem-text
{
  display: inline-block;
}

body .loading-icon-container .ui-dialog-content
{
  padding: var(--content-padding);
}

body .pi.loading-icon
{
  font-size: 4rem;
}

body .ui-inputfield, body .ui-selectonemenu .ui-selectonemenu-label
{
  font-family: var(--font-family)
}

.page-layout
{
  display: flex;
  flex-direction: row;
}

.topbar-layout
{
  height: 4rem;
  padding: 0 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.topbar-layout-left
{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.topbar-layout-right
{
}

.ui-chips-container
{
  width: 100% !important;
}

body .ui-datatable .ui-datatable-footer,
body .ui-datatable .ui-datatable-header
{
  padding: 0.25rem 1rem;
}

body .ui-datatable.ui-datatable-striped .ui-datatable-data > tr.ui-datatable-even:hover,
body .ui-datatable.ui-datatable-striped .ui-datatable-data > tr.ui-datatable-odd:hover
{
  background-color: var(--surface-100) !important;
}

body .ui-datatable.ui-datatable-striped .ui-datatable-data > tr.ui-datatable-odd
{
  background: var(--surface-50);
}

body .ui-datatable.ui-datatable-striped .ui-datatable-data > tr.ui-datatable-odd+tr.ui-expanded-row-content
{
  background: var(--surface-50);
}

.ui-menu-button.ui-button-flat button
{
  background-color: transparent;
  color: var(--primary-500);
  border-color: transparent;  
}

/*** Autocomplete ***/
body .ui-autocomplete
{
  display: flex;
}

body .ui-autocomplete > input
{
  width:100%;
}

/*** DataTables ***/
.ui-datatable table
{
  table-layout: auto;
}

.ui-datatable .between
{
}

.ui-datatable .before
{
  color: var(--surface-500) !important;  
}

.ui-datatable .after
{
  color: var(--blue-500) !important;
}

/*** Dialogs ***/
body .ui-dialog
{
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 95%;
  max-height: 95%;
}

body .ui-dialog-content
{
  overflow-y: hidden !important;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title
{
  float: left;
}

/* Menus */
body .vertical_menu.ui-menu
{
  width: 100%;
  border: 0;
  background: transparent;
  float: left;
}

body .ui-menu .ui-menu-list .ui-menuitem-link.current
{
  background-color: var(--secondary-color);
}

body .ui-menu .ui-menu-list .ui-submenu-child .ui-menuitem-link
{
  padding-left: 2rem;
}

/* Raster image icons */
.mtx
{
  width: 1.5rem;
  height: 1.5rem;
}

.ui-button.ui-button-icon-only .ui-icon.mtx
{
  margin-top: -0.6rem;
  margin-left: -0.6rem;
}

.ui-button a
{
  text-decoration: none;
}

.ui-menuitem-link .ui-icon.mtx
{
  position: absolute;
}

.ui-menuitem-link .ui-menuitem-icon.ui-icon.mtx+.ui-menuitem-text
{
  margin-left: 1.5rem;
}

.mtx.mtx-invert-color
{
  filter: invert(1);  
}

.mtx-icon-show
{ 
  background: url('/themes/default/images/show.png') no-repeat !important;
}

.mtx-icon-current 
{ 
  background: url('/themes/default/images/current.png') no-repeat !important;
}

.loading-icon-container
{
  z-index: 200000 !important;
}

body .ui-datepicker .ui-datepicker-calendar td
{
  padding: 0;
}

body .ui-datepicker .ui-datepicker-month,
body .ui-datepicker .ui-datepicker-year
{
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-overlay);
  outline: 0 none;
  border-color: var(--surface-border);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s, opacity .2s;
}

body .edit_data_dialog
{
  max-height: 85%;
  width: calc(100% - 8px) !important;
  max-width: 1200px;  
}

body .edit_data_dialog.mw_800
{
  max-width: 800px;
}

body .edit_data_dialog.mw_600
{
  max-width: 600px;
}

body .edit_data_dialog.mw_400
{
  max-width: 400px;
}

body .ui-messages-error ul 
{
  margin-left: 30px;
}

/* icons */
.mi-outlined
{
  transform:scale(1.25);
}

.fa
{
  text-align: center;
}

.fa.wr-1
{
  width: 1rem;
}

/***** Custom properties *****/

.customProperties
{
  width: 100%;
}

.customProperties table
{
  table-layout: fixed;
  width: 100%;
}

.customProperties thead
{
  display: none;
}

.customProperties .row
{
  background: unset !important;
}

.customProperties .cell
{
  font-size: 10px;
  padding: 0.5rem;
  word-break: break-word;
  border: 0 !important;
}

.customProperties .cell.propName
{
  width: 100px;  
}

.customProperties .cell.propValue
{
}

body .ui-overlaypanel.context
{
  width: 240px;
  max-width: 100%;
}

body .ui-overlaypanel.context .ui-overlaypanel-content
{
  padding: 0;
}
