/* obj.css */

tr.current,
td.current { font-weight: bold; }    


body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content 
{
  display: block;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content *
{
  vertical-align: middle;
}

@media only screen and (min-width: 768px) 
{
  .central_column
  {
    padding: 4px;
  }
  
  .central_column.m-1
  {
    margin: 0 !important;    
  }

  .side_panel.left
  {
    padding-left: 4px;
  }
  
  .side_panel.right
  {
    padding-right: 4px;
  }

  .side_button.left
  {
    margin-left: 32px !important;
  }
}

@media only screen and (max-width: 768px) 
{
  .side_panel
  {
    position:absolute;
    top:0;
    bottom: 0;
    z-index: 10 !important;
    background: var(--surface-0);
    overflow:auto;
    width: 400px !important;
    max-width: 100%;
    margin: 0 !important;
  }

  .side_panel.m-1
  {
    margin: 0 !important;    
  }
  
  .side_panel.left
  {
    left:0;
    box-shadow: 5px 0px 3px -3px rgb(50 50 50 / 30%);
  }

  .side_panel.right
  {
    right:0;
    box-shadow: -5px 0px 3px -3px rgb(50 50 50 / 30%);
  }

  .side_panel.first_time
  {
    display: none;
    opacity: 1;
  }        

  .side_button.first_time
  {
    display: inline;
  }

  .side_button.first_time.display_hidden
  {
    display: inline;
  }
  
  .central_column .sticky_container
  {
    height: inherit;
    overflow: auto;
  }  
}

.side_panel
{
  display: flex;
  flex-direction: column;
  width: 22%;
  min-width: 200px;
}

.side_panel.display_hidden
{
  display: none;
}

body .side_panel .ui-panel-titlebar
{
  padding: 0.5rem;
  flex-grow: 0;
}

body .side_panel .ui-panel-content
{
  flex-grow: 1;
  overflow: auto;
}

body .left_column.side_panel .ui-panel-content
{
  flex-grow: 0;
  overflow: hidden;
}

.central_column
{
  width: 56%;
  display: flex;
  flex-direction: column;
}

.central_column .object_header
{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  border-bottom: 1px solid;
  border-color: var(--surface-border);
  padding-bottom: 5px;
  align-items: center;
}

.central_column .object_data
{
  flex-grow: 1;
  /* overflow: auto; */
}

.central_column .object_header .object_label
{
  font-size: 14px;
  font-weight: bold;
  color:var(--text-color);
  flex-grow: 1;
}

.central_column .object_header .header_buttons
{
  flex-grow: 0;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.side_button.display_hidden
{
  display: none;
}

body .ui-tabs.context_tabs .ui-tabs-panels .ui-tabs-panel
{
  padding: 0;
}

body .ui-tabs.context_tabs .ui-tabs-nav li.ui-tabs-header
{
  padding: 0.8rem;
}

body .ui-tabs.context_tabs .ui-tree
{
  padding: 0;
  padding-top: 8px;
}

.context_tree.ui-tree
{
  border: 0;
}

.context_tree .ui-treenode.current > div,
.context_tree .ui-treenode-leaf.current
{
  font-weight: bold;
  color: var(--text-color);
}

.recents_tree.ui-tree
{
  border: 0;
}

.recents_tree.ui-tree .ui-tree-container
{
  white-space: normal;
}

.recents_tree.ui-tree .ui-tree-container .ui-treenode .ui-treenode-content 
{
  display: flex;
}

.recents_tree .ui-treenode-leaf-icon
{
  display: none;
}

.recents_tree .ui-treenode-leaf.current
{
  font-weight: bold;
  color: var(--text-color);
}

.recents_tree > ul > li > div
{
  font-weight: bold;
}

.history .return_info
{
  padding: 5px;
}

.history .return_info span
{
  margin-right: 6px;
  color: var(--text-color);
}

.favorites .favorite
{
  padding: 5px;
}

.favorites .favorite .current
{
  font-weight: bold;
}

.favorites .favorite span
{
  margin-right: 6px;
}

/* Sticky headers & footers */
.sticky_container 
{
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

.sticky_content
{
  flex: 0 0 auto;
}

.scrollable_content 
{
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.side_panel.left .ui-panel-content,
.side_panel.left .ui-tabs,                   
.side_panel.left .ui-tabs .ui-tabs-panels,      
.side_panel.left .ui-tabs .ui-tabs-panel,
.side_panel.left .filter_panel
{      
  height: 100%;
  min-height: 0; 
  overflow-y: hidden;
}

.side_panel.left .ui-panel-content,
.side_panel.right .ui-panel-content,
.side_panel.right .ui-tabs .ui-tabs-panel
{
  padding: 1rem 0;
}

.side_panel.left .ui-tabs .ui-tabs-panel
{
  padding: 0;
}

.side_panel.left .find_selector
{
  display: flex;
  flex-direction: column;
  height: 100%;     
  min-height: 0; 
}

.side_panel.left .scrollable_content,
.side_panel.left .sticky_content
{
 padding: 1rem 0 0 0;
}

.side_panel.right .scrollable_content,
.side_panel.right .sticky_content
{
 padding: 1rem;
}

.side_panel.left .ui-tabs,
.side_panel.right .ui-tabs
{
  display: flex;
  flex-direction: column;
}

body .side_panel.left .ui-tabs.ui-tabs-top>.ui-tabs-nav,
body .side_panel.right .ui-tabs.ui-tabs-top>.ui-tabs-nav
{
  margin: 0 1rem;
}

.side_panel.left .formgrid.grid,
.side_panel.right .formgrid.grid
{
  padding: 0 2rem;
}

.side_panel.left .buttons
{
  padding: 0 2rem;
}

.side_panel.right .ui-tabs,
.side_panel.right .ui-tabs .ui-tabs-panels,
.side_panel.right .ui-tabs .ui-tabs-panel
{      
  height: 100%;
  min-height: 0; 
  overflow: hidden;
}

.central_column
{
  padding: 4px 0;
}

.central_column .object_header
{
  margin: 0 4px;
}

.central_column .object_data .ui-tabs>.ui-tabs-nav
{
  margin: 0 4px;
}

.central_column .ui-panel-content,
.central_column .ui-tabs,                   
.central_column .ui-tabs .ui-tabs-panels,      
.central_column .ui-tabs .ui-tabs-panel,
.central_column .object_data
{      
  height: 100%;
  min-height: 0;               
}

body .central_column .ui-tabs .ui-tabs-panels .ui-tabs-panel
{
  padding: 1rem 0;
}

.central_column .object_data .ui-tabs-panels
{
  overflow-y: auto;
}

.central_column .object_data .scrollable_content .ui-tabs-panels
{
  padding: 0 2rem; 
}

.central_column .object_data .ui-tabs
{
  display: flex;
  flex-direction: column;
}

.central_column .object_data .scrollable_content  .ui-tabs>.ui-tabs-nav
{
  margin: 0 1rem;
}

.central_column .object_data .ui-tabs-panel>span>.ui-datatable
{
  margin: 0.5rem 1rem;
}
                 


