/* obj.css */

tr.current { font-weight: bold; }    

@media only screen and (min-width: 700px) 
{
  .central_column
  {
    padding: 4px;
    overflow: auto;
  }
  
  .central_column.m-1
  {
    margin: 0 !important;    
  }

  .side_panel.left
  {
    padding-left: 4px;
  }
  
  .side_panel.right
  {
    padding-right: 4px;
  }

  .side_button.left
  {
    margin-left: 32px !important;
  }
}

@media only screen and (max-width: 700px) 
{
  .side_panel
  {
    position:absolute;
    top:0;
    bottom: 0;
    z-index: 10 !important;
    background: white;
    overflow:auto;
    width: 400px !important;
    max-width: 100%;
    margin: 0 !important;
  }

  .side_panel.m-1
  {
    margin: 0 !important;    
  }
  
  .side_panel.left
  {
    left:0;
    box-shadow: 5px 0px 3px -3px rgb(50 50 50 / 30%);
  }

  .side_panel.right
  {
    right:0;
    box-shadow: -5px 0px 3px -3px rgb(50 50 50 / 30%);
  }

  .side_panel.first_time
  {
    visibility: hidden;
  }        

  .side_button.first_time
  {
    display: block;
  }  
}

.side_panel
{
  display: flex;
  flex-direction: column;
  width: 22%;
  min-width: 200px;
}

.side_panel .ui-panel-titlebar
{
  flex-grow: 0;
}

.side_panel .ui-panel-content
{
  flex-grow: 1;
  overflow: auto;
}

.central_column
{
  width: 56%;
}

.side_button
{
  display: none;
  position:fixed; 
  z-index:9;
  top:50%; 
}

.side_button.left
{
  left: 0; 
  border-radius:0 8px 8px 0 !important; 
}

.side_button.right
{
  right: 0; 
  border-radius:8px 0 0 8px !important; 
}

h1.object_label
{
  font-size: 14px;
  margin: 2px 0 6px 6px;
  font-weight: normal;
}

body .ui-tabs.context_tabs .ui-tabs-panels .ui-tabs-panel
{
  padding: 0;
}

body .ui-tabs.context_tabs .ui-tree
{
  padding: 0;
  padding-top: 8px;
}

.recents_tree.ui-tree
{
  border: 0;
}

.recents_tree.ui-tree .ui-tree-container
{
  white-space: normal;
}

.recents_tree .ui-treenode-leaf-icon
{
  display: none;
}

.recents_tree .ui-treenode-leaf.current
{
  font-weight: bold;
  color: black;
}

.recents_tree > ul > li > div
{
  font-weight: bold;
}

.history
{
  margin-top: 10px;
}

.history .return_info
{
  padding: 5px;
}

.history .return_info .pi
{
  margin-right: 6px;
  color: black;
}

.favorites
{
  margin-top: 10px;
}

.favorites .favorite
{
  padding: 5px;
}

.favorites .favorite .current
{
  font-weight: bold;
}

.favorites .favorite .pi
{
  margin-right: 6px;
  color: black;
}      
