body .ui-datatable .state_selector span,
body .ui-datatable .state_selector div,
body .state_selector_items li
{
  font-size: smaller;
}

body .state_changed span,
body .state_changed div
{
  background-color: yellow !important;
}

/* Analyzer */

.analyzer
{
  overflow:auto;
  border:1px solid black;
  height:350px;
}

.analyzer span
{
  display:block;
  font-size: 12px;
  font-family: "Courier New", Monospaced;
  word-wrap: break-word;
  padding: 2px;
}

.analyzer span.row0
{
  background-color:#F0F0F0;
}

.analyzer span.row1
{
  background-color:white;
}

.analyzer span.INFO
{
  color: black;
}

.analyzer span.WARNING
{
  color: orange;
}

.analyzer span.SEVERE
{
  color: red;
}

.analyzer span.FINE,
.analyzer span.FINER,
.analyzer span.FINEST
{
  color: #808080;
}

.analyzer span:hover
{
  background-color: #707070;
  color: white;
}

/* Help document */

.help .info
{
  display:block;
}

.help .header 
{
  font-size:12px;
  font-weight:bold;
  margin-top: 10px;
  margin-bottom: 2px;
}

.help table 
{
  border-collapse:collapse;
  border-style:solid;
  border-width:1px;
  border-color:blue;
  font-size:11px;
}
.help table TR TD 
{
  border-style:solid;
  border-width:1px 1px 1px 1px;
  border-color:#D0D0DF;
  padding:2px;
}

.help table TR.row1 
{
  background:#FEFEFE;
}

.help table TR.row2 
{
  background:#F0F0F0;
}

.help metadata, .code
{
  font-family:"courier new";
  font-size:12px;
}

