/* query */

.query_body
{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.query_body .data_list .ui-dataview-header
{
  display: none;
}

.query_body .data_list .ui-dataview-content
{
  background: transparent;
}

.query_body .data_list li
{
  padding: 4px;
  border: 0 !important;
}

.query_body .data_list li a
{
  color: var(--text-color);
  text-decoration: none;
  opacity: 1;
}

.query_body .data_list li a:hover
{
  opacity: 0.5;
}

.output_label
{
  color: var(--text-color);
}

.query_body .dragColumn
{
  width: 16px;
  text-align: center;
  padding: 0.5rem 0.5rem !important;
}

.query_body th.dragColumn
{
  padding: 0 !important;
}

.top_rounded_panel > div:first-of-type
{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* query_list */

.query_list
{  
}

.query_list .filter_list
{
}

.query_list .result_list
{
}

.query_list .result_list .col_icon
{
  text-align: center;
}

.query_list .result_list .col_data
{
}

.query_list .result_list .col_data > *
{
  display: block;
}

.query_list .result_list .col_data .query_name
{
  color: var(--text-color);
}

.query_list .result_list .col_data .query_title
{
  font-weight: bold;
  color: var(--text-color);
}

.query_list .result_list .col_data .query_description
{
  color: var(--text-color-secondary);
}

.query_list .result_list .col_data span
{
  word-break: break-word;
  word-wrap: normal;
}

.query_list .result_list .col_buttons
{
}

/* query_view */

.query_view
{ 
}

.query_view .query_header
{
  margin-top:6px;
  margin-bottom:6px;
}

.query_view .query_header .title
{
  font-weight: bold;
  display: block;
  color: var(--text-color);  
}

.query_view .query_header .description
{
  color: var(--text-color-secondary);
  display: block;
}

.query_view .instance_selector_panel
{
}

.query_view .instance_selector_panel > *
{
  margin-top: 4px;
}

.query_view .instance_description
{
  min-width: 200px !important;
}

.query_view .instance_description .ui-inputfield
{
  white-space: normal;
}

.query_view .instance_editor
{
  
}

.query_view .instance_editor > div
{
}

.query_view .output_selector
{
  
}

.query_view .output_selector .ui-picklist .ui-helper-hidden-accessible
{
  width: 0px;
}

.query_view input.hasDatepicker
{
  width: 100px;
}

.query_view .execute_button
{
  float: right;
}

.query_view .output_selector .selectAllColumn
{
  width: 16px;
  text-align: center;
}

.query_view .output_selector .labelColumn
{
  width: 30%;  
}

.query_view .output_selector .descriptionColumn
{
  width: 70%;  
}

.expression
{
  display: block;
  border: 1px solid #606060;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 8px;
  border-radius: 8px;
  border-width: 2px;
}

.operator
{
  color: var(--text-color);
  border:none;
  background-color: transparent;
}

.expression.predicate
{
  color: var(--text-color);
  line-height: 20px;
  border-color: var(--surface-500);
  background-color: var(--surface-0);
  border-width: 1px;  
}

.expression.predicate > div > div:first-child
{
  overflow: hidden;
}

.expression.predicate .input_value .ui-selectonemenu-label,
.operator .ui-selectonemenu-label
{
  white-space: normal;
}

.expression.ROOT label,
.expression.ROOT span,
.expression.predicate label,
.expression.predicate span
{
  margin-right: 2px;
}

.expression.ROOT span,
.expression.predicate span
{
  margin-left: 0;
}

.expression.ROOT label,
.expression.predicate label
{
  margin-left: 2px;
}

.expression.ROOT > label,
.expression.ROOT > input
{
  margin-top: 4px;
  margin-bottom: 4px;
}

.expression.predicate input[type='text']
{
  max-width: 100%;
}

.expression .operator span
{
  margin-left: 0;
}

.expression .ui-selectonemenu,
.expression .ui-calendar,
.expression .ui-inputtext
{
  margin-bottom: 4px;
}

.op_children
{
  display: block;
  padding: 8px;
}

.expr_button
{
}

.expr_button.add
{
}

.expr_button.add:hover
{
}

.expr_button.remove
{
}

.expr_button.remove:hover
{
}

.expression .ui-button.ui-button-flat,
.expression .ui-button.ui-button-flat:hover
{  
  color: var(--text-color);  
}

.expression .operator_link
{
  padding: 4px;
}

.expression.ROOT
{
  border-color: var(--surface-800);
  background-color: var(--surface-0);
}

.expression.AND
{
  border-color: var(--surface-500);
  background-color: var(--surface-0);
}

.expression.OR
{
  border-color: var(--surface-500);
  background-color: var(--surface-0);
}

.expression.NOR
{
  border-color: var(--surface-500);
  background-color: var(--surface-0);
}

/* query_edit */

.query_edit
{
}

.query_edit .query_name,
.query_edit .query_base
{
  max-width: 90%;
}

.query_edit .codemirror-container
{
  max-height: 500px;
  overflow: auto;
}

.query_edit .output_label
{
  line-height: 29px;
  margin-right: 4px;
  min-width: 50px;
}

.query_edit .classification_panel .select_box,
.query_edit .classification_panel .input_text,
.query_edit .connection_panel .input_text,
.query_edit .roles_panel .input_text
{
  min-width: 250px !important;  
}

.query_edit .classification_panel .select_box .ui-inputfield
{
  white-space: normal;
}

.query_edit .tabbed_panel .output_label
{
  min-width: 110px;
}

.query_edit .tabbed_panel .output_label.role
{
  min-width: 150px;
}

.query_edit .tabbed_panel .edit_panel
{
  display: flex;
  flex-wrap: wrap;
}

.query_edit .tabbed_panel .edit_panel .left
{
  flex-grow: 1;
  width: 200px;
  padding-left: 8px;
  padding-right: 8px;
}

.query_edit .tabbed_panel .edit_panel .right
{  
  flex-grow: 2;
  width: 300px;
  padding-left: 8px;
  padding-right: 8px;
}

.query_edit .tabbed_panel .edit_panel .right .property
{
  margin-bottom: 4px;
}

.query_edit .tabbed_panel .edit_panel .right .property > *:nth-child(1),
.query_edit .tabbed_panel .edit_panel .right .property > *:nth-child(2)
{
  display: block;
}

.query_edit .tabbed_panel .edit_panel .right .property > *:nth-child(1)
{
  width: auto;
}

.query_edit .tabbed_panel .edit_panel .right .property > *:nth-child(2)
{
  width: 100%;
}

.query_edit .tabbed_panel .edit_panel .right .property.one_line
{
  display: flex;
  flex-wrap: wrap;
}

.query_edit .tabbed_panel .edit_panel .right .property.one_line > label
{
  flex-grow: 0;
  max-width: 120px;
  margin-right: 10px;
}

.query_edit .tabbed_panel .edit_panel .right .property.one_line > *:nth-child(2)
{
  flex-grow: 1;
  width: auto;
}

.query_edit .tabbed_panel .edit_panel .right .property .codemirror_container
{   
  max-width: 448px;  
}

.query_edit .tabbed_panel .edit_panel .right .property .codemirror-container
{
  max-height: 200px;
}

.query_edit .tabbed_panel .edit_panel .left .item_list
{
  min-height: 200px;
  max-height: 280px;
  overflow: auto;
  border: 1px solid #DEE2E6;
}

.query_edit .tabbed_panel .edit_panel .left .item_list .item
{
  padding: 4px;
}

.query_edit .tabbed_panel .edit_panel .left .item_list .item.inherited
{
  color: blue;
}

.query_component_row1
{
  font-size: 10px !important; 
  word-break: break-all;
}

.query_component_row2
{ 
  font-size: 9px !important;
  word-break: break-word;
}

.query_edit .tabbed_panel .edit_panel .left .item_list .item label
{
  cursor: pointer;
}

.query_edit .tabbed_panel .edit_panel .left .edit_panel_buttons
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.query_edit .tabbed_panel .edit_panel .left .edit_panel_buttons > button
{
  margin-right: 4px;
}

.query_edit .tabbed_panel .edit_panel .left .ui-datatable thead th
{
  display: none;
}

.query_edit .tabbed_panel .edit_panel .right .no_object_selected
{  
  padding: 20px;
  border: 1px solid #DEE2E6;
  text-align: center;
}

.query_edit .tabbed_panel .edit_panel .left .list_entry.inherited
{
  color: blue;  
}

.query_edit .tabbed_panel .edit_panel .left .list_entry:hover
{
}

.query_edit .tabbed_panel .edit_panel .bottom
{
  width: 100%;  
  padding-left: 8px;
  padding-right: 8px;  
}