.ui-panel.login_form
{
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top:8px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.ui-panel.login_form .ui-linkbutton a
{
  text-decoration: none;
  outline: none;
}

.ui-panel.login_form .ui-panel-titlebar
{
  background: #fff;
}

.rolesTreeSearch .rolesTree .roleLink
{
}

.rolesTreeSearch .rolesTree .roleLink a.cycle
{
  color: red;
}

.rolesTreeSearch .rolesTree .roleLink a.found
{
  background-color: yellow;
}

.rolesTreeSearch .rolesTree .ui-tree .ui-treenode-label
{
  width: calc(100% - 24px);
}

.rolesTreeSearch .rolesTree .ui-tree .ui-tree-toggler,
.rolesTreeSearch .rolesTree .ui-tree .ui-treenode-leaf-icon
{
  margin-right: 0 !important;
  vertical-align: top !important;
}

.rolesTreeSearch .rolesTree .roleRow
{
  display: flex;
  flex-wrap: wrap;
}

.rolesTreeSearch .rolesTree .roleRow .roleIcon
{

}
.rolesTreeSearch .rolesTree .roleRow .roleLink
{

}
.rolesTreeSearch .rolesTree .roleRow .roleName
{
  max-width: 100%;
  white-space: normal;  
}

.rolesTreeSearch .noRolesMessage.noDescendants
{  
  padding: 20px;
  border: 1px solid #DEE2E6;
  text-align: center;
}

.rolesTreeSearch .noRolesMessage.noRolesFound
{  
  margin-top: 10px;
}