/* sqlweb */

.sqlweb .specialValue
{
  color: gray;
  font-style: italic;
}

.sqlweb .switchLabel
{
  cursor: pointer;
}

.sqlweb .message
{
  color: #495057;
  font-weight: bold;
}

.code,
.code > .ui-inputfield
{
  font-family: monospace !important;
}