.main
{
  width:100%;
  background-color: White;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.main .header
{
  border-style:none;
  font-weight:normal;
}

.main .header .header
{
}

.main .header .row1
{
}

.main .header .col1
{
  text-align: left;
  padding-left:6px;
}

.main .header .col2
{
  text-align: right;
}

.main .websText
{
  padding:6px;
  font-weight:bold;
}

.main .mainRow
{
}

.main .menuCol
{
  width:180px;
  text-align:left;
  background-image:url("../images/vmenu_back.gif");
  vertical-align:top;
  border-bottom:none;
  border-top:none;
  border-left:none;
  border-right:1px solid #D0D0D0;
  
  
}

.main .contCol
{
  width:600px;
  text-align:left;
  vertical-align:top;
  padding-left:0px;
}

.main .menuTable .row1
{
  height:40px;
  text-align:center;
}

.main .contTable 
{
  border-style:none;
}

.main .contTable .emptyRow
{
  height:0px;
}

.main .contTable .tabsMenuRow
{
  vertical-align:middle;
  background-image:url("85620");
}

.main .contTable .contRow
{
  vertical-align:top;
  background-color:white;
}

.websmenu /*menu de webs*/
{
  width:100%;
  padding:0px;
  margin:0px;
  border-style:solid;
  border-color:red;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
}

.websmenu_item
{
  border-style:solid;
  border-color:#D0D0D0;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;

  padding-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.websmenu_item A
{
  width:100%;
  display: block;
  color:#606060;
  text-align:left;
  text-decoration: none;
  font-size:11px;
}

.websmenu_item A:hover
{
  color:black;
  background-color:#F0F0F0;
}

.topmenu
{
  vertical-align:middle;
  border-style:none;
  font-size:11px;
  margin-left:auto;
  margin-right:4px;
  margin-top:4px;
  margin-bottom:4px;
}

.topmenu_selected
{
  vertical-align:middle;
  text-align:center;
  border-style:solid;
  border-color:#606060;  
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;

  padding-left: 5px;
  padding-right: 5px;
  font-weight:bold;
}

.topmenu_unselected
{
  vertical-align:middle;
  text-align:center;
  border-style:solid;
  border-color:#606060;  
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
  
  padding-left: 5px;
  padding-right: 5px;
}

.topmenu_selected A
{
  color:Black;
  text-decoration:none;
}

.topmenu_unselected A
{
  color:Gray;
  text-decoration:none;  
}

.topmenu_unselected A:hover
{
  color:Black;
  text-decoration:none;  
}

.tabsmenu /* serpiente*/
{
  width: 100%;
  border-style:solid;
  border-color:#606060;  
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:1px;
  border-right-width:0px;
}

.tabsmenu .header
{

}

.tabsmenu_selected
{
  font-weight:bold;
  vertical-align:middle;
  text-align:center;
  border-style:solid;
  border-color:#606060;  
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.tabsmenu_unselected
{
  font-weight:normal;
  vertical-align:middle;
  text-align:center;
  border-style:solid;
  border-color:#606060;  
  border-top-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:1px;

  padding-top: 4px;
  padding-bottom: 4px; 
  padding-left: 20px;
  padding-right: 20px;
}

.tabsmenu_selected A
{
  color:Black;
  text-decoration:none;
}

.tabsmenu_unselected A
{
  color:Gray;
  text-decoration:none;  
}

.tabsmenu_unselected A:hover
{
  color:Black;
  text-decoration:none;  
}

.langSel
{
  font-size:11px;
  color:black;
  font-weight:normal;
  text-align:left;
  vertical-align:middle;
  background-color:white;
  border-style:solid;
  border-color:#E0E0E0;
  border-width:1px;
  margin:0px;
  padding:0px;
}

.dateText
{
  font-size:11px;
  color:Black;
  font-weight:normal;
  text-align:right;
  vertical-align:middle;
}

.loginText
{
  font-size:11px;
  color:Black;
  font-weight:normal;
  vertical-align:middle;
}

.displayNameText
{
  font-size:11px;
  color:gray;
  font-weight:normal;
  vertical-align:middle;
}

.main .content .ccol1
{
  vertical-align:top;  
}

.main .content .ccol2
{
  vertical-align:top;
  width:170px;
}

.main .rightMenuPanel
{
  width:100%;
  background:white;
  border-style:none;
}

.main .rightMenuPanel .title
{
  font-weight:bold;
}

.rmenu
{
}

.rmenu_item
{
  margin-top:8px;
  background:url("../images/round_back.gif") ;
  padding:0px;
}

.rmenu_item A
{
  color:gray;
  text-decoration:none;
}

.rmenu_item A:hover
{
  color:black;
}

.rmenu_item .text
{
  margin-left:2px;
}

.rmenu_item .icon
{
  text-decoration:none;
  margin-right:2px;
  vertical-align:top;
}

.rmenu_item .row1
{
  vertical-align:top;  
}

.rmenu_item .row2
{
  vertical-align:middle;
}

.rmenu_item .row3
{
  vertical-align:bottom;  
}

.rmenu_item .col1
{
  text-align:left;
  width:8px;
}

.rmenu_item .col2
{
  text-align:left;  
  width:32px;
}

.rmenu_item .col3
{
  text-align:left;  
}

.rmenu_item .col4
{
  text-align:right;
  width:8px;  
}

/*************** COMMON STYLES *****************/

input
{
  font-size:14px;
}

select
{
  font-size:14px;
}

.button
{
  font-size:14px;
  background-color:white;
  border-style:solid;  
  border-width:1px;
  border-color:gray;
}

.buttonLink
{
  color: Green; 
  text-decoration: none;
}

.selectLink 
{
  color: Green; 
  text-decoration: none;
}

.selectLink:hover
{
  color: Green; 
  text-decoration:underline;
}

.infoMessage
{
  color: green; 
  font-weight: bold;  
}

.warnMessage
{
  color: #FF9900;  
  font-weight: bold;    
}

.errorMessage
{
  color: red;
  font-weight: bold;
}

.fatalMessage
{
  color: red;  
  font-weight: bold;  
}

.filterPanel
{
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #EEEEEE;
  text-align: left;
  width: 100%;
}
.filterPanel .header
{
  text-align: center;
}
.filterPanel .column1
{
  width: 80%;
}
.filterSubPanel
{
  width:100%;
}
.filterSubPanel .column1
{
  width: 30%;
}
.filterSubPanel .column2
{
  width: 70%;
}


.resultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}
.resultList TD
{
  padding: 2pt;
}
.resultList .row1
{
  color:black;
  background-color: #EEEEEE;
}
.resultList .row2
{
  color:green;
  background-color: white;
}

.resultList .mainCell
{
  font-weight: bold;
}
.resultList .selectLink
{
  text-align: right;
}


.newsResultList
{
  color: black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.newsResultList .header
{
  text-align: right;
}
.newsResultList .column1
{
  vertical-align: top;
}
.newsResultList .column2
{
  vertical-align: top;
}
.newsResultList .row1
{
  background-color: #EEEEEE;
}
.newsResultList .row2
{
  background-color: white;
}
.newsResultList .mainCell
{
  font-weight: bold;
}
.newsResultList .selectLink
{
  text-align: right;
}


.agendaResultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
  
}
.agendaResultList TD
{
  padding: 2pt;
}
.agendaResultList .row1
{
  background-color: #EEEEEE;
}
.agendaResultList .row2
{
  background-color: white;
}
.agendaResultList .mainCell
{
  font-weight: bold;
}
.agendaResultList .selectLink
{
  text-align: right;
}
.agendaResultList .column1
{
  width:30%;
}
.agendaResultList .column2
{
  width:65%;
}
.agendaResultList .column3
{
  width:5%;
}

.forumResultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
  
}
.forumResultList TD
{
  padding: 2pt;
}
.forumResultList .row1
{
  background-color: #EEEEEE;
}
.forumResultList .row2
{
  background-color: white;
}
.forumResultList .mainCell
{
  font-weight: bold;
}
.forumResultList .selectLink
{
  text-align: right;
}
.forumResultList .column1
{
  width:30%;
}
.forumResultList .column2
{
  width:65%;
}
.forumResultList .column3
{
  width:5%;
}
.dataScroller
{
  text-align: center;
  font-weight: normal;
}
.dataScroller A
{
  text-decoration: none;
  color: Green;
}

.dataScrollerPaginatorActiveColumn
{
  font-weight: bold;
  font-size: larger;
}

.form
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}
.form .column1
{
  background-color: #EEEEEE;    
  vertical-align: top;
  padding: 4pt;
}
.form .mainCell
{
  font-weight: bold;
}
.form .footer
{
  text-align: center;
}

.inputCalendar
{
  width: 35%;
}

.forumName
{
  color: Black;
  font-size: 15px;
  font-family: Arial;
}

.questionTitle
{
  color: Green;
  font-size: 15px;
  font-family: Arial;
}

.forumsList 
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;  
}
.forumsList .column1
{
  vertical-align: top;
  width:75%;
}

.forumsList .column2
{
  vertical-align: top;
  text-align: center;
  width:25%;
}

.forumsList .row1
{
  background-color: #FFF8E0;
}

.forumsList .row2
{
  background-color: #FFFFFF;
}

.questionsList
{ 
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsList .column1 
{
  width:80%;
  vertical-align:top;
}

.questionsList .column2 
{
  text-align: center;
  width:10%;    
}
.questionsList .column3 
{
  text-align: center;
  width:10%;    
}

.questionsList .row1
{
  background-color: #EEEEEE;
}

.questionsList .row2
{
  background-color: white;
}

.questionsAndAnswersList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsAndAnswersList .column1 
{
  width:100%;
  vertical-align:top;
}

.questionsAndAnswersList .row1
{
  background-color: #D8D8D8;
}

.questionsAndAnswersList .row2
{
  background-color: #EEEEEE;
}

.questionsAndAnswersList .rowQuestion
{
  width:100%;
}

.questionsAndAnswersList .rowAnswer
{
  width:100%;
  font-style: italic;
}

.answersList
{  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.answersList .column1 
{
  vertical-align: top;
  width:25%; 
}

.answersList .column2 
{
  vertical-align: top;
  width:75%;    
}

.answersList .row1
{
  background-color: #EEEEEE;
}
.answersList .row2
{
  background-color: white;
}


.questionPage .mainCell
{
  font-weight: bold;
}

.newQuestionPage 
{
    
}

.newQuestionPage .column1
{
  vertical-align: top;     
}

.newQuestionPage .column2
{
  width:500px;        
}

.mainSearch
{
  text-align:left;
  width: 400pt;
}

.mainSearch .searchParams
{
  width: 400pt;  
}

.mainSearch .searchResults
{
  width: 400pt;
  padding-top:5pt;
  padding-bottom:5pt;
}

.mainSearch .searchParams .inputText
{
}

.mainSearch .searchParams .inputText .col1
{
  padding-right: 10pt;
}

.mainSearch .searchParams .inputText .col2
{
  padding-right: 10pt;  
}

.mainSearch .searchParams .inputText .col3
{
  padding-right: 10pt;  
}

.mainSearch .searchParams .moduleSelection
{
}


.mainSearch .searchResults .agendaSearch
{
  width: 400pt;
}

.mainSearch .searchResults .agendaSearch .title
{
  width: 400pt;
  padding-bottom:3pt;
  font-weight:bold;
}

.mainSearch .searchResults .agendaSearch .event
{
  width: 400pt;
}
.mainSearch .searchResults .agendaSearch .event1
{
  background-color:rgb(240,240,240);
}
.mainSearch .searchResults .agendaSearch .event2
{
  background-color:rgb(255,255,255);  
}

.mainSearch .searchResults .agendaSearch .event .row1
{
  height: 20%;
}
.mainSearch .searchResults .agendaSearch .event .row1 .dateCol
{
  width: 120pt;
}
.mainSearch .searchResults .agendaSearch .event .row1 .dateCol .icon
{
  padding-right:10pt;
}
.mainSearch .searchResults .agendaSearch .event .row1 .dateCol .eventDate
{

}
.mainSearch .searchResults .agendaSearch .event .row1 .noDateCol
{
  width: 400pt;
  font-weight:bold;  
}
.mainSearch .searchResults .agendaSearch .event .row1 .linkCol
{
  width: 280pt;
  text-align:left;
  font-weight:bold;  
}
.mainSearch .searchResults .agendaSearch .event .row2
{
  height: 80%;
  width: 400pt;
}

.mainSearch .searchResults .newsSearch
{
  width: 400pt;
}
.mainSearch .searchResults .newsSearch .title
{
  width: 400pt;
  padding-bottom:3pt;
  font-weight:bold;  
}

.mainSearch .searchResults .newsSearch .new
{
  width: 400pt;
}

.mainSearch .searchResults .newsSearch .new1
{
  background-color:rgb(240,240,240);
}
.mainSearch .searchResults .newsSearch .new2
{
  background-color:rgb(255,255,255);
}

.mainSearch .searchResults .newsSearch .new .row1
{
  height: 20%;
}

.mainSearch .searchResults .newsSearch .new .row1 .dateCol
{
  width: 120pt;
}
.mainSearch .searchResults .newsSearch .new .row1 .noDateCol
{
  width: 400pt;
  font-weight:bold;  
}

.mainSearch .searchResults .newsSearch .new .row1 .linkCol
{
  width: 280pt;
  text-align:left;
  font-weight:bold;  
}

.mainSearch .searchResults .newsSearch .new .row2
{
  height: 80%;
  width: 400pt;
}

.mainSearch .searchResults .newsSearch .new .row2 .noImage
{
  
}

.mainSearch .searchResults .newsSearch .new .row2 .imageCol
{
  padding-right: 5pt;
  vertical-align:top;
}

.mainSearch .searchResults .newsSearch .new .row2 .textCol
{
  padding-left: 5pt;
}

.mainSearch .searchResults .webSearch
{
  width: 400pt;
}
.mainSearch .searchResults .webSearch .title
{
  width: 400pt;
  padding-bottom:3pt;  
  font-weight:bold;  
}

.mainSearch .searchResults .webSearch .web
{
  width: 400pt;
}
.mainSearch .searchResults .webSearch .web1
{
  background-color:rgb(240,240,240);
}
.mainSearch .searchResults .webSearch .web2
{
  background-color:rgb(255,255,255);
}

.mainSearch .searchResults .webSearch .web .dateCol
{
  width: 120pt;
}
.mainSearch .searchResults .webSearch .web .noDateCol
{
  width: 400pt;
}
.mainSearch .searchResults .webSearch .web .linkCol
{
  width: 280pt;
  text-align:left;
}

.mainSearch .searchResults .documentsSearch
{
  width: 400pt;
}
.mainSearch .searchResults .documentsSearch .title
{
  width: 400pt;
  padding-bottom:3pt; 
  font-weight:bold;  
}

.mainSearch .searchResults .documentsSearch .document
{
  width: 400pt;
}

.mainSearch .searchResults .documentsSearch .document1
{
  background-color:rgb(240,240,240);
}
.mainSearch .searchResults .documentsSearch .document2
{
  background-color:rgb(255,255,255);
}

.mainSearch .searchResults .documentsSearch .document .dateCol
{
  width: 120pt;  
}
.mainSearch .searchResults .documentsSearch .document .noDateCol
{
  width: 400pt;
}

.mainSearch .searchResults .documentsSearch .document .linkCol
{
  width: 280pt;
  text-align:left;
}

.mainSearch .noResultsFound
{
  color:Red;
  font-weight:bold;
}
