body
{
  background-color: #F3F3F3;
}

.matrixInfoLayer
{  
  margin-left: 20px;
  margin-top: 20px;
}

.matrixInfoLayer .col1
{
  width: 15%;
  vertical-align: top;
}

.matrixInfoLayer .col2
{
  width: 85%;
  vertical-align: top;
}

.matrixInfoLayer .titleLayer
{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.matrixInfoLayer .tableLayer
{
}

