/* query */

.button_bar
{
  margin-bottom: 6px;
}

.big_button 
{
  display:inline-block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:13px;
  color:black;
  text-decoration:none;
  text-align:center;
  padding: 2px 6px 2px 6px;
  margin:2px;  
  cursor:pointer;
  border: 1px solid #B0B0B0;
  background: #D0D0FF;
  border-radius: 5px;
  background-image: linear-gradient(#F8F8F8, #E0E0E0);
  outline: none;
  width: auto;
	overflow: visible;
  box-shadow: 0px 1px 2px 0px #D0D0D0;
}

.big_button:hover
{
  border-color: gray;
}

.big_button:active
{
  background-image: linear-gradient(#D0D0D0, #F0F0F0);
}

textarea
{
  font-family: Arial;
  font-size: 12px;  
}

/* query_search */

.query_list
{
  width:100%;
  box-sizing: border-box;
  margin-left:0;
  padding-left: 0;
}

.query_list li
{
  padding-left: 0;
  list-style: none;
  display:block;
  border:1px solid #C0C0C0;
  border-radius: 5px;
  margin-top:4px;
  margin-bottom: 4px;
  padding:2px;
  background-image: linear-gradient(#F0F0F0, white);
}

.query_list li:hover
{
  border-color: #A0A0A0;
  background-image: linear-gradient(#F8F8FF, #E0E0FF);
}

.query_list .left
{
  box-sizing: border-box;
  display:inline-block;
  width: 80%;
  vertical-align: middle;
  padding: 4px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 4px 4px;
}

.query_list .left.select
{
  background-image: url(../images/select_data.png);  
}

.query_list .left.update
{
  background-image: url(../images/update_data.png);  
}

.query_list .right
{
  display:inline-block;
  width: 20%;  
  text-align: right;
  vertical-align: middle;
}

.query_list .query_name
{
  display: block;
  font-family: monospace;
  color: #D00000;
}

.query_list .query_title
{
  display: block;
  font-weight: bold;
  color: black;
}

.query_list .query_description
{
  display: block;
  font-weight: normal;
  color: gray;
}

/* query_instance */
.expression
{
  display:block;
  border:1px solid #606060;
  margin-top:2px;
  margin-bottom:2px;
  padding:2px;
  border-radius: 8px;
  position:relative;
}

.operator
{
  color: black;
  border:none;
  background-color: transparent;
}

.predicate
{
  color: black;
  padding: 2px;
  line-height: 20px;
}

.op_children
{
  display: block;
  padding: 8px;
}

.expr_option
{
  display: block;
  padding: 1px;
  color:black;
}

.expr_option:hover
{
  background: #8080FF;
  color: white;
}

.sql
{
  margin-top:10px;
  font-family: Courier New, monospace;
  font-size: 11px;
  background: #E0E0E0;
  padding: 4px;
  border: 1px solid black;
}

.query_label
{
  display: block;
}

.expr_button
{
}

.expr_button.add
{
  opacity: 0.5;
}

.expr_button.add:hover
{
  opacity: 1;
}

.expr_button.remove
{
  position: absolute;
  top: 1px;
  right:1px;
  padding:0;
  opacity: 0.5;
}

.expr_button.remove:hover
{
  opacity: 1;
}

.input_value
{
  border: none;
  color: black;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px dotted black;
  background-color: transparent;
  text-align: center;
}

select.input_value
{
  text-align: left;
  max-width: 540px;
}

.input_value:focus
{
  background-color: white;
  border:none;
}

.input_value.date
{
  width: 80px;
  vertical-align: middle;
}

.input_value.date ~ img
{
  vertical-align: middle;
}

.operator_link
{
  display: block;
}

.expression.ROOT
{
  border-color: orange;
  background-color: #FFFFE0;
}

.expression.AND
{
  border-color: red;
  background-color: #FFE0E0;
}

.expression.OR
{
  border-color: green;
  background-color: #E0FFE0;
}

.expression.NOR
{
  border-color: blue;    
  background-color: #E0E0FF;
}

.expression.predicate
{
  border-color: #C0C0C0;  
}

#output_selector
{
  display: inline-block;
  width: 100%;
  height: 100px;
  position:relative;
  overflow: hidden;
}

#output_list_label
{
  position:absolute;
  top: 0;
  left: 0;
  width: 48%;  
  height: 20px;
  line-height: 20px;
}

#output_selection_label
{
  position:absolute;
  top: 0;
  right: 0;
  width: 48%;  
  height: 20px;
  line-height: 20px;
}

#output_panel
{
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

#output_list
{
  background-color: #C0FFFF;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 48%;
  border: 1px solid gray;
}

#output_selection
{
  background-color: #C0FFFF;
  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 48%;
  border: 1px solid gray;
}

#add_output
{
  position: absolute;
  left: 48%;
  right: 48%;
  width:4%;
  top: 20%;
  height:30%;
  background-image: url(../images/right.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

#add_output:hover
{
  opacity: 1;
}

#remove_output
{
  position: absolute;  
  left: 48%;
  right: 48%;
  top: 50%;
  width:4%;
  height: 30%;
  background-image: url(../images/left.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

#remove_output:hover
{
  opacity: 1;
}

input#max_results
{
  width: 50px;
  margin-left: 4px;
}

select.instance_description
{
  width: 360px;
  padding: 0px;
  background-color: #C0FFFF;
  border: 1px solid #80C0FF;
  margin-right: 4px;
}

input.instance_description
{
  width: 400px;
  padding: 1px;
  background-color: white;
}

/* query_editor */

.query_header
{
  margin-top:6px;
  margin-bottom:6px;
}

.query_header .title
{
  font-weight: bold;
  display: block;
}

.query_header .description
{
  color: gray;
  display: block;
}

.vars_popup
{
  border:1px solid gray;
  background-color: #FFFF60;
  display: inline-block;
  box-shadow: 4px 4px 13px -2px rgba(0,0,0,0.54);
}

.vars_popup .var
{
  display: block;
  padding: 2px;
}

.output_label
{
  display: inline-block;
  margin: 2px;
}

.input_text
{
  border: 1px solid #A0A0A0;
  margin: 1px;
  padding:1px;
  font-family: Arial;
  background: linear-gradient(#F0F0F0, white);
}

.input_text:disabled
{
  background-color: white;
  border: 1px solid #A0A0A0;
}

.input_sql
{
  width: 100%;
}

.input_text.roles
{
  width:100%;
  font-family: monospace;
}

.output_label.top
{
  width:12%;
}

#query_name
{
  width: 30%;
}

#query_title
{
  width: 86%;
}

#query_description
{
  width:100%;
  height: 40px;
  box-sizing:border-box;
}

#query_label
{
  width:100%;
  height: 40px;
  box-sizing:border-box;
}

#query_sql
{
  width:100%;
  height: 100px;
  box-sizing:border-box;
}

#conn_driver,
#conn_url
{
  width:74%;
  box-sizing: border-box;
}

#parameter_size
{
  width: 40px;
}

#parameter_format
{
  margin: 1px;
  background: linear-gradient(#F0F0F0, white);
  border: 1px solid gray;
  font-size: 12px;
}

#predicate_label,
#output_label,
#output_description
{
  width:100%;
  box-sizing: border-box;
  height: 50px;
  font-family: Arial;
}

.tabbed_panel
{
  width:100%;
  margin-top: 12px;
}

.tabbed_panel .myFaces_panelTabbedPane_activeHeaderCell
{
  border: 1px solid gray;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tabbed_panel .myFaces_panelTabbedPane_activeHeaderCell input
{
  outline: none;  
  background: transparent;
}

.tabbed_panel .myFaces_panelTabbedPane_inactiveHeaderCell
{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #E0E0E0;
}

.tabbed_panel .myFaces_panelTabbedPane_inactiveHeaderCell input
{
  outline: none;
  background: transparent;
}

#connection_panel
{  
}

.edit_panel
{
  position: relative;
  display:block;
  width:100%;
  height:200px;
}

.edit_panel.outputs
{
  height: 276px;
}

.edit_panel .left
{
  position:absolute;
  margin: 0;
  border: 1px solid gray;
  top: 0;
  left: 0;
  bottom: 0;
  width: 160px;
  overflow: auto;
  padding-left: 0;
  margin:0;
  background: linear-gradient(#F0F0F0, white);
}

.edit_panel .right
{
  position:absolute;
  top: 0;
  left: 168px;
  right:0;
  bottom:0;
}

.edit_panel a
{
  display: block;
  padding: 2px;
  color:black;
}

.edit_panel a.selected
{
  background-color: #BBBBBB;
  color: white;
}

.edit_panel a.inherited
{
  color: blue;  
}

.edit_panel a:hover
{
  background-color: #E0E0E0; 
}

.edit_panel a.selected:hover
{
  background-color: #BBBBBB;  
}

#classification_panel .output_label
{
  width: 14%;  
}

#classification_panel .select_box
{
  margin: 1px;
  background: linear-gradient(#F0F0F0, white);
  border: 1px solid gray;
  font-size: 12px;
}

#connection_panel .output_label
{
  width: 16%;
}

.edit_panel .output_label
{
  width:25%;
}

.edit_panel .input_text
{
  width:70%;
  font-size: 12px;
}

.small_button
{
  border: 1px solid #A0A0A0;
  padding: 1px;
  margin: 1px;
}

.small_button:hover
{
  background-color: #F0FF80;
}

div.createNewVersionDiv
{
  height: 30px;
}

div.createNewVersionDiv input[type=checkbox]
{
  vertical-align: middle;
}

div.createNewVersionDiv label
{
  line-height: 30px;
  cursor: pointer;
}
