body {font-family:arial; font-size:14px; background-color:#E0E0E0}
.page {background-color:white;width:780px;margin-left:auto;margin-right:auto;border:1pt solid gray; }
.title {font-weight:bold; padding:16px}
.block {font-family:arial; padding: 16px}
.sigId {font-family:courier; font-size:14px}
.button {}
.field {font-weight:bold}
.signatureBox {border: 1pt solid gray; width:400px; font-family: Arial;
    background:#FFFFF0; font-size: 11px;  padding:4px; margin-bottom:4px; display:block}


