BODY
{
  font-family: verdana, arial;
  font-size:14px;
}

.header .col1
{
  text-align:left
}

.header .col2
{
  text-align:right;
}

A.loginButton
{
  color:black;
  background-color:#F0F0F0;
  text-decoration:none;
  vertical-align:middle;
  display:inline-block;
  border-style:outset;
  border-width:2px;
  padding:4px;
  margin:4px;
}

A.loginButton:hover
{
  background-color:#FEFEFE;
}

.loginBox
{
  vertical-align:middle;
  font-family: verdana, arial;  
  font-size:14px;
  border-color:black;
  border-style:solid;
  border-width:1px;
}

.loginText
{
  vertical-align:middle;
}

.displayNameText
{
  vertical-align:middle; 
}