/* toolbar styles */

body
{
  background: #D8D8D8;
  font-family: Arial;
  font-size:12px;
  margin:0px;
}

.webtoolbar
{
  width:100%;
  display:inline-block;
  padding:0;
  margin:0;
  background:black;
  font-family: Arial;
  font-size:14px;
  vertical-align: middle;
  min-height: 28px;
}

.webtoolbar .workspace
{
  color: white;
  vertical-align: middle;
  padding:3px;
}

.webtoolbar img
{
  vertical-align:middle;
  margin:0;
  border:0;
}

.webtoolbar .workspace
{
  color: #c0c0c0;
}

.webtoolbar .workspaceSelect
{
  vertical-align: middle;
  font-family: Arial;
  font-size: 14px;
  margin-left: 2px;
  margin-right: 2px;
  background: #800000;
  border: none; 
  color: #c0c0c0;
  outline-color: #f0f0f0;
  outline-width: 1px;
}

.webtoolbar SPAN.block1
{
  display:inline-block;
  float:left;
  text-align:left;
  vertical-align:middle;
}

.webtoolbar SPAN.block2
{
  display:inline-block;
  float:right;
  text-align:right;
  vertical-align:middle;
  padding: 3px;
}

.webtoolbar img.gdmatrix_logo
{
  vertical-align: middle;
  height:20px;
  margin-left: 3px;
  margin-right:3px;
}

.webtoolbar .tb_button
{
  float:none;
  display:inline-block;
  font-family:Arial; 
  color:#c0c0c0;
  text-decoration:none;
  padding:3px 6px 3px 6px;
  vertical-align:middle;
  width:auto;
  border:none;
  border-top:solid 3px transparent;
  border-bottom:solid 3px black;
  background: transparent;
  overflow:visible;
  outline-color: #f0f0f0;
  outline-width: 1px;
}

.webtoolbar .tb_button.info
{
  color: #ff8080;
}

.webtoolbar .tb_button:hover
{
  color: white;  
}

.webtoolbar .tb_button.selected
{
  color: white;
  border-bottom: solid 3px red;
  background: #800000;
}

.webtoolbar .tb_img_button
{
  outline-color: #f0f0f0;
  outline-width: 1px;  
}

.webtoolbar .tb_img_button img
{
  vertical-align: middle;
  margin: 2px;
  border: 0px;
  width: 16px;
  height: 16px;
  opacity: 0.7;
}

.webtoolbar .tb_img_button img:hover
{
  opacity: 1;
}


.element-invisible
{
  display:none;
  visibility:hidden;
}

#_overlay_
{
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index:10000;
  visibility:hidden;
  background-color:white;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;
  overflow:hidden;
}

#_overlay_loading 
{
  display: block;
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  border: solid 2px transparent;
  border-top-color: #0000FF;
  border-left-color: #0000FF;
  border-radius: 50%;
  filter:alpha(opacity=100);
  -moz-opacity:1;
  opacity:1;
  -webkit-animation: overlay-spinner 400ms linear infinite;
  -moz-animation: overlay-spinner 400ms linear infinite;
  -ms-animation: overlay-spinner 400ms linear infinite;
  -o-animation: overlay-spinner 400ms linear infinite;
  animation: overlay-spinner 400ms linear infinite;
}

@-webkit-keyframes overlay-spinner 
{
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes overlay-spinner 
{
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes overlay-spinner 
{
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes overlay-spinner 
{
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes overlay-spinner 
{
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Accessibilitat - Skip links */

div.skipDiv
{
}

div.skipDiv a
{
  display: block;
  height: 100%;
  background-image: none !important;
  background-color: #AC1354;  
}

div.skipDiv#templateSkipTop
{
  width: 30px;
  height: 30px;
}

div.skipDiv#templateSkipTop a
{
  /* background: url("/topframe/images/skip_to_content.png") #AC1354 no-repeat center; */
  position: relative;
  width: 1px;
  height: 1px;
  left: -10000px;    
}

div.skipDiv#templateSkipTop a:focus
{
  height: 100%;  
  width: 100%;
  left: 0;
}

div.skipDiv#templateSkipTop img
{
  margin-top: 3px;
}

div.skipDiv#templateSkipBottom.show
{
  position: fixed;  
  bottom: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
}

div.skipDiv#templateSkipBottom.hide
{
  position: relative;
  left: -10000px;
  width: 1px;
  height: 1px;
}

div.skipDiv#templateSkipBottom a
{
  /* background: url("/topframe/images/skip_to_top.png") #AC1354 no-repeat center; */
}

.matrix_info, .system_info
{
  padding: 6px;
  font-family: Arial;
  font-size:14px;
  color: #404040;
}

.matrix_info h1, .system_info h1
{
  font-size: 18px;
  color: #a02020;
  overflow-wrap: break-word;
}

.matrix_info h2, .system_info h2
{
  font-size: 16px;
  color: #a02020;
  overflow-wrap: break-word;
}

.matrix_info pre
{
  font-family: monospace;
  width: 100%;
  display:block;
  overflow-x:scroll;
  background: white;
  padding: 0px;
  box-sizing:border-box;
  padding: 4px;
}
