/*********** workflow **********/

/* catalogue */

.catalogue ul
{
  list-style-type: none;
  list-style-position: outside;
  vertical-align: middle;
  display: block;
  margin-left:20px;
  padding: 1px;
  padding-left:0px;
}

.catalogue .procedureIcon
{
  vertical-align: middle;
  border:0;
}

.catalogue li
{
  list-style-type: none;
  list-style-position: outside;
  vertical-align: middle;
  display: block;
  margin:0px;
  padding: 1px;
  padding-left:0px;
}

.catalogue li a
{
  margin-top:1px;
  vertical-align: middle;
  margin:0;
}

.catalogue .toggler
{
  margin:0 3px 0 0px;
  vertical-align:baseline;
  border:0;
}

.catalogue .itemImage
{
  vertical-align:middle;
  border:none;
}

.procedureGroupText
{
  color:Red;
  font-size:14px;
}

.procedureText
{
  color:#404040;
  font-size:13px;
  margin-right:2px;
}

A.procedureButton
{
  color:#FF8080;
  font-size: 11px;
  font-weight:bold;
  text-decoration:none;
  vertical-align: middle;
  padding-left:4px;
}

A.procedureButton:hover
{
  color:red;
}

A.consultButton
{
  color:#B0B0B0;
  font-size: 11px;
  font-weight:bold;
  vertical-align: middle;
  padding-left:4px;
  text-decoration:none;
}

A.consultButton:hover
{
  color:black;
}

.sectionHeader
{
  display:block;
  padding:2px;
  font-weight: normal;
  background-color:#FFD0D0;
}

.procedureActionBar
{
  text-align:center;
}

/* instance */

.workflowInstance
{
  border-style:solid;
  border-width:1px;
  border-color:#C0C0C0;
  background-color:#FFF0F0;
}

.workflowInstance > .header
{
  display:inline-block;
  width:100%;
  background-color:#FFD0C0;
  vertical-align: middle;
  padding-top:4px;
  padding-bottom:4px;
}

.workflowInstance > .header .instanceNumber
{
  color:black;
  font-size: 13px;
  font-style:italic;
}

.workflowInstance > .header .stateDesc
{
  color:black;
  font-size: 14px;
}

.workflowInstance > .header .col1
{
  width:86%;
  text-align:left;
  float:left;
}

.workflowInstance > .header .col2
{
  width:14%;
  text-align:right;
  float:right;
}

.workflowInstance > .form
{
  display: inline-block;
  margin-top: 2px;
  width:100%;
}

.workflowInstance > .workflowForms
{
  display:inline-block;
  padding-top:4px;
  margin-top:4px;
  width:100%;
}

.workflowInstance > .workflowForms ul
{
  border-style:solid;
  border-width:1px;
  border-color:red;
  margin-top:0;
  margin-bottom:0;  
  margin-left: 0;
  padding-left: 0;
  font-family: Arial;
  font-size: 12px;
}

.workflowInstance > .workflowForms ul > li
{
  list-style:none;
  padding:2px;
  margin-left: 0;
  padding-left: 20px;
  vertical-align: middle;
}

.workflowInstance > .workflowForms ul > li.selected
{
  background: url(../images/sel_item.gif) no-repeat 0 center;
  font-weight: bold;
}

.workflowInstance > .workflowForms ul > li > a
{
  text-decoration: none;
  color: black;
}

.workflowInstance > .workflowForms > ul > li.selected > a
{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.workflowInstance .body
{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x:auto;
  position:relative;
}

.workflowInstance .curtain
{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: #E0E0E0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.workflowInstance > .footer
{
  display:inline-block;
  width:100%;
  background-color:#FFD0D0;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
}

.workflowInstance > .footer_empty
{
  display:inline-block;
  width:100%;
  background-color:#FFD0D0;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 24px;
}

.workflowInstance > .footer .col1
{
  width:50%;
  text-align:left;
  float:left;
}

.workflowInstance > .footer .col2
{
  width:50%;
  text-align:right;
  float:right;
}

.workflowInstance .final_form
{
  padding: 4px;
}

.workflowInstance .final_form img
{
  vertical-align: middle;
  padding: 4px;
}

.normalVar
{
  color:black;
}

.formVar
{
  color:#008000;
  font-weight:bold;
}

.errorVar
{
  color:red;
  font-weight:bold;
}

.accessVar
{
  color:#606060;
  font-weight:bold;
}

.text_type,
.number_type,
.boolean_type
{
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

.text_type
{
  background-image: url(../images/text_type.gif);  
}

.number_type
{
  background-image: url(../images/number_type.gif);  
}

.boolean_type
{
  background-image: url(../images/boolean_type.gif);  
}

.workflowError
{
  border: 1px solid red;
  font-weight: bold;
  padding: 5px;
  color: red;
}

.workflowError img
{
  vertical-align: middle;
  padding: 4px 4px 4px 10px;
}

.workflowError .warnMessage
{
  font-weight: bold;
  display: inline;
  padding: 5px;
}

.workflowErrorDialog
{
  border-style:dashed;
  border-color:#FF8080;
  border-width:1px;
  background-color:#FFFFEE;
}

.workflowErrorDialog .header
{
  text-align:left;
  font-weight:bold;
}

.workflowErrorDialog .footer
{
  text-align:center;
}

.workflowErrorDialog .col1
{
  width:40px;
  text-align:center;
}

.workflowErrorDialog .col2
{
}

.uploadFilesList
{
  background-color:white;
  border-style:solid;
  border-color:gray;
  border-width:1px;
}

.uploadFilesList th
{
  background-color:white;
  border-style:none;
  height:24px;
  text-align: left;
}

.uploadFilesList .row1
{
  background-color:#FAFAFA;
  height:24px;
}

.uploadFilesList .row2
{
  background-color:white;
  height:24px;
}

.uploadFilesList .col1
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
}

.uploadFilesList .col2
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
}

.uploadFilesList .col3
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:0px;
}

.uploadFilesList .documentLink
{
  text-decoration:none;
  color:black;
}

.uploadFilesList A.documentLink:hover
{
  color:#802020;
}

A.docPrintButton
{
  font-size:20px;
  color:black;
  display:inline-block;
  text-decoration:none;
  background-color:#DDD0D0;
  border-style:groove;
  padding:6px;
  text-align:center;
}

A.docPrintButton:hover
{
  background-color:#EEE0E0;
}

.workflowPrintFooter
{
  text-align:center;
}

.debugPanel
{
  background:#F0F0C0;
}

.debugToolbar
{
  padding: 6px 2px 6px 2px
}

.debugTabs
{
  font-family: Arial;
  font-size: 12px;
}
.debugTabs .ui-tabs-panel
{
  padding: 6px;  
}

.varTable
{
  width:100%;
  border-collapse: collapse;
  border: 2px solid gray;
  word-break: break-all;
  margin-top: 10px;
  font-family: monospace;
  font-size: 12px;
}

.varTable th
{
  font-family: Arial;
  font-size: 12px;
  border-left: 1px solid gray;
  padding: 2px;
}

.varTable tr:hover
{
  background: #FFFFD0;
}

.varTable td
{
  padding:2px;
}

.varTable .col1
{
  border: solid gray;
  border-width:1px 0px 0px 0px;
  width:40%;
  font-family: monospace;
  font-size: 12px;
}

.varTable .col2
{
  border:solid;
  border-color:gray;
  border-width:1px 0px 0px 1px;
  width:60%;
  font-family: monospace;
  font-size: 12px;
}

.varIcon
{
  vertical-align:middle;
  margin-right:4px;
}

/* instanceList */

.instanceList .filter .variableBox,
.instanceList .filter .stateSelector
{
  margin-left:4px;
  margin-right:4px;
  vertical-align: middle;
}

.instanceList .filter .searchButton
{
  margin-left:4px;
  margin-right:4px;
  vertical-align: middle;
}

.instanceList .filter .header
{
  margin: 4px 0px 10px 0px;
}

.instanceList .filter .header .searchTitle
{
  font-weight: bold;
  vertical-align: middle;
}

.instanceList .filter .row
{
  margin-top:4px;
  margin-bottom:4px;
  vertical-align: middle;
}

.instanceList .filter .calendarBox
{
  width:80px;
  margin-left:4px;
  vertical-align: middle;
}

.instanceList .filter .calendarButton
{
  vertical-align: middle;
  margin-right: 4px;
}

.instanceListTable
{
  background-color:#FFF0F0;
  border-style:solid;
  border-width:1px;
  border-color:gray;
  width:100%;
}

.instanceListTable .header
{
  background-color:#FFD0C0;
}

.instanceListTable .col1
{
  width:8%;
}

.instanceListTable .col2
{
  width:4%;
  border-left: 1px solid #FFD0C0;
  text-align:center;
}

.instanceListTable .col3
{
  width:48%;
  border-left: 1px solid #FFD0C0;
}

.instanceListTable .col4
{
  width:40%;
  text-align:right;
}

.instanceListTable .row1
{
  background-color:White;
  height:32px;
}

.instanceListTable .row1:hover
{
  background-color:#FFFFD0;
}

.instanceListTable .row2
{
  height:32px;
}

.instanceListTable .row2:hover
{
  background-color:#FFFFD0;
}

.instanceListTable .footer
{
  border-style:none;
  border-top-style:solid;
  border-color:gray;
  border-width:1px;
}

.instanceListTable .legend .fcol1
{
  width:40%;
  text-align:left;
}

.instanceListTable .legend .fcol2
{
  width:60%;
  text-align:right;
}

.instanceList .userPanel
{
  margin-top:10px;
}

.instanceList .adminPanel
{
  margin-top:10px;
}

.instanceUserState
{
  color:black;
}

.instanceStartDate
{
  color: #861616;
  margin-left: 4px;
  font-weight:normal;
}

.instanceInternalState
{
  color:gray;
  font-size:11px;
  margin-left: 4px;
}

.workflowMessage
{
  font-weight:bold;
}

.workflowCommandLink img
{
  border:none;
  vertical-align:middle;
}

.workflowCommandLink .buttonText
{
  vertical-align:middle;
}

.workflowCommandLink
{
  vertical-align:middle;
  display:-moz-inline-box;
  display:inline-block;
  text-decoration:none;
  color:Black;
  padding:2px 6px 2px 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  background:url("/common/workflow/images/button.gif");
  border-color:black;
  border-style:solid;
  border-width:1px;
}

.workflowInstance input.workflowCommandLink
{  
  cursor: pointer;
}

.workflowInstance input.workflowCommandLink.backward,
.workflowInstance input.workflowCommandLink.forward
{
  padding-top: 3px;
  padding-bottom: 3px;
}

.workflowInstance input.workflowCommandLink.backward
{
  background-image: url("/common/workflow/images/backward.gif"), url("/common/workflow/images/button.gif");
  background-position: 10%, top;
  background-repeat: no-repeat, repeat;
  padding-left: 22px;  
}

.mobile .workflowInstance input.workflowCommandLink.backward
{
  padding-left: 22px;
}

.workflowInstance input.workflowCommandLink.backward:hover
{
  background-image: url("/common/workflow/images/backward.gif"), url("/common/workflow/images/button_hover.gif");
  background-position: 10%, top;
  background-repeat: no-repeat, repeat;
}

.mobile .workflowInstance input.workflowCommandLink.forward
{
  padding-right: 22px;
}

.workflowInstance input.workflowCommandLink.forward
{
  background-image: url("/common/workflow/images/forward.gif"), url("/common/workflow/images/button.gif");
  background-position: 90%, top;
  background-repeat: no-repeat, repeat;
  padding-right: 22px;
}

.workflowInstance input.workflowCommandLink.forward:hover
{
  background-image: url("/common/workflow/images/forward.gif"), url("/common/workflow/images/button_hover.gif");
  background-position: 90%, top;
  background-repeat: no-repeat, repeat;
}

.workflowInstance input.workflowCommandLink:hover
{
  background:url("/common/workflow/images/button_hover.gif");
}

A.workflowCommandLink:hover
{
  background:url("/common/workflow/images/button_hover.gif");
}

.fileUploadButton
{
}

.workflowButton
{
  vertical-align:middle;
  display:-moz-inline-box;
  display:inline-block;
  text-decoration:none;
  color:Black;
  padding:2px 6px 2px 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  background:url("/common/workflow/images/button.gif");
  border-color:black;
  border-style:solid;
  border-width:1px;
}

.workflowButton:hover
{
  background:url("/common/workflow/images/button_hover.gif");
}

.workflowInstance .uploadDocumentForm input.workflowButton.store
{
  background-image: url(/common/workflow/images/accept.gif), url(/common/workflow/images/button.gif);
  background-position: 10%, top;
  background-repeat: no-repeat, repeat;
  padding-left: 22px;
}

.workflowInstance .uploadDocumentForm input.workflowButton.cancel
{
  background-image: url(/common/workflow/images/cancel.gif), url(/common/workflow/images/button.gif);
  background-position: 10%, top;
  background-repeat: no-repeat, repeat;
  padding-left: 22px;
}

.buttonBar
{
  margin-top: 4px;
  text-align: center;
}

.uploadDocumentForm {
  border: solid 1px;
  padding: 5px;
}

.uploadDocumentForm div{
  padding: 2px;
}

.uploadDocumentForm .textBox {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
  vertical-align: middle;
}

.uploadDocumentForm .inputBox {
  background: url("images/text_box_back.gif") repeat-x scroll left top #FFFFFF;
  border-color: #808080;
  border-style: solid;
  border-width: 1px;
  font-family: arial;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px 1px;
  vertical-align: middle;
}

.uploadDocumentForm .outputBox {
  background: url("images/text_box_back.gif") repeat-x scroll left top #FFFFFF;
  border-color: #808080;
  border-style: solid;
  border-width: 1px;
  color: #A08080;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  height: 14px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px 1px;
  vertical-align: middle;
}

.uploadDocumentForm .selectBox {
  background: url("images/text_box_back.gif") repeat-x scroll left top #FFFFFF;
  border-color: #808080;
  border-style: solid;
  border-width: 1px;
  font-family: arial;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: middle;
}

.paragraph
{
  margin: 10px;
}

ul.messages
{
  padding-left:0;
}

ul.messages li
{
  padding: 4px;
  margin-left: 0px;
}

/* SelectMenu form assistant default styles */

.workflowInstance .body .bot
{
  
}

.workflowInstance .body table.assistant
{
  margin-top: 15px;
}

.workflowInstance .body table.assistant tr
{
  display: inline-block;
}

.workflowInstance .body table.assistant tr td a 
{
  padding: 10px 14px;
  font-size: 12px;
  font-weight: normal;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #ac1354;  
  margin: 5px;
  margin-right: 0;
  margin-left: 10px;  
  box-sizing: border-box;
  text-decoration: none;
}

.workflowInstance .body table.assistant tr td a:hover
{
  background-color: #d36b73;  
} 

.workflowInstance .body table.assistant tr td img
{
  display: none;
}

.workflowInstance .body table.list
{
}

.workflowInstance .body table.css_file
{
}

.workflowInstance .responsive_form .row
{
  margin: 4px;
  box-sizing: border-box;
}

.workflowInstance .responsive_form .row label
{
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
}

.workflowInstance .responsive_form .row input,
.workflowInstance .responsive_form .row select,
.workflowInstance .responsive_form .row textarea
{
  width: 75%;
  box-sizing: border-box;
  display: inline-block;
}

.stackItems > div
{
  border: none;
}

.stackItems a
{
  color: blue;
}

.stackItems a:hover
{
  text-decoration: underline;  
}

.stackItems ul
{
  list-style-type: none;
  padding-left: 0; 
}

.stackItems ul.stackItem
{
  border: 1px solid #E0E0E0;
  background-color: #F8F8F8;
  border-radius: 3px;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 12px;
  padding: 4px;   
}

.stackItems ul.stackItem li
{
  color: #404060;
}

.stackItems .instanceId
{
  font-weight: bold;
}

.instanceEvents > div
{
  border: none;
  padding: 0px;
}

.instanceEvents ul
{
  list-style-type: none;
  padding: 0;
}

.instanceEvents ul.instanceEvent
{
  border: 1px solid #E0E0E0;
  background-color: #F8F8F8;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 4px;
}

.instanceEvents ul.instanceEvent > li
{
  font-family: monospace;
  font-size:12px;
  color: #404060;
}

.instanceEvent > table.variableChanges
{
  border: 2px solid gray;
  font-family: monospace;
  font-size: 12px;
  margin-top: 4px;
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  background: white;
}

.instanceEvent > table.variableChanges th
{
  border-left: 1px solid gray;
  border-top: none;
  padding: 2px;  
  width: 33%;
}

.instanceEvent > table.variableChanges th:last-child
{
  width: 34%;
}

.instanceEvent > table.variableChanges tr:hover
{
  background-color: #FFFFD0;
}

.instanceEvent > table.variableChanges td
{
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  padding: 2px;
}

.instanceEvent > table.variableChanges td a
{
  color: blue;
}

.instanceEvent > table.variableChanges td a:hover
{
  text-decoration: underline;  
}

.instanceEvent > table.variableChanges th
{
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.instanceEvent > table.variableChanges th:first-child,
.instanceEvent > table.variableChanges td:first-child
{
  border-left: none;  
}

span.value
{
  color: black;
  word-break: break-all;
  vertical-align: middle;
}

.set_variables
{
  padding: 6px 2px 2px 2px;
}

.set_variables > input
{
  width:350px;
  vertical-align:middle;
  font-family: monospace;
  font-size:12px;
}