@font-face 
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

:root 
{
  font-size:12px;
  --font-family:Montserrat;
  --toolbar-button-size: 3rem;
  --toolbar-icon-size: 1rem;
}

body
{
  background-color: var(--surface-0);
}

.frame
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body .ui-widget 
{
  font-family: var(--font-family);
  font-size: 1rem;
}

body .ui-inputfield,
body .ui-selectonemenu .ui-selectonemenu-label
{
  background-color: var(--surface-ground);
}

body .ui-selectonemenu .ui-selectonemenu-trigger 
{
  __background-color: var(--secondary-color);
  background-color: var(--surface-ground);
}

/* component styles */

body .ui-autocomplete-token
{
  white-space: normal;
  margin: 1px;
}

body .ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-input-token input
{
  font-family: var(--font-family);
}

body .ui-autocomplete.class_reference .ui-autocomplete-multiple-container.ui-inputfield
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body .ui-paginator .ui-paginator-current
{
  display: block;
}

/* Scrollbars */
div, ul
{
  scrollbar-width: thin;
  scrollbar-color: var(--surface-ground) transparent;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}



::-webkit-scrollbar-thumb
{
  background: var(--surface-100);
  border-radius: 0;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a .ui-menuitem-text
{
  display: inline-block;
}

body .loading-icon-container .ui-dialog-content
{
  padding: var(--content-padding);
}

body .pi.loading-icon
{
  font-size: 4rem;
}

body .ui-inputfield, body .ui-selectonemenu .ui-selectonemenu-label
{
  font-family: var(--font-family)
}

.page-layout
{
  display: flex;
  flex-direction: row;
}

.topbar-layout
{
  height: 4rem;
  padding: 0 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.topbar-layout-left
{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.topbar-layout-right
{
}

.ui-chips-container
{
  width: 100% !important;
}

body .ui-datatable .ui-datatable-footer,
body .ui-datatable .ui-datatable-header
{
  padding: 0.25rem 1rem;
}

.ui-menu-button.ui-button-flat button
{
  background-color: transparent;
  color: var(--primary-500);
  border-color: transparent;  
}
/*** Autocomplete ***/
body .ui-autocomplete
{
  display: flex;
}

body .ui-autocomplete > input
{
  width:100%;
}

/*** DataTables ***/
.ui-datatable table
{
  table-layout: auto;
}

/*** Dialogs ***/
body .ui-dialog
{
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 95%;
  max-height: 95%;
}

body .ui-dialog-content
{
  overflow-y: hidden !important;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title
{
  float: left;
}

/* Menus */
body .vertical_menu.ui-menu
{
  width: 100%;
  border: 0;
  background: transparent;
  float: left;
}

body .ui-menu .ui-menu-list .ui-menuitem-link.current
{
  background-color: var(--secondary-color);
}

body .ui-menu .ui-menu-list .ui-submenu-child .ui-menuitem-link
{
  padding-left: 2rem;
}

/* Raster image icons */
.mtx
{
  width: 1.5rem;
  height: 1.5rem;
}

.ui-button.ui-button-icon-only .ui-icon.mtx
{
  margin-top: -0.6rem;
  margin-left: -0.6rem;
}

.ui-button a
{
  text-decoration: none;
}

.ui-menuitem-link .ui-icon.mtx
{
  position: absolute;
}

.ui-menuitem-link .ui-menuitem-icon.ui-icon.mtx+.ui-menuitem-text
{
  margin-left: 1.5rem;
}

.mtx.mtx-invert-color
{
  filter: invert(1);  
}

.mtx-icon-show
{ 
  background: url('/themes/default/images/show.png') no-repeat !important;
}

.mtx-icon-current 
{ 
  background: url('/themes/default/images/current.png') no-repeat !important;
}

.loading-icon-container
{
  z-index: 200000 !important;
}

body .ui-datepicker .ui-datepicker-calendar td
{
  padding: 0;
}

body .edit_data_dialog
{
  max-height: 85%;
  width: 90% !important;
  max-width: 1200px;  
}

body .edit_data_dialog.mw_800
{
  max-width: 800px;
}

body .edit_data_dialog.mw_600
{
  max-width: 600px;
}

body .ui-messages-error ul 
{
  margin-left: 30px;
}

/***** template styles *****/

.app_menubar
{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  box-shadow: 0px 5px 3px -3px rgb(50 50 50 / 30%);
}

.app_menubar .pi
{
  color:var(--primary-color-text);
}

.app_menubar select
{
  border:none;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border: 1px solid var(--primary-color-text);
  font-family: var(--font-family);
  border-radius: 3px;
}

.app_content
{
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.app_content > .app_toolbar
{
  display: flex;
  padding: 0;
  border: none;
  background-color: #303030;
  box-shadow: 5px 0 3px -3px rgb(50 50 50 / 30%);
  z-index:10;
  border-radius: 0;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.app_content > .app_toolbar > .scroll
{
  height: 100%;
  width: var(--toolbar-button-size);
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.app_content > .app_toolbar > .scroll::-webkit-scrollbar
{
  display: none;
}

.app_content > .app_toolbar .ui-button
{
  border:none;
  border-radius: 0;
  background-color: transparent;
  color: #d0d0d0;
  width: var(--toolbar-button-size);
  height: var(--toolbar-button-size);
  flex-shrink: 0;
}

.app_content > .app_toolbar .ui-button.ui-button-icon-only .ui-icon
{
  font-size: var(--toolbar-icon-size);  
  margin-top: calc(var(--toolbar-icon-size) * -0.5);
  margin-left: calc(var(--toolbar-icon-size) * -0.5);
}

.app_content > .app_toolbar .ui-button:hover
{
  background-color: #606060;
  color: #f0f0f0;
}

.app_content > .app_toolbar .ui-button.current
{
  background-color: #0b7ad1;
  color: white;
}

.app_content > .app_body
{
  flex-grow: 1;
  overflow: auto;
}

@media only screen and (max-width: 700px) 
{
  .app_content
  {
    flex-direction: column;
  }  
  
  .app_content > .app_toolbar
  {
    box-shadow: 0px 5px 3px -3px rgb(50 50 50 / 30%);
    flex-direction: row;
    width:100%;
    height: var(--toolbar-button-size);
  }  
  
  .app_content > .app_toolbar > .scroll
  {
    width: 100%;
    height: var(--toolbar-button-size);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .display_name
  {
    display:none;
  }
  
  body .ui-button.ui-button-text-icon-left.mini > .ui-button-text,
  body .ui-button.ui-button-text-icon-right.mini > .ui-button-text
  {
    visibility: hidden;
    width: 0;
    padding-right: 0;
    white-space:nowrap;
  }
}

.tipInputText
{  
  position: relative;
}

.tipInputText .tipInput
{
}

.tipInputText button.tipIcon
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tipInputText .tipDialog
{
  overflow-y: hidden;
  position: absolute;
  left: 0 !important;
  top: 90px !important;
  max-height: 600px;
  max-width: 280px !important;
}

.tipInputText .tipDialog .ui-dialog-titlebar
{
  display: flex;
  padding-bottom: 0;
}

.tipInputText .tipDialog .ui-dialog-titlebar span
{
  flex-grow: 1;
}

.tipInputText .tipDialog .ui-dialog-titlebar a
{
  flex-grow: 0;
}

.tipInputText .tipDialog .tipHeader
{
  font-weight: bold;
  font-size: 14px;
}

.tipInputText .tipDialog .tipContent
{
}

.tipInputText .tipDialog .tipContent ul
{
  padding-left: 20px;
}

.tipInputText .tipDialog .tipContent ul li
{
  margin-top: 4px;
}

/* Material icons - avoid default 24px size */
body .material-icons,
body .mi
{
  font-size: inherit;
}