:root 
{
  --font-size:12px;
  --font-family:Montserrat;
  --menubar-height: 3rem;
  --toolbar-button-size: 3rem;
  --toolbar-icon-size: 1rem;
  --toolbar-color: #303030;
  --toolbar-color-text: #f0f0f0;
}

:root
{
  font-family: var(--font-family);
  font-size:var(--font-size);
}

h1
{
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 1.1rem;
  margin:0;
}

/***** template styles *****/

.app_menubar .menu_button
{
  width: var(--toolbar-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_menubar
{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--menubar-height);
  padding: 0;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  box-shadow: 0px 5px 3px -3px rgb(50 50 50 / 30%);
}

.app_menubar .pi
{
  color:var(--primary-color-text);
}

.app_menubar select
{
  border:none;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border: 1px solid var(--primary-color-text);
  font-family: var(--font-family);
  border-radius: 3px;
}

.app_content
{
  position: absolute;
  top: var(--menubar-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.app_content > .app_toolbar
{
  display: flex;
  padding: 0;
  border: none;
  background-color: var(--toolbar-color);
  box-shadow: 5px 0 3px -3px rgb(50 50 50 / 30%);
  z-index:10;
  border-radius: 0;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.app_content > .app_toolbar > .scroll
{
  height: 100%;
  width: var(--toolbar-button-size);
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.app_content > .app_toolbar > .scroll::-webkit-scrollbar
{
  display: none;
}

.app_content > .app_toolbar .ui-button
{
  border:none;
  border-radius: 0;
  background-color: transparent;
  color: var(--toolbar-color-text);
  width: var(--toolbar-button-size);
  height: var(--toolbar-button-size);
  flex-shrink: 0;
}

.app_content > .app_toolbar .ui-button.ui-button-icon-only .ui-icon
{
  font-size: var(--toolbar-icon-size);  
  margin-top: calc(var(--toolbar-icon-size) * -0.5);
  margin-left: calc(var(--toolbar-icon-size) * -0.5);
}

.app_content > .app_toolbar .ui-button:hover
{
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.app_content > .app_toolbar .ui-button.current
{
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.app_content > .app_body
{
  flex-grow: 1;
  overflow: auto;
}

@media only screen and (max-width: 700px) 
{
  .app_content
  {
    flex-direction: column;
  }  
  
  .app_content > .app_toolbar
  {
    box-shadow: 0px 5px 3px -3px rgb(50 50 50 / 30%);
    flex-direction: row;
    width:100%;
    height: var(--toolbar-button-size);
  }  
  
  .app_content > .app_toolbar > .scroll
  {
    width: 100%;
    height: var(--toolbar-button-size);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .display_name
  {
    display:none;
  }
  
  body .ui-button.ui-button-text-icon-left.mini,
  body .ui-button.ui-button-text-icon-right.mini
  {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  body .ui-button.ui-button-text-icon-left.mini > .ui-button-text,
  body .ui-button.ui-button-text-icon-right.mini > .ui-button-text
  {
    visibility: hidden;
    width: 0;
    padding-right: 0;
    white-space:nowrap;
    overflow: hidden;
  }

  body .ui-button.ui-button-text-icon-left.mini > .ui-icon,
  body .ui-button.ui-button-text-icon-right.mini > .ui-icon
  {
    left: 8px;
  }
}

.cursor_move
{
  cursor: move;
}

.tipInputText
{  
  position: relative;
}

.tipInputText .tipInput
{
}

.tipInputText button.tipIcon
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tipInputText .tipDialog
{
  word-break: break-word;
}

.tipInputText .tipDialog .tipHeader
{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.tipInputText .tipDialog .tipContent
{
}

.tipInputText .tipDialog .tipContent ul
{
  padding-left: 20px;
}

.tipInputText .tipDialog .tipContent ul li
{
  margin-top: 4px;
}

/* Form descriptions */

.formDescription > div
{
  border: 1px solid #ced4da;
  margin-top: 10px;
  margin-bottom: 10px;  
  padding: 4px;  
}

.formDescription .header
{
  font-weight: bold;  
}

.formDescription .row
{
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
}

.formDescription .row .label
{
  width: 100px;  
}

.formDescription .row .value
{
  word-break: break-word;   
}
 
/* Material icons - avoid default 24px size */
body .material-icons,
body .mi
{
  font-size: inherit;
}

/* gdm:quill text editors */

.ui-texteditor
{
  width: 100%;
}

.ui-texteditor .ql-container 
{
  min-height: 150px;  
}

/* ui-inputgroup components */
body .ui-inputgroup div:last-child,
body .ui-inputgroup span:last-child
{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px
}

body div.field
{
  border: inherit;
  background: inherit;
  margin: 0;
  margin-bottom: 1rem;
}

.logo
{
  background-color: var(--primary-color-text);
  height: var(--menubar-height);
  mask-size: auto var(--menubar-height);
  -webkit-mask-size: auto var(--menubar-height);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: left center;
  -webkit-mask-position: left center;
}

.login_button
{
  width: 24px;
  height: 24px;
  border-color: var(--primary-color-text);
  color: var(--primary-color-text) !important;
  text-decoration: none !important;
  outline:none;
  border-radius: 50%;
  border-style:solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s,opacity .2s;
}

.login_button:focus
{
  border-color: var(--primary-color);
  box-shadow: var(--focus-ring);
}

.tree_menu > ul
{
  padding: 0;
  list-style-type: none;
}

.tree_menu > ul ul
{
  list-style-type: none;  
  padding-left: 16px;
}

.tree_menu li a
{
  display:block;
  color: var(--text-color);
  padding: 6px;
}

.tree_menu li a:hover
{
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--surface-200);
}

.tree_menu li li a
{
  border-left: 1px solid var(--surface-300);  
}

.tree_menu li.has-children > a
{
  font-weight: bold;
  background-color: var(--surface-200);
}

.tree_menu li a.current
{
  color: var(--primary-color);
}

.tree_menu li a
{
  display: flex;
  gap: 4px;
  align-items: start;
}

.tree_menu li a i
{
  margin-top: 1px;
}


.ui-sidebar
{
  padding:0 !important;
}

.ui-sidebar-content
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.font_resizer input[type="range"] 
{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  margin-left:0;
}

/* Removes default focus */
.font_resizer input[type="range"]:focus 
{
  outline: none;
}

/* slider track */
.font_resizer input[type="range"]::-webkit-slider-runnable-track 
{
  background-color: var(--surface-300);
  border-radius: var(--border-radius);
  height: 0.5rem;
}

/* slider thumb */
.font_resizer input[type="range"]::-webkit-slider-thumb 
{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.25rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  outline: 3px solid var(--surface-300);
}

.font_resizer input[type="range"]:focus::-webkit-slider-thumb 
{
  outline: 3px solid var(--surface-400);
}

/*********** Firefox styles ***********/
/* slider track */
.font_resizer input[type="range"]::-moz-range-track 
{
  background-color: var(--surface-300);
  border-radius: var(--border-radius);
  height: 1rem;
}

/* slider thumb */
.font_resizer input[type="range"]::-moz-range-thumb 
{
  appearance: none;
  margin-top: -0.125rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}

.font_resizer input[type="range"]:focus::-moz-range-thumb
{
  outline: 3px solid var(--surface-400);
}

