/*CSS Document*/

/*DOCUMENTOS ESTÁTICOS*/

/*FUENTES*/
 
.text {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none;}
.text_bold {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;color:#000000; text-decoration:none;}
.text_sfol {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000000; text-decoration:none;}
.text_sfol_bold {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;color:#000000; text-decoration:none;}
.title_zoom {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;color:#000000; text-decoration:none;}
.text_sfol_link {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none;}
.text_sfol_link:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-align:justify; text-decoration:underline;}
.text_sfol_C {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#7262A0; font-weight:bold; text-decoration:none;}
.title_sd {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-align:left; text-decoration:none; font-weight:bold; text-decoration:none;}
.title_sd:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-align:left; text-decoration:none; font-weight:bold; text-decoration:underline;}
.title_sd_indep {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; font-weight:bold; text-decoration:none;}
.title_sd_indep:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; font-weight:bold; text-decoration:underline;}
.link_ondoc {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#9486BD; text-decoration:underline;}
.link_ondoc:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#9486BD; text-decoration:underline;}
.descarga {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000;font-weight:bold; text-align:center; text-decoration:underline;}
.descarga:hover {font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; font-size:11px; font-weight:bold; text-align:center; text-decoration:underline;}
.title_subr {border-bottom:2px solid #000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; text-decoration:none}
.simbol {font-family:"Wingdings 3"; font-size:12px; color:#000000; font-weight:normal; text-decoration:none;}
.line_top {border-bottom:none; border-top:1px solid #7262A0; border-left:none; border-right:none; padding-top:5px;}
.ciutat {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#D81E05; text-decoration:none;}

/*TABLAS*/

.blank
{
  font-size:0px;
  border-style:none;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  height:6px;
  background-color:#FFFFFF;
}

.box1
{
  border-top:none;
  border-bottom:none;
  border-left:none;
  border-right:none;
  padding-top:5px;
}

.celda_enmarcada
{
  border:1px solid #000000;
}

.celda_subr
{
  border-bottom:1px solid #000000;
  border-top:none;
  border-left:none;
  border-right:none;
}

.descarga_title
{
  border-bottom:1px solid #7262A0;
  border-top:1px solid #7262A0;
  border-left:7px solid #7262A0;
  border-right:1px solid #7262A0;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#6A5C94;
  text-decoration:none;
  text-align:justify;
  padding-top:2px;
  padding-right:3px;
  padding-bottom:2px;
  padding-left:3px;
}


.title_sdtab /*título de los documentos estáticos*/

{
  border-bottom:1px solid #6A5C94;
  border-top:none;
  border-left:1px solid #6A5C94;
  border-right:none;
  width:587px;
  height:21px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#6A5C94;
  text-align:left;
  text-decoration:none;
  font-weight:bold;
  text-transform:uppercase;
  padding-left:3px;
}

.static_doc_table_first_row /*primera fila*/

{
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-left:none;
	width:569px;
	height:15px;
}

.static_doc_table_title_row /*título*/

{
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:none;
	border-left:none;
	width:569px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:left;
	text-decoration:none;
	font-weight:bold;
}

.static_doc_table /*carcasa*/

{
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-left:none;
	width:569px;
}

.general_row_sd

{
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-left:none;
	width:569px;
	height:20px;
}

.general_row_sd:hover

{
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-left:none;
	width:569px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-align:left;
	text-decoration:underline;
}

.info_marc /*tabla enmarcada información adicional*/

{
	border-top:2px solid #9486BD;
	border-bottom:2px solid #9486BD;
	border-right:2px solid #9486BD;
	border-left:2px solid #9486BD;
	background-color:#EBE7F6;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:justify;
	text-decoration:none;
	padding:5px 5px 5px 5px;
}

.news_marc /*tabla enmarcada noticias*/

{
	border-top:2px solid #9486BD;
	border-bottom:2px solid #9486BD;
	border-right:2px solid #9486BD;
	border-left:2px solid #9486BD;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:justify;
	text-decoration:none;
	padding:5px 5px 5px 5px;
}

.files_table /*tablas desde las que descargarse archivos*/

{
	border-top:1px solid #B5AED6;
	border-bottom:1px solid #B5AED6;
	border-right:1px solid #B5AED6;
	border-left:1px solid #B5AED6;
	width:569px;
}

.first_line_files_table /*primera fila*/

{
	border-top:1px solid #B5AED6;
	border-bottom:1px solid #B5AED6;
	border-right:1px solid #B5AED6;
	border-left:1px solid #B5AED6;
	background-image:url("../images/back_table.jpg");
	height:21px;
}

.first_column_files_table /*primera columna*/

{
	border-top:1px solid #B5AED6;
	border-bottom:1px solid #B5AED6;
	border-right:1px solid #B5AED6;
	border-left:1px solid #B5AED6;
	text-align: justify;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight:normal;
}

.second_column_files_table /*segunda columna*/

{
	border-top:1px solid #B5AED6;
	border-bottom:1px solid #B5AED6;
	border-right:1px solid #B5AED6;
	border-left:1px solid #B5AED6;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight:normal;
}

.third_column_files_table /*tercera columna*/

{
	border-top:1px solid #B5AED6;
	border-bottom:1px solid #B5AED6;
	border-right:1px solid #B5AED6;
	border-left:1px solid #B5AED6;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight:normal;
}

.aplicacions_table_first_column /*taula d'aplicacions*/
{
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-right:2px solid #000000;
	border-left:2px solid #000000;
	background-color:#9999CC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight:bold;
	height:20px;
}

.aplicacions_table_second_column
{
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-right:2px solid #000000;
	border-left:2px solid #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight:normal;
	height:20px;
}

.back_zomm
{
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-left:none;
	background-color:#E3DDF0;
}

.zomm
{
  border-top:none;
  border-bottom:none;
  border-right:none;
  border-left:none;
  background-color:#E3DDF0;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
  text-decoration:none;
  text-align:left;
  font-weight:normal;
  padding:20px 20px 20px 20px;
}

.table_in_doc
{
	border-top:3px groove #BBACE7;
	border-bottom:3px groove #BBACE7;
	border-right:3px groove #BBACE7;
	border-left:3px groove #BBACE7;
	background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight:normal;
	padding:5px 5px 5px 5px;
}

/*butlletí informatiu de localret*/

.data_publicacio {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#4C6D86; text-decoration:none; font-weight:normal; text-align: right;}
.text_foot_color {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#BCCBD6; text-decoration:none; font-weight:normal;}
.text_foot_white {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; text-decoration:none; font-weight:normal;}
.text_foot_color_link {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#BCCBD6; text-decoration:underline; font-weight:normal;}
.text_foot_color_link:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#BCCBD6; text-decoration:underline; font-weight:normal;}
.text_foot_white_link {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; text-decoration:underline; font-weight:bold;}
.text_foot_white_link:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; text-decoration:underline; font-weight:bold;}
.title_publ {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#4C6D86; text-decoration:none; font-weight:bold;}

.num_publicacio
{
	border-top:6px solid #FFFFFF;
	border-bottom:none;
	border-left:3px solid #FFFFFF;
	border-right:none;
	background-color:#4C6D86;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#EAF0F5;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}

.body_publicacio
{
	border-top:none;
	border-bottom:1px solid #4C6D86;
	border-left:1px solid #4C6D86;
	border-right:1px solid #4C6D86;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;
	font-weight:normal;
}

.menu_publ
{
	border-top:3px solid #FFFFFF;
	border-bottom:none;
	border-left:none;
	border-right:none;
	background-color:#EAF0F5;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4C6D86;
	text-decoration:none;
	font-weight:normal;
	text-align:center;
	height:20px;
	line-height:20px;
}

.font_menu_publ
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4C6D86;
	text-decoration:none;
	font-weight:normal;
	text-align:center;
	height:20px;
	line-height:20px;
}

.font_menu_publ:hover
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4C6D86;
	text-decoration:underline;
	font-weight:normal;
	text-align:center;
	height:20px;
	line-height:20px;
}

.foot_publ
{
  background-color:#4C6D86;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  color:#FFFFFF;
  text-decoration:none;
  font-weight:normal;
  text-align:center;
}

.time_table_notime
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
  text-decoration:none;
  font-weight:normal;
  background-color:#666666;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  height:20px;
}
.time_table_comerc
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
  text-decoration:none;
  font-weight:normal;
  background-color:#FF9900;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.time_table_access
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
  text-decoration:none;
  font-weight:normal;
  background-color:#9DD792;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.time_table_blank
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#FFFFFF;
  text-decoration:none;
  font-weight:normal;
  background-color:#AFAFBB; /* E1B3B3 */
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.time_table_entitats
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
  text-decoration:none;
  font-weight:normal;
  background-color:#F1D863; /* 4E45C9 */
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.time_table_curs_a
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#FFFFFF;
  text-decoration:none;
  font-weight:normal;
  background-color:#4E45C9;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.time_table_curs_b
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#FFFFFF;
  text-decoration:none;
  font-weight:normal;
  background-color:#6158E2;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.time_table_curs_c
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#FFFFFF;
  text-decoration:none;
  font-weight:normal;
  background-color:#473EBC;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.time_table_curs_d
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
  text-decoration:none;
  font-weight:normal;
  background-color:#7E75F4;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.horario_telecentre
{
  border-top:1px solid #B5AED6;
  border-bottom:1px solid #B5AED6;
  border-right:1px solid #B5AED6;
  border-left:1px solid #B5AED6;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
  text-decoration:none;
  font-weight:normal;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  padding:5px 5px 5px 5px
}