/* EDIT view styles */
html
{
  overflow: auto;
}

.cmsCurrentPathPanel
{
  font-family: Arial;
  font-size:12px;
  display:inline-block;
  background:#C0C0C0;
  width:100%;
  padding-top:4px;
  padding-bottom:4px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  position: relative;
  min-height: 25px;
}

.cmsCurrentPathPanel .currentPath
{
  position: absolute;
  left: 0px;
  line-height: 25px;
}

.itemPath
{
  text-decoration:none;
  padding-left:4px;
  padding-right:2px;
  font-weight:bold;
  color:#404040;
  display:inline-block;
  border-left:1px solid black;
}

.itemPath:hover
{
  color:black;
}

.itemPath:first-child
{
  border:none;
}

.cmsEditPanel
{
  display:block;
  margin-top:10px;
}

.nodeTree
{
  margin-left:1%;
  width:30%;
  float: left;
  position: relative;
}

.nodeTree .nodeSearch
{
  display: block;
  margin-bottom: 8px;
}

.nodeTree .subtoolbar
{
  margin-bottom: 10px;
}

.nodeTree .collapseAllLink
{
  text-decoration: none;
  font-weight: normal;
  color: black;
  margin-left: 4px;
}

.nodeProperties, .nodeCSS, .nodeSync, .nodeSearchPanel
{
  margin-left:1%;
  width:65%;
  float:left;
  position:relative;
}

.nodeName
{
  display: block;
  margin-bottom: 8px;
  float: right;
}

.nodeNameLabel, .nodeSearchLabel
{
  margin-right: 4px;
  vertical-align: middle;
}

.nodeNameValue, .nodeSearchValue
{
  font-family: "Courier New", Courier, Monospaced;
  font-size:12px;
  border:solid 1px #A0A0A0;
  background: #F8F8F8;
  vertical-align:middle;
}

.propertyTable
{
  width:100%;
  border-collapse: collapse;
  padding:0;
  margin:0;
}

.propertyTable TR
{
  padding:2px;
}

.propertyTable TR TD.col1
{
  padding:2px;
  width:30%;
}

.propertyTable TR TD.col2
{
  padding:2px;
  width:60%;
}

.propertyTable TR TD.col3
{
  padding:2px;
  width:5%;
  text-align:right;
}

.propertyTable TR TD.col4
{
  padding:2px;
  width:5%;
  text-align:left;
}

.subtoolbar
{
  display:block;
}

.nodeProperties .subtoolbar
{
  position: relative;
  margin-bottom: 10px;
}

.nodeProperties .subtoolbar .nodeName
{
  position: absolute;
  right: 0;
  top: 0;
}

.nodeProperties .nodeActionTitleLayer
{
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
}

.nodeProperties .userPropertiesTitleLayer
{
  margin-top: 20px;
  margin-bottom: 6px;
}

.nodeProperties .userPropertiesTitle
{
  font-weight: bold;
}

.nodeProperties .helpCaptionTable
{  
}

.nodeProperties .noPropertiesLabel
{
  font-weight: bold;
  display: block;
  font-size: 12px;
  margin-top: 8px;
}

.propertyTable A.imageButton,
.subtoolbar A.imageButton,
.subtoolbar A.showHelpImageButton
{
  border:none;
  margin:1px;
}

.propertyTable A.imageButton img,
.subtoolbar A.imageButton img
{
  background: #C0C0C0;
  border:1px solid #A0A0A0;
}

.subtoolbar A.showHelpImageButton img
{
  background: #D0D000;
  border:1px solid #A0A0A0;
}

.propertyTable A.imageButton img:hover,
.subtoolbar A.imageButton img:hover
{
  background: #D0D000;
}

.propertyTable TR TD
{
  border-top: dashed 1px #A0A0A0;
  vertical-align:top;
}

INPUT.propertyName,
INPUT.propertyValue
{
  width:98%;
  border:solid 1px #A0A0A0;
  background: #F8F8F8;
  display:block;
  vertical-align:middle;
}

.propertyName,
.propertyValue
{
  font-family: "Courier New", Courier, Monospaced;
  font-size:12px;
}

.propertyTip
{
  font-family: Tahoma, Calibri;
  font-size: 11px;
}

INPUT.directAnnotatedPropertyName
{
  width:98%;
  border:solid 1px #A0A0A0;
  background: #F8F8F8;
  display:block;
  vertical-align:middle;
}

.directAnnotatedPropertyName
{
  font-family: "Courier New", Courier, Monospaced;
  font-size:12px;
  font-weight: bold;
}

INPUT.inheritedAnnotatedPropertyName
{
  width:98%;
  border:solid 1px #A0A0A0;
  background: #F8F8F8;
  display:block;
  vertical-align:middle;
}

.inheritedAnnotatedPropertyName
{
  font-family: "Courier New", Courier, Monospaced;
  font-size:12px;
  font-weight: bold;
  color: Blue;
}

input.foundProperty
{
  background-color: greenyellow;
}

/* CSS page styles */
.nodeCSS
{

}

.nodeCSS .noCSSLabel
{
  line-height:23px;
  margin-left:8px;
  vertical-align:top;
  font-weight: bold;
  font-size: 12px;
}

.nodeCSS .subtoolbar
{
  margin-bottom: 10px;
}

.nodeCSS .textArea
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 12px;
  color: black;
  width:98%;
}

.nodeCSS .buttonText
{
  font-family: Arial;
  font-size: 10px;
  color: black;
}

.rootSelection .menuItem
{
  list-style-type: none;
  list-style-position: outside;
  vertical-align: middle;
  display: block;
  margin-left:0px;
  padding:1px;
}

.rootSelection .found
{
  background: greenyellow;
}

.rootSelection .cut
{
  color: red;
}

.rootSelection .copy
{
  color: blue;
}

.rootSelection .midBox
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #D0D000;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.rootSelection .midBoxUpdatedByMe
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #00C000;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.rootSelection .midBoxUpdatedByOther
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #FF4040;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.rootSelection .midBoxDeleted
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #CCCCCC;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.rootSelection img.css
{
  margin-left:2px;
  vertical-align:middle;
  border:0;
}

.rootSelection a
{
  text-decoration: none;
  color:black;
}

.cmsEditPanel .tree
{
}

.cmsEditPanel .tree > ul:first-child
{
  margin-top:0;
}

.cmsEditPanel .tree ul
{
  list-style-type: none;
  list-style-position: outside;
  vertical-align: middle;
  display: block;
  margin-left:20px;
  padding:1px;
}

.cmsEditPanel .tree li
{
  list-style-type: none;
  list-style-position: outside;
  vertical-align: middle;
  display: block;
  margin:0;
  padding:1px;
}

.cmsEditPanel .tree li a
{
  vertical-align: middle;
}

.cmsEditPanel .tree li input.toggler
{
  margin:0 3px 0 -12px;
  vertical-align:middle;
  border:0;  
}

.cmsEditPanel .tree li .menuItem
{
  vertical-align:middle;
}

.cmsEditPanel .tree li .menuItem .found
{
  background: greenyellow;
}

.cmsEditPanel .tree li .menuItem .cut
{
  color: red;
}

.cmsEditPanel .tree li .menuItem .copy
{
  color: blue;
}

.cmsEditPanel .tree li .midBox
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #D0D000;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.cmsEditPanel .tree li .midBoxUpdatedByMe
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #00C000;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.cmsEditPanel .tree li .midBoxUpdatedByOther
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #FF4040;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.cmsEditPanel .tree li .midBoxDeleted
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #CCCCCC;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.cmsEditPanel .tree li img.css
{
  margin-left:2px;
  vertical-align:middle;
  border:0;
}

.cmsEditPanel .tree A
{
  text-decoration: none;
  color:black;
}

.cmsEditPanel .separator
{
  width: 2px;
  background: #999999;
  float: left;
  margin-left: 1%;
  position: relative;
}

.cmsCurrentPathPanel ul
{
  float: right;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.cmsCurrentPathPanel .infoMessage,
.cmsCurrentPathPanel .warnMessage,
.cmsCurrentPathPanel .errorMessage,
.cmsCurrentPathPanel .fatalMessage
{
  font-weight: bold;
  display:block;
  line-height: 25px;
}

.cmsCurrentPathPanel .infoMessage
{
  color: green;
}

.cmsCurrentPathPanel .warnMessage
{
  color: #FF9900;
}

.cmsCurrentPathPanel .errorMessage
{
  color: red;
}

.cmsCurrentPathPanel .fatalMessage
{
  color: red;
}

.cmsEditPanel .rootSelection
{
  display: block;
  vertical-align:middle;
}

.cmsEditPanel .rootSelection .label
{
  font-weight: bold;
  display: block;
  font-size: 14px;
  vertical-align:middle;
}

.cmsEditPanel .rootSelection .button
{
  margin-left: 2px;
  background: #C0C0C0;
  font-size:12px;
  vertical-align:middle;
  width:auto;
  overflow:visible;
  border:1px solid #A0A0A0;
}

.cmsEditPanel .rootSelection .button:hover
{
  background: #D0D000;
}

.cmsRootSelection
{
  width: 100%;
}

.cmsRootSelection .title
{
  font-weight: bold;
  display: block;
  font-size: 14px;  
}

.cmsRootSelection .rootTable
{
  margin-left: 5px;
}

.cmsRootSelection .rootTable .col1
{
  width: 20%;
}

.cmsRootSelection .rootTable .col2
{
  width: 80%;
}

.cmsRootSelection .rootTable .midBox
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #D0D000;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.cmsRootSelection .rootTable .rootLink
{
  text-decoration: none;
}

.cmsRootSelection .rootTable .rootLabel
{
  color: black;
}

.cmsSyncSelection
{
  width: 100%;
}

.cmsSyncSelection .syncNodeTable
{
  width: 100%;
}

.cmsSyncSelection .syncNodeTable .header
{
  text-align: left;
}

.cmsSyncSelection .syncNodeTable .col1
{
  width: 4%;
}

.cmsSyncSelection .syncNodeTable .col2
{
  width: 6%;
}

.cmsSyncSelection .syncNodeTable .col3
{
  width: 13%;
}

.cmsSyncSelection .syncNodeTable .col4
{
  width: 77%;
}

.cmsSyncSelection .syncNodeTable .title
{
  font-weight: bold;
  display: block;
  font-size: 14px;  
}

.cmsSyncSelection .syncNodeTable .checkAllLink
{
  text-decoration: none;
  font-weight: normal;
  color: black;
}

.cmsSyncSelection .syncNodeTable .nodeId
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 11px;
  background: #D0D060;
  border: solid 1px gray;
  padding-left:1px;
  padding-right:1px;
  margin:0 2px 0 0px;
}

.cmsSyncSelection .syncNodeTable .nodeChangeType
{

}

.cmsSyncSelection .syncNodeTable .nodeLabel
{

}

.nodeSync .noNodesLabel, .nodeSync .noWorkspacesLabel
{
  font-weight: bold;
  display: block;
  font-size: 12px;
  margin-top: 8px;
}

.nodeSync .subtoolbar
{
  margin-bottom: 10px;
}

.nodeSearchPanel
{
  overflow: auto;
}

.nodeSearchPanel .searchCountLayer
{
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 2px;
}

.nodeSearchPanel .searchCountText
{
  color: Black;
  font-weight: bold;
}

.nodeSearchPanel .nodeList
{
  width: 100%;
  overflow: auto;
}

.nodeSearchPanel .nodeList .item
{   
  min-height: 20px;
  line-height: 20px;
  margin-left: 2px;
}

.nodeSearchPanel .nodeList .item > div
{   
  display: inline-block;
  vertical-align: top;
}

.nodeSearchPanel .nodeList .item .nodeId
{
  width: 50px;  
}

.nodeSearchPanel .nodeList .item .label
{
  width: 200px;
}

.nodeSearchPanel .nodeList .item .path
{
  margin-left: 10px;
}

/* Tomahawk popup component */

.popup
{
    background-color:rgb(255,255,225);
    color: #000000;
    border: 1px solid #CCCCCC;
    font-size:smaller;
    padding: 2px;
    font-family: Verdana;
}

.popup table
{
    font-size:smaller;
}

.popup table TR TD {
    border-top: 0;
    vertical-align: top;
}

