/* CMS MODULE STYLES */

/* Common styles */

form#mainform
{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

form#mainform .webtool
{
  flex-grow: 0;
}

form#mainform .page
{  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  padding: 8px;
}

.page .buttonsPanel
{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

a.imageButton
{
  margin:1px;
}

a.imageButton img
{
  border: 0;
  vertical-align: middle;
}

a.imageButton img:hover
{
  background: #EEEEEE;
}

.ui-growl
{
  top: 40px;
}

/* node_edit.xhtml styles */

.page .topPanel
{
  flex-grow: 0;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topPanel .cmsCurrentPathPanel
{
  display: flex;
  flex-direction: row;
  align-items: center;  
  flex-wrap: wrap;
}

.topPanel .cmsCurrentPathPanel ul
{
  float: right;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.topPanel .cmsCurrentPathPanel .ui-breadcrumb
{
  border: 0;
  background: none;
  padding: 0;
}

.topPanel .cmsCurrentPathPanel .item
{
  text-decoration:none;
}

.topPanel .cmsCurrentPathPanel .item .ui-icon
{
  display: inline-block;
}

.topPanel .cmsCurrentPathPanel .item .ui-menuitem-text
{
  vertical-align: top;
  font-weight: normal;
}

.topPanel .cmsCurrentPathPanel .item:hover
{
  color:black;
}

.topPanel .cmsCurrentPathPanel .item:first-child .ui-icon
{
  border:none;
}

.page .cmsEditPanel
{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.cmsEditPanel .ui-splitter-panel:first-child
{
  padding: 8px;
}

.cmsEditPanel .leftPanel
{  
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
}

.leftPanel > div
{
  flex-grow: 0;
  margin-top: 4px;
}

.leftPanel .fastSearchPanel
{
  display: flex;
  flex-direction: row;
  align-items: center;  
  flex-wrap: wrap;
}

.fastSearchPanel > *
{
  flex-grow: 0;
}

.fastSearchPanel .fsLabel
{
  margin-right: 4px;
}

.fastSearchPanel .collapseAllPanel
{
  flex-grow: 1;
  text-align: right;
  margin-left: 8px;
}

.fastSearchPanel .collapseAllPanel a
{
  text-decoration: none;
}

.leftPanel .rootSelectionPanel
{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.rootSelectionPanel > *
{
  flex-grow: 0;
  margin-right: 4px;  
}

.rootSelectionPanel a
{
  text-decoration: none;
  color:black;
}

.leftPanel .treePanel
{
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  position: relative;
  background-color: white;
  border: 1px solid #A0A0A0;
}

.treePanel .tree
{  
  position: absolute;
  width: auto;
  border: 0;
}

.tree > ul:first-child
{
  margin-top:0;
}

.tree .ui-tree-container
{
  background-color: white;
}

.tree li .menuItem
{
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.tree li .menuItem .selected
{
  font-weight: bold;
}

.tree li .menuItem .found
{
  background: greenyellow;
}

.tree li .menuItem .cut
{
  color: red;
}

.tree li .menuItem .copy
{
  color: blue;
}

.tree li .menuItem > div
{
  flex-grow: 0;
  line-height: 18px;
  margin-right: 4px;
}

.tree li .midBox
{
  border: solid 1px gray;
  margin-right: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.tree li .midBox.updatedByMe
{
  background: #00C000;
}

.tree li .midBox.updatedByOther
{
  background: #FF4040;
}

.tree li .midBox.deleted
{
  background: #CCCCCC;
}

.tree li img.css
{
  margin-left:2px;
  vertical-align:middle;
  border:0;
}

.tree A
{
  text-decoration: none;
  color:black;
}

.cmsEditPanel .rightPanel
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rightPanel .ui-tabs
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.rightPanel .ui-tabs .ui-tabs-nav
{
  flex-grow: 0; 
}

.rightPanel .ui-tabs .ui-tabs-panels
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;  
}

.rightPanel .ui-tabs .ui-tabs-panels .ui-tabs-panel
{
  flex-grow: 1;
}

.rightPanel .contentPanel
{
  display: flex;
  flex-direction: column;
  height: 100%;  
}

.rightPanel .contentPanel > div
{
  flex-grow: 0;
  margin-top: 8px;
}

.rightPanel .contentPanel > div.expand
{
  flex-grow: 1;
  position: relative;
  overflow: auto;
}

.rightPanel .contentPanel > div.expand > table,
.rightPanel .contentPanel > div.expand > div
{
  position: absolute;
}

.rightPanel .propertyTable
{
  width:100%;
  padding:0;
  margin:0;
}

.rightPanel .propertyTable th
{
  text-align: left;
}

.rightPanel .propertyTable TR.property TD
{
  vertical-align:top;
  border: 0;
  padding-bottom: 4px;
}

.rightPanel .propertyTable TR.property TD.col1
{
  width:30%;
}

.rightPanel .propertyTable TR.property TD.col2
{
  max-width:99%;
}

.rightPanel .propertyTable TR.property TD.col3
{
  width:25px;
  padding-left:0;
  padding-right:0;
}

.rightPanel .propertyTable TR.property TD.col4
{
  width:25px;
  padding-left:0;
  padding-right:0;  
}

.rightPanel .propertyTable TR.property TD.col3 img,
.rightPanel .propertyTable TR.property TD.col4 img
{
  margin-top:5px;
}

.rightPanel input.propertyName,
.rightPanel input.propertyValue
{
  width:98%;
}

.rightPanel .flexRowPanel
{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: flex-start;
  flex-wrap: wrap;  
}

.rightPanel .flexRowPanel.wide
{
  justify-content: space-between;
}

/* properties.xhtml styles */

.nodePropertiesPanel .nodeNamePanel .label 
{
  margin-right: 4px;
}

.nodePropertiesPanel .nodeActionPanel .flexRowPanel > *
{
  margin-right: 4px;
  margin-top: 4px;
}

.nodePropertiesPanel .nodeActionPanel .flexRowPanel .beanNamePanel,
.nodePropertiesPanel .nodeActionPanel .flexRowPanel .beanActionPanel
{
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.nodePropertiesPanel .nodeActionPanel .title
{
  font-weight: bold;
}

.nodePropertiesPanel .nodeActionPanel .label
{
  margin-right: 4px;
}

.nodePropertiesPanel .nodeActionPanel .select
{
  margin-right: 16px;
}

.nodePropertiesPanel .userPropertiesTitlePanel
{
  font-weight: bold;  
}

.nodePropertiesPanel .userPropertyListPanel
{
  overflow: auto;
}

.nodePropertiesPanel .userPropertyListPanel .ui-datalist-content
{
  padding: 0;
  border: 0;
}

.nodePropertiesPanel .userPropertyListPanel .ui-datalist-data
{
  padding: 0;
  margin: 0; 
}

.nodePropertiesPanel .noPropertiesLabel
{
  margin-top: 8px;
}

.nodePropertiesPanel .buttonsPanel
{
  position: relative;
}

.nodePropertiesPanel .buttonsPanel span
{
  margin-top: 1px;
}

.nodePropertiesPanel a.showHelpImageButton
{
  border: 0;
  margin: 1px;
}

.nodePropertiesPanel a.showHelpImageButton img
{
  background: #EEEEEE;
  border: 0;
}

.nodePropertiesPanel .buttonsPanel .ui-dialog
{
  position: absolute;
  top: 0px !important;
  left: 160px !important;  
}

.nodePropertiesPanel .buttonsPanel .ui-dialog .helpCaptionTable
{
  width: 200px; 
}

.nodePropertiesPanel .propertyTip
{
  font-family: Tahoma, Calibri;
  font-size: 11px;
}

.nodePropertiesPanel .inheritedAnnotated
{
  color: Blue;  
}

.nodePropertiesPanel .directAnnotated
{
  font-weight: bold;  
}

.nodePropertiesPanel input.found
{
  background-color: greenyellow;
}

/* css.xhtml styles */

.nodeCSSPanel .noCSSLabel
{
  line-height:23px;
  margin-left:8px;
}

.nodeCSSPanel .CodeMirror
{
  font-family: "Courier New", Courier, Monospaced;
  font-size: 12px;
  color: black;
  width: 98%;
  height: 98%;
}

/* sync.xhtml styles */

.nodeSyncPanel .noNodesLabel, 
.nodeSyncPanel .noWorkspacesPanel
{
  font-weight: bold;
}

.nodeSyncPanel .buttonsPanel
{
  margin-bottom: 10px;  
}

.nodeSyncPanel .workspaceSelectionPanel
{
  width: 100%;
}

.nodeSyncPanel .workspaceSelectionPanel > *
{
  margin-right: 4px;
}

.nodeSyncPanel .nodeSyncTitlePanel .title
{
  font-weight: bold;
}

.nodeSyncPanel .nodeSyncTitlePanel .checkAllLink
{
  text-decoration: none;
  font-weight: normal;
  color: black;
}

.nodeSyncPanel .syncNodeListPanel
{
  overflow: auto;
}

.nodeSyncPanel .syncNodeListPanel .syncNodeTable
{
  width: 100%;
}

.nodeSyncPanel .syncNodeListPanel .syncNodeTable tr.ui-state-highlight
{
  border: inherit;
  background: inherit;
  color: inherit;
}

.nodeSyncPanel .syncNodeListPanel .syncNodeTable th
{
  text-align: left;
}

.nodeSyncPanel .syncNodeListPanel .syncNodeTable .colChecked
{
  width: 16px;
  text-align: center;
}

.nodeSyncPanel .syncNodeListPanel .syncNodeTable .colNodeId
{
  width: 3rem;
}

.nodeSyncPanel .syncNodeListPanel .syncNodeTable .colLabel
{
  width: 30%;
}

.nodeSyncPanel .syncNodeListPanel .syncNodeTable .colType
{
  width: 6rem;
}

.nodeSyncPanel .syncNodeListPanel .syncNodeTable .colFields
{
  width: auto;
}

/* search.xhtml styles */

.nodeSearchPanel
{
  overflow: auto;
}

.nodeSearchPanel .searchPropertiesPanel .propertyTable
{
  table-layout: auto;
}

.nodeSearchPanel .searchPropertiesPanel .propertyTable th,
.nodeSearchPanel .searchPropertiesPanel .propertyTable td
{
  padding: 0;
}

.nodeSearchPanel .searchPropertiesPanel .propertyTable th
{
  background-color: white;
}

.nodeSearchPanel .searchPropertiesPanel .ui-datalist-content
{
  padding: 0;
  border: 0;
}

.nodeSearchPanel .searchPropertiesPanel .ui-datalist-data
{
  padding: 0;
  margin: 0; 
}

.nodeSearchPanel .searchPropertiesPanel .ui-datatable-footer
{
  padding: 0;
  margin-top: 5px;
  background-color: white;
  border: 0;  
}

.nodeSearchPanel .searchPropertiesPanel .searchModeSelect
{
  margin-top: 10px;
  table-layout: auto;
  width: auto;  
}

.nodeSearchPanel .nodeSearchTitlePanel
{
  font-weight: bold;
}

.nodeSearchPanel .searchNodeListPanel
{
  width: 100%;
  overflow: auto;
}

.nodeSearchPanel .searchNodeListPanel .item
{   
  min-height: 20px;
  line-height: 20px;
  margin-left: 2px;
}

.nodeSearchPanel .searchNodeListPanel .item > div
{   
  display: inline-block;
  vertical-align: top;
}

.nodeSearchPanel .searchNodeListPanel th
{
  text-align: left;
}

.nodeSearchPanel .searchNodeListPanel th.nodeId
{
  width: 3rem;
}

.nodeSearchPanel .searchNodeListPanel th.label
{
  width: 30%;
}

.nodeSearchPanel .searchNodeListPanel th.path
{
  width: auto;
}

/* forms.xhtml styles */

.nodeConfigPanel
{
  height:100%;
  display:flex;
  flex-direction:column
}

.nodeConfigPanel .editFormsPanel
{
  flex-grow:1;
  display:flex;
  flex-direction:column
}

.nodeConfigPanel .systemConfigPanel,
.nodeConfigPanel .templateConfigPanel
{
  display:flex;
  flex-direction:column;
  height:100%
}

.nodeConfigPanel .systemConfigPanel .buttonsPanel,
.nodeConfigPanel .templateConfigPanel .buttonsPanel
{
  flex-grow:0;
}

.nodeConfigPanel .systemConfigPanel .propertyListContainer,
.nodeConfigPanel .templateConfigPanel .propertyListContainer
{
  flex-grow:1;
  position:relative;
  overflow:auto
}

.nodeConfigPanel .systemConfigPanel .propertyList,
.nodeConfigPanel .templateConfigPanel .propertyList
{
  position:absolute;
  width: 100%;
}

.nodeConfigPanel .inheritedProperty
{
  font-size: 10px;
  color: grey;
}

.nodeConfigPanel .propertyDiv .ui-autocomplete-input-token
{
  width: 50px;
}

/* redir_edit.xhtml styles */

.redirFilePanel
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.redirFilePanel .buttonsPanel
{
  flex-grow: 0;
}

.redirFilePanel .fileContentPanel
{
  flex-grow: 1;
}

.redirFilePanel .fileContentPanel textarea
{
  width: 98%;
  height: 98%;  
}

.redirFilePanel a.imageButton img
{  
}

/* PrimeFaces saga theme */

body .ui-widget,
body .ui-inputfield
{
  font-size: 0.8rem;
}

body .ui-inputfield
{
  padding: 0.3rem;
}

body .ui-selectonemenu .ui-selectonemenu-label
{
  min-height: auto;
}

body .ui-datatable .ui-paginator
{
  padding: 0.5rem;
}

body .ui-datatable thead th
{
  padding: 0.5rem;
}

body .ui-datatable .ui-datatable-data > tr > td
{
  padding: 0.5rem;
  white-space: normal;  
}

body .ui-chkbox,
body .ui-chkbox .ui-chkbox-box
{
  width: 1rem;
  height: 1rem;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon.ui-icon-check
{
  font-size: 0.8rem;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon
{
  margin-left: -0.4rem;
  margin-top: -0.4rem;
}

body .ui-tree
{
  padding: 0.5rem;
}

body .ui-tree .ui-tree-container .ui-treenode
{
  padding: 0;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler
{
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-leaf-icon
{
  width: 1rem;
  height: 1rem;
}

body .loading-icon-container .ui-dialog-content
{
  padding: 1rem;
}

body .loading-icon 
{
  font-size: 4rem;
}

