/* news */

.newView .shareLayer .shareLink
{
  margin-left: 4px;
}

.newView .objectForm
{  
  width: auto;
}

.resultList .sticky
{
  float: left;
}

/* Accessibilitat */

table.documentList
{
  border-spacing: 0px;
  border-collapse: collapse;
}

table.documentList > tbody > tr > td
{
  padding: 0px;  
}

table.newSearchChildrenList
{
  border-spacing: 0px;
  border-collapse: collapse;
}

table.newSearchChildrenList > tbody > tr > td
{
  padding: 0px;  
}

table.newSearchChildrenList table.resultList
{
  border-spacing: 0px;
  border-collapse: collapse;
}

table.newSearchChildrenList table.resultList > tbody > tr > td
{
  padding: 0px;  
}

table.newSearchChildrenList table.sectionNew
{
  border-spacing: 0px;
  border-collapse: collapse;
}

table.newSearchChildrenList table.sectionNew > tbody > tr > td
{
  padding: 0px;  
}
 
table.newSearchChildrenList table.sectionNew > table
{
  border-spacing: 0px;
  border-collapse: collapse;
}

table.newSearchChildrenList table.sectionNew > table > tbody > tr > td
{
  padding: 0px;  
}