.referencePanel
{
  margin-bottom: 16px;
}

.referenceLabel
{
  display:block;
}

.referenceInput
{
  font-family: "Courier New", Courier, Monospaced;
}

.validateButton
{
  color:black;
  border-style: outset;
}

.validateButtonOn
{
  color: gray;
  border-style: inset;
}

.metadataPanel
{
  margin-top: 10px;
}

.buttonPanel
{
  margin-top:10px;
  display:block;
}

.signaturePanel
{
  margin-top: 10px;
}

.downloadButton,
.viewButton
{
  background: #D0D0D0;
  margin:4px;
  border:1px black solid;
  padding:3px;
  color:black;
  text-decoration: none;
  display:inline-block;
}

.downloadButton:hover,
.viewButton:hover
{
  background: #F0F0F0;
}
