.main
{
  width:780px;
  background-color:#FDF6E4;
  font-size:12px;
  font-family:tahoma,arial;
  margin-left:auto;
  margin-right:auto;
}

.main .header
{
  border-style:none;
  text-align:left;
  font-weight:normal;
}

.main .header .column1
{
  width:48%;
  padding-left:4px;
}

.main .header .column2
{
  width:28%;
  text-align:right;
}

.main .header .column3
{
  width:24%;
}

.main .header .hmenuRow
{
  vertical-align:middle;  
  height:28px;
  background-color:#E59A01;
}

.main .header .footer
{
  padding-left:4px;
  padding-right:4px;  
  height:28px;
  
  border-top-style:dashed;
  border-color:#C0C0C0;
  border-width:1px;
}

.main .mainRow
{
  height:400px;
}

.main .menuCol
{
  width:180px;
  text-align:left;
  background-image:url("../images/vmenu_back.gif");
  vertical-align:top;
}

.main .contCol
{
  width:610px;
  text-align:left;
  vertical-align:top;
  padding-left:10px;
}

.main .contTable
{
}

.main .contTable .hmenuRow
{
  background-image:url("../images/top_back.gif");
  height:40px;
  vertical-align:top;
}

.main .contTable .contRow
{
  vertical-align:top;
  background-color:white;
}

.navPathRow
{
  text-align:left;
  vertical-align:middle;
  background-color:white;
  height:18px;
}

.main .header .footer .fcol1
{
  width:85%;
  text-align:left;
}

.main .header .footer .fcol2
{
  width:15%;
  text-align:right;
}

.navPath
{
  vertical-align:middle;
  font-weight:normal;
}

.navPath A
{
  color:#FF8684;
  text-decoration:none;
}

.navPath A:hover
{
  color: #C0C0C0;
  text-decoration:none;
}

.vmenu
{
  width:100%;
  padding:0px;
  margin:0px;
}

.vmenu_selected A
{
  display: block;
  width:174px; /* 180px - padding-left */
  text-align:left;
  background-image:url("../images/button_back.gif");  
  text-decoration: none;
  font-weight:normal;
  color:black;
  border-style:solid;
  border-color:#F0F0F0;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  
  padding-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size:12px;
}

.vmenu_unselected A
{
  display: block;
  color:#606060;
  width:174px; /* 180px - padding-left */
  text-align:left;
  text-decoration: none;
  border-style:solid;
  border-color:#D0D0D0;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;

  padding-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size:12px;
}

.vmenu_unselected A:hover
{
  color:Black;
  display: block;
  color:Black;
  background-color:#D8D8D8;
}

.hmenu
{
  vertical-align:middle;
  border-style:none;
  font-size:12px;
  margin:4px;
}

.hmenu_selected
{
  color:black;
  vertical-align:middle;
  text-align:center;
  border-style:solid;
  border-color:white;  
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;

  padding-left: 5px;
  padding-right: 5px;
  font-weight:bold;
}

.hmenu_unselected
{
  color:white;
  vertical-align:middle;
  text-align:center;
  border-style:solid;
  border-color:white;  
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
  
  padding-left: 5px;
  padding-right: 5px;
}

.hmenu_selected A
{
  color:Black;
  text-decoration:none;
}

.hmenu_unselected A
{
  color:white;
  text-decoration:none;  
}

.hmenu_unselected A:hover
{
  color:Black;
  text-decoration:none;  
}

.langSel
{
  font-size:10px;
  color:black;
  font-weight:normal;
  text-align:left;
  vertical-align:middle;
  background-color:white;
  border-style:solid;
  border-color:#E0E0E0;
  border-width:1px;
  margin:0px;
  padding:0px;
}

.dateText
{
  font-size:12px;
  color:Black;
  font-weight:normal;
  text-align:right;
  vertical-align:middle;
}

.loginText
{
  font-size:12px;
  color:Black;
  font-weight:normal;
  vertical-align:middle;
}

.displayNameText
{
  font-size:12px;
  color:gray;
  font-weight:normal;
  vertical-align:middle;
}

.main .content .ccol1
{
  vertical-align:top;  
}

.main .content .ccol2
{
  vertical-align:top;
  width:170px;
}

.main .rightMenu
{
  width:100%;
  background:#F0E0E0;
  border-style:solid;
  border-color:gray;
  border-width:1px;
}

.main .rightMenu .title
{
  font-weight:bold;
  background-color:#FFF0F0;
}

.rmenu TR TD
{
  border-color: #FF4040;
  border-style:dashed;
  border-width: 1px 0px 0px 0px;
  vertical-align:middle;
}

.rmenu_item A
{
  display:block;
  text-decoration:none;
  vertical-align:middle;
  color:black;
  padding:6px;
}

.rmenu_item A:hover
{
  background-color:white;
}

.rmenu_item A .icon
{
  text-decoration:none;
  margin-right:2px;
  vertical-align:middle;
}



/**************** COMMON STYLES *****************/

input
{
  font-family:tahoma,arial;
  font-size:12px;
}

select
{
  font-family:tahoma,arial;
  font-size:12px;
}

textarea
{
  font-family:tahoma,arial;  
  font-size:12px;  
}

.button
{
  font-size:14px;
  background-color:white;
  border-style:solid;  
  border-width:1px;
  border-color:gray;
}

.buttonLink
{
  color: Green; 
  text-decoration: none;
}

.selectLink 
{
  color: Green; 
  text-decoration: none;
}

.selectLink:hover
{
  color: Green; 
  text-decoration:underline;
}

.infoMessage
{
  color: green; 
  font-weight: bold;  
}

.warnMessage
{
  color: #FF9900;  
  font-weight: bold;    
}

.errorMessage
{
  color: red;
  font-weight: bold;
}

.fatalMessage
{
  color: red;  
  font-weight: bold;  
}

.filterPanel
{
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #EEEEEE;
  text-align: left;
  width: 100%;
}

.filterPanel .header
{
  text-align: center;
}

.filterPanel .column1
{
  width: 80%;
}

.filterSubPanel
{
  width:100%;
}

.filterSubPanel .column1
{
  width: 30%;
}

.filterSubPanel .column2
{
  width: 70%;
}

.resultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.resultList TD
{
  padding: 2px;
}

.resultList .row1
{
  color:black;
  background-color: #EEEEEE;
}

.resultList .row2
{
  color:green;
  background-color: white;
}

.resultList .mainCell
{
  font-weight: bold;
}

.resultList .selectLink
{
  text-align: right;
}

/******** News ***********/
.newsListPage
{
}

.newsListPage .filterPanel
{
}

.newsListPage .filterPanel .header
{
}

.newsListPage .filterPanel .buttonColumn
{
}

.newsListPage .filterPanel .subPanelColumn
{
}

.newsListPage .filterSubPanel .column1
{
  width: 15%;
}

.newsListPage .filterSubPanel .column2
{
}

.newsListHeader
{
}

.newsListFooter
{
}

.newsResultList
{
}

.newsResultList .body
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.newsResultList .body .section
{
  font-size: 10px;
  text-align: right;
}

.newsResultList .body .documents
{
  background-color: rgb(247,247,247);
}

.newsResultList .body .documents .header
{
}

.newsResultList .body .headline
{

}

.newsResultList .body .headline .column1 A
{
  color: Black;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
}

.newsResultList .body .headline A:hover
{
  text-decoration: underline;
}

.newsResultList .body .headline .column2
{
  text-align: right;
}

.newsResultList .body .headline .column2 A
{
  color: Black;
  text-decoration: none;
}

.newsResultList .body .content
{
}

.newsResultList .body .content .column1
{
  width: 15%;
  text-align: left;
}
.newsResultList .body .content .column2
{
  width: 85%;
  vertical-align: top;
  text-align: left;
}

.newsResultList .footer
{
}

.newsSelectPage
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.newsSelectPage .header
{
  text-align: right;
  font-size: 10px;
}

.newsSelectPage .headline
{
  background-color: rgb(247,247,247);
  font-size: 18px;
}

.newsSelectPage .body
{
}

.newsSelectPage .footer
{
  text-align: center; 
}



/********** Agenda **********/
.agendaResultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.agendaResultList TD
{
  padding: 2px;
}

.agendaResultList .row1
{
  background-color: #EEEEEE;
}

.agendaResultList .row2
{
  background-color: white;
}

.agendaResultList .mainCell
{
  font-weight: bold;
}

.agendaResultList .selectLink
{
  text-align: right;
}

.agendaResultList .column1
{
  width:30%;
}

.agendaResultList .column2
{
  width:65%;
}

.agendaResultList .column3
{
  width:5%;
}

.forumResultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
  
}

.forumResultList TD
{
  padding: 2px;
}

.forumResultList .row1
{
  background-color: #EEEEEE;
}

.forumResultList .row2
{
  background-color: white;
}

.forumResultList .mainCell
{
  font-weight: bold;
}

.forumResultList .selectLink
{
  text-align: right;
}

.forumResultList .column1
{
  width:30%;
}
.forumResultList .column2
{
  width:65%;
}

.forumResultList .column3
{
  width:5%;
}

.dataScroller
{
  text-align: center;
  font-weight: normal;
}
.dataScroller A
{
  text-decoration: none;
  color: Green;
}

.dataScrollerPaginatorActiveColumn
{
  font-weight: bold;
  font-size: larger;
}

.form
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}
.form .column1
{
  background-color: #EEEEEE;    
  vertical-align: top;
  padding: 4px;
}
.form .mainCell
{
  font-weight: bold;
}
.form .footer
{
  text-align: center;
}

.inputCalendar
{
  width: 35%;
}

.forumName
{
  color: Black;
  font-size: 15px;
  font-family: Arial;
}

.questionTitle
{
  color: Green;
  font-size: 15px;
  font-family: Arial;
}

.forumsList 
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;  
}
.forumsList .column1
{
  vertical-align: top;
  width:75%;
}

.forumsList .column2
{
  vertical-align: top;
  text-align: center;
  width:25%;
}

.forumsList .row1
{
  background-color: #FFF8E0;
}

.forumsList .row2
{
  background-color: #FFFFFF;
}

.questionsList
{ 
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsList .column1 
{
  width:80%;
  vertical-align:top;
}

.questionsList .column2 
{
  text-align: center;
  width:10%;    
}
.questionsList .column3 
{
  text-align: center;
  width:10%;    
}

.questionsList .row1
{
  background-color: #EEEEEE;
}

.questionsList .row2
{
  background-color: white;
}

.questionsAndAnswersList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsAndAnswersList .column1 
{
  width:100%;
  vertical-align:top;
}

.questionsAndAnswersList .row1
{
  background-color: #D8D8D8;
}

.questionsAndAnswersList .row2
{
  background-color: #EEEEEE;
}

.questionsAndAnswersList .rowQuestion
{
  width:100%;
}

.questionsAndAnswersList .rowAnswer
{
  width:100%;
  font-style: italic;
}

.answersList
{  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.answersList .column1 
{
  vertical-align: top;
  width:25%; 
}

.answersList .column2 
{
  vertical-align: top;
  width:75%;    
}

.answersList .row1
{
  background-color: #EEEEEE;
}

.answersList .row2
{
  background-color: white;
}

.questionPage .mainCell
{
  font-weight: bold;
}

.newQuestionPage 
{
    
}

.newQuestionPage .column1
{
  vertical-align: top;     
}

.newQuestionPage .column2
{
  width:500px;        
}

.selectMenuLink
{
  display:block;
  width:100%;
  text-decoration:none;
}

A.selectMenuLink:hover
{
  display:block;
  background-color:white;
  width:100%;
  text-decoration:none;
}


/*********** workflow **********/

.workflowInstance
{
  border-style:solid;
  border-width:1px;
  border-color:#C0C0C0;
  background-color:#FFF0F0;  
}

.workflowInstance .header
{
  background-color:#FFD0C0;
  height:32px;  
}

.workflowInstance .header .instanceNumber
{
  color:black;
  font-size: 13px;
  font-style:italic;
}

.workflowInstance .header .stateDesc
{
  color:black;
  font-size: 14px;
}

.workflowInstance .header .col1
{
  width:86%;
  text-align:left;
}

.workflowInstance .header .col2
{
  width:14%;
  text-align:right;
}

.workflowInstance .header .footer
{
  padding:1px;
}

.workflowInstance .footer
{
  background-color:#FFD0D0;
  height:32px;
}

.workflowInstance .footer .col1
{
  width:50%;
  text-align:left;
}

.workflowInstance .footer .col2
{
  width:50%;
  text-align:right;
}

.workflowForms
{
  border-style:solid;
  border-width:1px;
  border-color:red;
}

.instanceListTable
{
  background-color:#FFF0F0;  
  border-style:solid;
  border-width:1px;
  border-color:gray;  
}

.instanceListTable .header
{
  background-color:#FFD0C0;
}

.instanceListTable .col1
{
  width:8%;
}

.instanceListTable .col2
{
  width:4%;
  border-left: 1px solid #FFD0C0;
  text-align:center;
}

.instanceListTable .col3
{
  width:58%;
  border-left: 1px solid #FFD0C0;
}

.instanceListTable .col4
{
  width:30%;
  text-align:right;
}

.instanceListTable .row1
{
  background-color:White;
  height:32px;
}

.instanceListTable .row1:hover
{
  background-color:#FFFFD0;
}

.instanceListTable .row2
{
  height:32px;
}

.instanceListTable .row2:hover
{
  background-color:#FFFFD0;
}

.instanceListTable .footer
{
  border-style:none;
  border-top-style:solid;
  border-color:gray;
  border-width:1px;
}

.instanceListTable .legend .fcol1
{
  width:40%;
  text-align:left;
}

.instanceListTable .legend .fcol2
{
  width:60%;
  text-align:right;
}

.instanceUserState
{
  color:black;
}

.instanceInternalState
{
  color:gray;
  font-size:11px;
}

.workflowMessage
{
  font-weight:bold;
}

.workflowCommandLink
{
  vertical-align:middle;
  display:inline-block;
  text-decoration:none;
  color:Black;
  padding:2px 6px 2px 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  background:url("/common/workflow/images/button.gif");
  border-color:black;
  border-style:solid;
  border-width:1px;
}

A.workflowCommandLink:hover
{
  background:url("/common/workflow/images/button_hover.gif");
}

li.procedureListItem
{
  list-style-type: none;
  list-style-position: outside;
  vertical-align: middle;
  display: block;  
  margin:2px;

  border-style:dashed;
  border-color:#F0B0B0;
  border-top-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:0px; 
}

li.procedureListItem:hover
{
  background-color: #FFFFC0;
}

.procedureGroupText
{
  color:Blue;
  font-size:14px;
}

.procedureText
{
  color:#404040;
  font-size:13px;
  margin-right:2px;
}

A.procedureButton
{
  color:Gray;
  font-size: 11px;
  text-decoration:none;
}

A.procedureButton:hover
{
  color:black;
  background-color:#FFFF20;
}

.sectionHeader
{
  display:block;
  padding:2px;
  font-weight: normal;
  background-color:#FFD0D0;  
}

.uploadFilesList
{
  background-color:white;
  border-style:solid;
  border-color:gray;
  border-width:1px;
}

.uploadFilesList .header
{
  background-color:white;
  border-style:none;
  height:24px;
}

.uploadFilesList .row1
{
  background-color:#FAFAFA;
  height:24px;
}

.uploadFilesList .row2
{
  background-color:white;
  height:24px;
}

.uploadFilesList .col1
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
}

.uploadFilesList .col2
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:1px;
}

.uploadFilesList .col3
{
  border-style:dashed;
  border-color:#D0D0D0;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:0px;
}

.uploadFilesList .documentLink
{
  text-decoration:none;
  color:black;
}

.uploadFilesList A.documentLink:hover
{
  color:#802020;
}

/***** web map *****/

.webMapLeaf
{
  color:gray;
  text-decoration:none;  
}

A.webMapLeaf:hover
{
  color:red;
}

.webMapGroup
{
  color:Black;
  text-decoration:none;
}

A.webMapGroup:hover
{
  color:red;
}

.webMapMenuItem
{
  list-style-type:none;
}

.docContentCol1
{
  width: 70%;
}

.docContentCol2
{
  width: 30%;
}
