/* mobileid.css */

.loginMobile
{
  width:100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  margin-top: 10px;
  box-sizing:border-box;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #808080;
  background-color: #FFF;
  border-radius: 10px;
  box-sizing:border-box;
}

.loginMobile .panel.enter_id_number
{
  background-image: url('../images/enter_id_number.png');
  background-position: 8px 10px;
  background-repeat: no-repeat;
  padding-left: 170px;
  height: 260px;
  margin-top:40px;
}

.loginMobile .panel.wait_for_pin
{
  background-image: url('../images/wait_for_pin.gif');
  background-position: 8px 10px;
  background-repeat: no-repeat;
  padding-left: 170px;
  height: 260px;
  margin-top:40px;
}

.loginMobile .toolbar
{
  margin-top:40px;
}

.loginMobile .messages
{
  padding:0;
}

.loginMobile .messages li
{
  list-style-type:none;
  padding:0;
  font-size: 14px;
}

.loginMobile .messages .error
{
  color: red;
}

.loginMobile .messages .info
{
  color: blue;
}

.loginMobile .inputBox
{
  width:160px;
  font-size: 14px;
}

.loginMobile .selectBox
{
  width:160px;
  font-size: 14px;
}

.loginMobile label
{
  margin-top:20px;
  display:block;
  font-size: 14px;
  padding-top:4px;
  padding-bottom:4px;
  color: #606060;
}

.loginMobile .footer
{
  margin: 0px 0 4px 0;
  text-align:right;
  display:block;
  font-size:11px;
}

.loginMobile .footer a
{
  text-decoration: none;
}

.toolbar input
{
  margin-right: 6px;
}

@media (max-width: 400px)
{
  .loginMobile .panel.wait_for_pin,
  .loginMobile .panel.enter_id_number  
  {
    background-image: none;
    padding: 0;
  }
}