.codemirror-container
{
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  padding: var(--content-padding);
  background-color: var(--surface-ground);
}

.codemirror-container *::selection
{
  color: inherit !important;
}

/* search panel */
.cm-search.cm-panel *
{
  font-size: 12px;
  font-family: var(--font-family);
}

.cm-search.cm-panel label input[type=checkbox]
{
  vertical-align: middle;
}

.cm-search.cm-panel button
{
  text-transform: capitalize;
}