BODY
{
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  text-decoration:none;
}

IMG
{
  border: 0pt;
}

a
{
  text-decoration: none;
  color: Black;
}

a:hover
{
  background-color: rgb(255,132,0);
}

.main
{
  width: 980px;
  background-color: white;
}

.main .topSection
{
  width: 100%;
}

.main .topSection .column1
{
  width: 50%;  
  vertical-align: middle;  
  text-align: center;
}

.main .topSection .column2
{
  width: 50%;  
  vertical-align: middle;    
  text-align: center;
}

.main .noticies324
{
  width: 100%;
}

.main .centerSection
{
  width: 100%;
}

.main .centerSection .leftArea
{
  width: 20%;
  vertical-align:top;
}
.main .centerSection .centerArea
{
  width: 55%;
  vertical-align: top;
  font-size: 8pt;
  text-align: justify;
}

.main .centerSection .rightArea
{
  width: 25%;  
  vertical-align:top;  
}

.blackBorder
{
  border: thin solid rgb(0,0,0);
}

.main .centerSection .leftArea .row1
{
  height: 160px;
  text-align: center;
  vertical-align:top;  
}

.main .centerSection .leftArea .row1 .anonymousUser
{
  font-weight: bold;
  line-height:30px;
  text-align:left;
  margin-top: 20px;
  font-size:7pt;
}

.main .centerSection .leftArea .row1 .nonAnonymousUser
{
  font-weight: bold;
  line-height:30px;
  text-align:left;
  margin-top: 20px;
  font-size:7pt;
}

.main .centerSection .leftArea .row2
{
  background-color: rgb(255,240,240);  
}

.main .centerSection .leftArea .row2 .title
{
  background-color: rgb(192,0,0); 
  color: White;
  font-weight:bold;
  font-size:10pt;
}

.main .centerSection .leftArea .row2 .notitle
{
  font-weight: bold;
  line-height:20px;
}

.main .centerSection .leftArea .row3
{
  background-color:rgb(240,255,240);    
}

.main .centerSection .leftArea .row3 .title
{
  background-color:rgb(0,192,0);
  color: White;
  font-weight:bold;
  font-size:10pt;
}

.main .centerSection .leftArea .row3 .notitle
{
  font-weight: bold;
  line-height:20px;
}


.main .centerSection .leftArea .row4
{
  background-color:rgb(240,240,255);  
}

.main .centerSection .leftArea .row4 .title
{
  background-color:rgb(0,0,192);
  color: White;
  font-weight:bold;
  font-size:10pt;
}
.main .centerSection .leftArea .row4 .notitle
{
  font-weight: bold;   
  line-height:20px;
}

.main .centerSection .rightArea .row1
{  
  vertical-align: middle;
}

.main .centerSection .rightArea .row2
{
  vertical-align:top;
}

.main .centerSection .rightArea .row2 .title
{
  font-weight:bold;
}

.main .centerSection .rightArea .row3
{
  vertical-align:top;
}

.main .centerSection .rightArea .row3 .link
{
  font-weight:bold;
  font-size:8pt;
  color: Blue;
}

.main .centerSection .rightArea .row3 .questionTitle
{
  font-weight:bold;
  color:Black;
  font-size:8pt;
}

.main .bottomSection
{
  width: 100%;  
}

.main .bottomSection .hmenu
{
  font-weight: bold;
  
}

.main .bottomSection .hmenu A
{
  text-decoration: none;
  color: black;
  padding-left: 2px;  
}

.main .bottomSection .hmenu A:hover
{
  background-color: white;
}

.main .bottomSection .hmenu_separator
{
  color: rgb(255,214,165);
  padding-left: 10px;
  padding-right: 7px;
  font-weight: bolder;
}

/****** Forum *********/

.dataScroller
{
  text-align: center;
  font-weight: normal;
}
.dataScroller A
{
  text-decoration: none;
  color: Green;
}

.dataScrollerPaginatorActiveColumn
{
  font-weight: bold;
  font-size: larger;
}

.form
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}
.form .column1
{
  vertical-align: top;
  padding: 4pt;
}
.form .mainCell
{
  font-weight: bold;
}
.form .footer
{
  text-align: center;
}

.inputCalendar
{
  width: 35%;
}

.forumName
{
  color: Black;
  font-size: 15px;
  font-family: Arial;
}

.questionTitle
{
  color: rgb(0,0,214);
  font-size: 14px;
  font-weight:bolder;
}

.questionsList
{ 
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsList .column1 
{
  vertical-align:top;
  width:80%;
}

.questionsList .column2 
{
  text-align: center;
  width:10%;
}

.questionsList .column3 
{
  text-align: center;
  width:10%;
}

.questionsList .row1
{
  background-color: white;
}

.questionsList .row2
{
  background-color: white;
}

.answersList
{  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.answersList .column1 
{
  vertical-align: top;
  width:25%; 
}

.answersList .column2 
{
  vertical-align: top;
  width:75%;    
}

.answersList .row1
{
  background-color: white;
}
.answersList .row2
{
  background-color: white;
}

.questionPage .mainCell
{
  font-weight: bold;
}

.newQuestionPage 
{
    
}

.newQuestionPage .column1
{
  vertical-align: top;     
}

.newQuestionPage .column2
{
  width:500px;        
}

/********************* NEWS ********************/
.newsListPage
{
}

/* News - Filter Panel */
.newsListPage .filterPanel
{
}

.newsListPage .filterPanel .header
{
}

.newsListPage .filterPanel .fp_column1
{
}

.newsListPage .filterPanel .fp_column2
{
}

.newsListPage .filterSubPanel .fsp_column1
{
  width: 15%;
}

.newsListPage .filterSubPanel .fsp_column2
{
}

/* News - Header Document */
.newsListPage .headerDocument
{
}

/* News - Footer Document */
.newsListPage .footerDocument
{
}

/* News - Result List */
.newsListPage .resultList
{
}

.newsListPage .resultList .body
{
}

.newsListPage .resultList .body .section
{
  font-size: 10px;
  text-align: right;
}

.newsListPage .resultList .body .documents
{
}

.newsListPage .resultList .body .documents .header
{
}

.newsListPage .resultList .body .headline
{

}

.newsListPage .resultList .body .headline .column1
{
  width:100%;
}

.newsListPage .resultList .body .headline .column1 A
{
  color: Black;
  font-weight: bolder;
  font-size: 14px;
  text-decoration: none;
}

.newsListPage .resultList .body .headline A:hover
{

}

.newsListPage .resultList .body .headline .column2
{
  text-align: right;
}

.newsListPage .resultList .body .headline .column2 A
{
  color: Black;
  text-decoration: none;
}

.newsListPage .resultList .body .content
{
}

.newsListPage .resultList .body .content .column1
{
  width: 15%;
  text-align: left;
}
.newsListPage .resultList .body .content .column2
{
  width: 85%;
  vertical-align: top;
  text-align: left;
}


/* News - Pàgina noticia ampliada */
.newsSelectPage
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.newsSelectPage .header
{
  text-align: right;
  font-size: 10px;
}

.newsSelectPage .headline
{
  background-color: rgb(247,247,247);
  font-size: 18px;
}

.newsSelectPage .body
{
}

.newsSelectPage .footer
{
  text-align: center; 
}

.newsSelectPage .documents
{
  
}
