BODY
{
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

SELECT
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

TEXTAREA
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

INPUT
{
  font-size:11px;
}

IMG
{
  border: 0pt;
}

H1
{
  font-size: 19px;
}

H2
{
  font-size: 13px;
}

.main
{
  width:100%;
  border-style: none;
  border-color: black;
  border-spacing: 0pt;
  background-color: white;
  line-height: 18px;  
  margin-left: auto;
  margin-right: auto;
}

.mainRow1
{
  vertical-align:top;
  height:65px;  
}
.mainRow2
{
  vertical-align:top;  
}
.mainFirstColumn
{
  width:20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mainSecondColumn
{
  width:80%;
}

.hContainer
{
  width: 100%;
  text-align : left;
}
.navPath
{
  color: White;
  font-weight: bold;
  width: 100%;
}
.navPath A
{
  text-decoration: none;
  color: White;
}

.navPath A:hover
{
  text-decoration: underline;
}



.hmenu
{
  vertical-align: top;
}

.hmenu A
{
  text-decoration: none;
  color: black;
  padding-left: 2px;  
}

.hmenu A:hover
{
  color: #808080;
}

.hmenu_separator
{
  padding-left: 10px;
  padding-right: 7px;
  font-weight: bolder;
}
.hmenu_selected A
{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.hmenu_unselected A
{
  text-decoration:none;  
  color: black;
}


.vmenu
{
  border:none;
  border-width: 0px;
  width:100%;
}

.vmenu TD
{
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 100%;
  height: 35px;
  border:none;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

.languageContainer
{
  border-width:1px;
  background-color: #FFF8E0;
  border-style:dashed;
  border-color:#8080FF;
  width: 100%;
  line-height: 8pt;
}

.loginContainer
{
  border-width:1px;
  background-color: #FFF8E0;
  border-style:dashed;
  border-color:#8080FF;
  width: 100%;
  line-height: 8pt;  
}

.loginButton
{
  background-color:#E5EC3D;
  text-decoration:none;
  border-width:1px;
  border-style:solid;
  border-color:Red;
  padding:1px 6px 1px 6px;
}

A.loginButton:hover
{
  background-color:#F5FC3D;
  text-decoration:none;
  border-width:1px;
  border-style:solid;
  border-color:Red;
  padding:1px 6px 1px 6px;
}

.bodyColumn
{
  width: 72%;
  text-align: left;
  vertical-align: top;
}

.linksColumn
{
  width: 28%;
  vertical-align: top;
  text-align: left;
}


.lkmenu_selected
{
  text-align:left;
  padding: 2pt;
}

.lkmenu_unselected
{
  text-align:left;
  padding: 2pt;
}

.lkmenu_selected A
{
  color:Black;
  text-decoration: none;
  font-weight: bold;
}

.lkmenu_unselected A
{
  color:Black;
  text-decoration: none;  
}

.lkmenu_unselected A:hover
{
  color:Gray;
  text-decoration: none;  
}

.headLinks
{
  text-align: center;
  font-weight: bold;
}




.cj0_sel A
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj0_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj0_unsel A
{
  color:#C0C0C0;
  display: block;
  width:100%;
  text-align:center; 
  text-decoration:none;
  background: url("../images/cj0_unsel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj0_unsel A:hover
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj0_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}


.cj1_sel A
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj1_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj1_unsel A
{
  color:#C0C0C0;
  display: block;
  width:100%;
  text-align:center; 
  text-decoration:none;
  background: url("../images/cj1_unsel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj1_unsel A:hover
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj1_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 

}

.cj2_sel A
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj2_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj2_unsel A
{
  color:#C0C0C0;
  display: block;
  width:100%;
  text-align:center; 
  text-decoration:none;
  background: url("../images/cj2_unsel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj2_unsel A:hover
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj2_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 

}

.cj3_sel A
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj3_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj3_unsel A
{
  color:#C0C0C0;
  display: block;
  width:100%;
  text-align:center; 
  text-decoration:none;
  background: url("../images/cj3_unsel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj3_unsel A:hover
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj3_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 

}

.cj4_sel A
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj4_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj4_unsel A
{
  color:#C0C0C0;
  display: block;
  width:100%;
  text-align:center; 
  text-decoration:none;
  background: url("../images/cj4_unsel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj4_unsel A:hover
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj4_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 

}

.cj5_sel A
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj5_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj5_unsel A
{
  color:#C0C0C0;
  display: block;
  width:100%;
  text-align:center; 
  text-decoration:none;
  background: url("../images/cj5_unsel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj5_unsel A:hover
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj5_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj6_sel A
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj6_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj6_unsel A
{
  color:#C0C0C0;
  display: block;
  width:100%;
  text-align:center; 
  text-decoration:none;
  background: url("../images/cj6_unsel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj6_unsel A:hover
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj6_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 

}

.cj7_sel A
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj7_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj7_unsel A
{
  color:#C0C0C0;
  display: block;
  width:100%;
  text-align:center; 
  text-decoration:none;
  background: url("../images/cj7_unsel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.cj7_unsel A:hover
{
  color:White;
  display: block;
  width:100%;  
  text-decoration:none;
  background-image: url("../images/cj7_sel.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 8px 0px 8px 0px; 
}

.imageSeparator
{
 width: 0;
}


/***************** COMMON STYLES *****************/

.button
{
  background-color: #F0C000;
  border-style: outset;
}

.buttonLink
{
  color: Green; 
  text-decoration: none;
}

.selectLink 
{
  color: Green; 
  text-decoration: none;
}

.selectLink:hover
{
  color: Green; 
  text-decoration:underline;
}

.infoMessage
{
  color: green; 
  font-weight: bold;  
}
.warnMessage
{
  color: #FF9900;  
  font-weight: bold;    
}
.errorMessage
{
  color: red;
  font-weight: bold;
}
.fatalMessage
{
  color: red;  
  font-weight: bold;  
}



.filterPanel
{
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #EEEEEE;
  text-align: left;
  width: 100%;
}
.filterPanel .fp_header
{
  text-align: center;
}
.filterPanel .fp_column1
{
  width: 80%;
}
.filterSubPanel
{
  width:100%;
}
.filterSubPanel .fsp_column1
{
  width: 30%;
}
.filterSubPanel .fsp_column2
{
  width: 70%;
}


.resultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}
.resultList TD
{
  padding: 2pt;
}
.resultList .row1
{
  background-color: #EEEEEE;
}
.resultList .row2
{
  background-color: white;
}
.resultList .selectLink
{
  text-align: right;
}


/***************** NEWS *****************/
/* News - Filter Panel */
.newsListPage .filterPanel
{
  background-color: #FFF8E0;
  border-color: #E7CE39;
}

/* News - Result List */
.newsListPage .resultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
}

.newsListPage .resultList .column1
{
  vertical-align: top;
}
.newsListPage .resultList .column2
{
  vertical-align: top;
}

.newsListPage .resultList .row1 
{
  background-color: #EEEEEE;
}

.newsListPage .resultList .row2
{
  background-color: white;
}

.newsListPage .resultList .headline .column2
{
  text-align: right;
}

.newsListPage .resultList .headline A
{
  color: Black;
  font-weight: bold;
  text-decoration: none;
}

.newsListPage .resultList .headline A:hover
{
  text-decoration: underline;
}


/* News - Noticia ampliada */
.newsSelectPage
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.newsSelectPage .header
{
  text-align: right;
  font-size: 10px;
}

.newsSelectPage .headline
{
  background-color: rgb(247,247,247);
}

.newsSelectPage .footer
{
  text-align: center; 
  padding: 10px ;
}



/******************** AGENDA *******************/
.agendaListPage .filterPanel
{
  border-width: 1px;
  border-style: solid ;
  border-color:#AD0808;
  background-color: #FFEEEE;
  text-align: left;
  width: 100%;
}
.agendaListPage .filterPanel .header
{
  text-align: center;
}
.agendaListPage .filterPanel .fp_column1
{
  width: 80%;
}
.agendaListPage .filterSubPanel
{
  width:100%;
}
.agendaListPage .filterSubPanel .fsp_column1
{
  width: 30%;
}
.agendaListPage .filterSubPanel .fsp_column2
{
  width: 70%;
}



.agendaListPage .resultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
  
}
.agendaListPage .resultList .eventHeader .column1
{
  width: 5%;
}
.agendaListPage .resultList .eventHeader .column2
{
  width: 25%;
}
.agendaListPage .resultList .eventHeader .column3
{
  width: 5%;
}
.agendaListPage .resultList .eventHeader .column4
{
  width: 25%;
}
.agendaListPage .resultList .eventHeader .column5
{
  width: 40%;
  text-align: right;
}
.agendaListPage .resultList .eventName
{
  font-weight: bold;
}
.agendaListPage .resultList .eventName A
{
  text-decoration: none;
  color: Black;
}
.agendaListPage .resultList .eventName A:hover
{
  text-decoration: underline;
}



.agendaEventPage
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.agendaEventPage .eventType
{
  text-align: right;
  font-size: 8px; 
  padding-right: 5px;  
}

.agendaEventPage .eventTitle
{
  font-size: 14px;
  font-weight: bold;
}

.agendaEventPage .description
{
  font-size: 14px;
}

.agendaEventPage .timetable .column1
{
  width:5%;
  vertical-align: top;
}

.agendaEventPage .timetable .column2
{
  width:95%;
}


/********* Documents ********/
.documentsListPage .filterPanel
{
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #EEEEEE;
  text-align: left;
  width: 100%;
}
.documentsListPage .filterPanel .fp_header
{
  text-align: center;
}
.documentsListPage .filterPanel .fp_column1
{
  width: 80%;
}
.documentsListPage .filterSubPanel
{
  width:100%;
}
.documentsListPage .filterSubPanel .fsp_column1
{
  width: 30%;
}
.documentsListPage.filterSubPanel .fsp_column2
{
  width: 70%;
}




/****** Forum *********/
.forumResultList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
  
}
.forumResultList TD
{
  padding: 2pt;
}
.forumResultList .row1
{
  background-color: #EEEEEE;
}
.forumResultList .row2
{
  background-color: white;
}
.forumResultList .mainCell
{
  font-weight: bold;
}
.forumResultList .selectLink
{
  text-align: right;
}
.forumResultList .column1
{
  width:30%;
}
.forumResultList .column2
{
  width:65%;
}
.forumResultList .column3
{
  width:5%;
}
.dataScroller
{
  text-align: center;
  font-weight: normal;
}
.dataScroller A
{
  text-decoration: none;
  color: Green;
}

.dataScrollerPaginatorActiveColumn
{
  font-weight: bold;
  font-size: larger;
}

.form
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}
.form .column1
{
  background-color: #EEEEEE;    
  vertical-align: top;
  padding: 4pt;
}
.form .mainCell
{
  font-weight: bold;
}
.form .footer
{
  text-align: center;
}

.inputCalendar
{
  width: 35%;
}

.forumName
{
  color: Black;
  font-size: 15px;
  font-family: Arial;
}

.questionTitle
{
  color: Green;
  font-size: 15px;
  font-family: Arial;
}

.forumsList 
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;  
}
.forumsList .column1
{
  vertical-align: top;
  width:75%;
}

.forumsList .column2
{
  vertical-align: top;
  text-align: center;
  width:25%;
}

.forumsList .row1
{
  background-color: #FFF8E0;
}

.forumsList .row2
{
  background-color: #FFFFFF;
}

.questionsList
{ 
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsList .column1 
{
  width:80%;
  vertical-align:top;
}

.questionsList .column2 
{
  text-align: center;
  width:10%;    
}
.questionsList .column3 
{
  text-align: center;
  width:10%;    
}

.questionsList .row1
{
  background-color: #EEEEEE;
}

.questionsList .row2
{
  background-color: white;
}

.questionsAndAnswersList
{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.questionsAndAnswersList .column1 
{
  width:100%;
  vertical-align:top;
}

.questionsAndAnswersList .row1
{
  background-color: #D8D8D8;
}

.questionsAndAnswersList .row2
{
  background-color: #EEEEEE;
}

.questionsAndAnswersList .rowQuestion
{
  width:100%;
}

.questionsAndAnswersList .rowAnswer
{
  width:100%;
  font-style: italic;
}

.answersList
{  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  border-collapse: collapse;
}

.answersList .column1 
{
  vertical-align: top;
  width:25%; 
}

.answersList .column2 
{
  vertical-align: top;
  width:75%;    
}

.answersList .row1
{
  background-color: #EEEEEE;
}
.answersList .row2
{
  background-color: white;
}


.questionPage .mainCell
{
  font-weight: bold;
}

.newQuestionPage 
{
    
}

.newQuestionPage .column1
{
  vertical-align: top;     
}

.newQuestionPage .column2
{
  width:500px;        
}



/******* print *******/
.printButton
{
  text-align:right;
}

.printButton A
{
  text-decoration:none;
  color:Black;
  display:inline-block;
  padding:0px 3px 0px 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  background:#F0F0F0;
  border-color:gray;
  border-style:solid;
  border-width:1px;
  font-size:10px;
}

.printButton A:hover
{
  background:#FEFEFE;
  border-color:black;
}
