/* 
    Document   : template
    Created on : 06/08/2013, 09:31:15
    Author     : realor
*/

body
{
  font-family: Arial;
  font-size: 12px;
}


/* header elements */

.pageHeader
{
  position:relative;
  height:80px;
  border-bottom: 1px solid black;  
  background-color: #97145A;
  background-image:url('../images/background.jpg');
}

.topPanel
{
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:22px;
  text-align: right;
}

.logoPanel
{
  position:absolute;
  top:4px;
  left:10px;
  display:inline-block;
}

.loginPanel
{
  position:absolute;
  top:30px;
  right:4px;
  display:inline-block;
}

.loginBox
{
  font-family: Arial;
  font-size: 12px;
  vertical-align: middle;
  display:inline-block;
  border: none;
  color:#D0D0D0;
  border:1px solid #A7246A;
  background:transparent url(../images/box_back.png);
}

.loginText
{
  vertical-align: middle;
  display:inline-block;
  font-weight: bold;
  color: #C0C0C0;
}

.loginCommand
{
  margin-left:4px;
  text-decoration: none;
  border:1px solid #A0A0A0;
  padding:1px;
  background: #AF196A;
  color:white;
  vertical-align: middle;
  display:inline-block;
}

.loginCommand:hover
{
  background: black;
}

.loginMessage
{
  display:inline-block;
  color: red;
  font-weight: bold;
  margin-left: 4px;
}

.displayNameText
{
  color: #E0E0E0;
  vertical-align: middle;
}

.clock
{
  color:#D0D0D0;
  vertical-align: middle;
  margin-right: 6px;
}

.langSel
{
  background: #97145A;
  color:#D0D0D0;
  border:none;
  border: 1px solid black;
  vertical-align: middle;
}

.navPath
{
  position:absolute;
  bottom:6px;
  right:0;
  display:inline-block;
}

.navPath a
{
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
  color: #C0C0C0;
  border-right: 1px solid gray;
}

.navPath a:hover
{
  color:#F0F0F0;
}


/* page body */

.pageBody /* page body without web toolbar */
{
  position:absolute;
  display:block;
  top:81px;
  left:0;
  right:0;
  bottom:0;
  height:auto;
}

.adminview .pageBody /* page body with web toolbar */
{
  top:106px;
}

/* mapViewer fullscreen */
.pageBody #mapViewer
{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:auto;
  display:block;
}
