/* dynamic_report */

.reportPanel
{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.reportPanel .formPanel
{
  position:absolute;
  left:0;
  top:0;
  width:300px;
  bottom:0;
}

.reportPanel .formPanel .reportTitle
{
  padding:4px;
  font-weight: bold;
}

.reportPanel .formPanel .reportSelector
{
  padding:4px;
}

.reportPanel .formPanel .reportSelector .reportLabel
{
  display:block;
}

.reportPanel .formPanel .reportSelector select
{
  display:block;
}

.reportPanel .body
{
  width:100%;
  overflow-x:auto;
}

.reportPanel .previewPanel
{
  position:absolute;
  left:300px;
  right:0;
  top:0;
  bottom:0;
  background: #E0E0E0;
  border:none;
  border-left:1px solid gray;
}

.reportPanel .previewPanel iframe
{
  border:none;
  background: url(../images/wait.gif) center center no-repeat;
}

