.textnegretanoticia {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textnoticia {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textnegreta {
	FONT-WEIGHT: bold; 
	ONT-SIZE: 10px; 
	FONT-FAMILY: Tahoma, Arial; 
	TEXT-DECORATION: none
}
.text {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	LINE-HEIGHT: 18px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Tahoma, Arial; 
	TEXT-DECORATION: none
}
.links {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.links:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #bfbfbf; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
