/* policy */

.analyzer
{
  overflow:auto;
  border:1px solid black;
  height:400px;
}

.analyzer span
{
  display:block;
  font-size: 12px;
  font-family: "Courier New", Monospaced;
  word-wrap: break-word;
  padding: 2px;
}

.analyzer span.row0
{
  background-color:#F0F0F0;
}

.analyzer span.row1
{
  background-color:white;
}

.analyzer span.INFO
{
  color: black;
}

.analyzer span.WARNING
{
  color: orange;
}

.analyzer span.SEVERE
{
  color: red;
}

.analyzer span.FINE,
.analyzer span.FINER,
.analyzer span.FINEST
{
  color: #808080;
}

.analyzer span:hover
{
  background-color: #707070;
  color: white;
}

